﻿@{
    ViewBag.Title = "Nuevo Boletin | New Newsletter";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

@section style
{
    <link href="~/Content/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <style>
        .wizard > .content > .body {
            position: relative !important;
            width: 100% !important;
        }
    </style>

    <style>
        .fileinput-button {
            position: relative;
            overflow: hidden;
        }

            .fileinput-button input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }

        @@media screen\9 {
            .fileinput-button input {
                filter: alpha(opacity=0);
                font-size: 100%;
                height: 100%;
            }
        }
    </style>
}

<div class="wrapper wrapper-content" ng-controller="BoletinCrtl">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form role="form" name="BoletinForm" class="form-horizontal">

                    <div class="form-group">
                        <label for="FK_IdEdicion__SCH" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="FK_IdEdicion__SCH" required ng-options="item as item.Descripcion for item in edicionList">
                                <option value="">Seleccione ... </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="BasesConvocatoria_ES" class="col-md-2 control-label">Boletin | Boletin</label>
                        <div class="col-md-5">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-xs-12 file_upload">
                                            <span class="btn btn-success fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>Boletin en Español | Boletin in Spanish</span>
                                                <input class="fileupload"
                                                       type="file"
                                                       name="file"
                                                       accept="application/pdf"
                                                       data-id="Boletin_ES" />
                                            </span>
                                            <br>
                                            <br>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-xs-12 file_upload" file-upload>
                                            <span class="btn btn-success fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>Boletin en Inglés | Boletin in english</span>
                                                <input class="fileupload"
                                                       type="file"
                                                       name="file"
                                                       accept="application/pdf"
                                                       data-id="Boletin_EN" />
                                            </span>
                                            <br>
                                            <br>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Titulo_ES" class="col-md-2 control-label">Titulo en Español | Titulo in Spanish</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Titulo_ES" placeholder="Titulo en Español | Titulo in Spanish" ng-model="boletin.Titulo_ES" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Titulo_EN" class="col-md-2 control-label">Titulo en Inglés | Titulo in english</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Titulo_EN" placeholder="Titulo en Inglés | Titulo in english" ng-model="boletin.Titulo_EN" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Fecha" class="col-md-2 control-label">Fecha Publicacion | Publish Date</label>
                        <div class="col-md-10">
                            <input type="date" id="Fecha" placeholder="Fecha Publicacion | Publish Date" ng-model="boletin.FechaString" required>
                        </div>
                    </div>

                    <hr />
                    <div class="alert alert-danger" role="alert" ng-show="errorList.length > 0">
                        <strong>Oh snap!</strong>
                        <p ng-repeat="item in errorList">{{item}}</p>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="crearBoletin()">Registro | Register</button>
                    <hr />
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.fileupload.js"></script>
    <!---------------------------------------------->
    <script>
        angular.module('App', [])
            .controller('BoletinCrtl', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                //---------------------------
                var ctrl = this;
                ctrl.Service = '/api/ConfigService/';
                ctrl.ServiceOp = '/Boletin/';
                //---------------------------
                ctrl.init = function () {
                    $http.get(ctrl.Service + 'SelectEdicion').then(function (response) { $scope.edicionList = response.data; });
                };
                //---------------------------
                $scope.errorList = [];
                $scope.boletin = {};
                //----------------------------------------
                $scope.$watch('FK_IdEdicion__SCH', function (v) {
                    if (v === undefined) return;
                    //----------------------------
                    $scope.boletin.FK_IdEdicion__SCH = v.Id;
                });
                //----------------------------------------
                ctrl.init();
                $scope.crearBoletin = function () {
                    $scope.errorList = [];
                    $http.post(ctrl.ServiceOp + 'Create', $scope.boletin).then(
                        function (response) {
                            $window.location.href = response.data.Url;
                        }
                        , function (response) {
                            if (response.status == 400)
                            {
                                $scope.errorList = response.data;
                            }
                        }
                    );
                };

                $scope.setVariable = function (id, url) {
                    Object.defineProperty($scope.boletin, id, {
                        value: url,
                        writable: true,
                        enumerable: true,
                        configurable: true
                    });
                }
                angular.element('.file_upload').each(function () {
                    var progress_bar = $(this).find('.progress .progress-bar');
                    var id = $(this).find('.fileupload').attr("data-id");
                    var display = $(this).find('.display');
                    var img = $(this).find('.display img');

                    $(this).fileupload({
                        url: '/File/UploadFileImage',
                        acceptFileTypes: /(.|\/)(gif|jpe?g|png|pdf)$/i,
                        dataType: 'json',
                        add: function (e, data) {
                            data.submit();
                        },
                        done: function (e, data) {
                            console.log(data);
                            console.log($scope.boletin);
                            console.log(id);
                            //window.filesUpload[id] = data.result.pathfile;

                            console.log(data.result.pathfile);
                            $scope.$apply(function () {
                                $scope.setVariable(id, data.result.pathfile);
                            })
                        },
                        progressall: function (e, data) {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $(progress_bar).css(
                                'width',
                                progress + '%'
                            );
                        }
                    }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
                });
            }]);
    </script>
}