﻿@using ECO._2015.Controllers.Services
@model DisplayBoletinViewModel

@{
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
    ViewBag.Title = "Patrocinador | Patrocinador";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form name="edicionFestivalForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="Edicion" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.FK_IdEdicion__SCH) - @Html.DisplayFor(model => model.descripcionEdicion) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Boletin_ES" class="col-md-2 control-label">Boletin en Español | Boletin in Spanish</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Boletin_ES) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Boletin_EN" class="col-md-2 control-label">Boletin en Inglés | Boletin in english</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Boletin_EN) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Titulo_EN" class="col-md-2 control-label">Titulo en Inglés | Titulo in english</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Titulo_ES) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Fecha" class="col-md-2 control-label">Fecha Publicacion | Publish Date</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Fecha) </p>
                        </div>
                    </div>

                    <hr />
                        <a href="@Url.Action("Edit", "Boletin")/@Html.DisplayFor(model => model.Id)" class="btn btn-success">
                            Editar
                        </a>
                        <a href="@Url.Action("Index", "Boletin")" class="btn btn-success">
                            Volver a la Lista
                        </a>
                    <hr />
                </form>
            </div>
        </div>
    </div>
</div>
