﻿@using ECO._2015.Controllers.Services
@model DisplayBoletinViewModel

@{
    ViewBag.Title = "Editar Boletin | Edit NewsLetter";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

<div class="wrapper wrapper-content" ng-controller="BoletinCrtl">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form role="form" name="BoletinForm" class="form-horizontal">

                    <div class="form-group">
                        <label for="FK_IdEdicion__SCH" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="FK_IdEdicion__SCH" required ng-options="item as item.Descripcion for item in edicionList">
                                <option value="">Seleccione ... </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Boletin_ES" class="col-md-2 control-label">Boletin en Español | Boletin in Spanish</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Boletin_ES" placeholder="Boletin en Español | Boletin in Spanish" ng-model="boletin.Boletin_ES" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Boletin_EN" class="col-md-2 control-label">Boletin en Inglés | Boletin in english</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Boletin_EN" placeholder="Boletin en Inglés | Boletin in english" ng-model="boletin.Boletin_EN" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Titulo_ES" class="col-md-2 control-label">Titulo en Español | Titulo in Spanish</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Titulo_ES" placeholder="Titulo en Español | Titulo in Spanish" ng-model="boletin.Titulo_ES" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Titulo_EN" class="col-md-2 control-label">Titulo en Inglés | Titulo in english</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Titulo_EN" placeholder="Titulo en Inglés | Titulo in english" ng-model="boletin.Titulo_EN" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Fecha" class="col-md-2 control-label">Fecha Publicacion | Publish Date</label>
                        <div class="col-md-10">
                            <input type="date" id="Fecha" placeholder="Fecha Publicacion | Publish Date" ng-model="boletin.FechaString" required>
                        </div>
                    </div>

                    <hr />
                    <div class="alert alert-danger" role="alert" ng-show="errorList.length > 0">
                        <strong>Oh snap!</strong>
                        <p ng-repeat="item in errorList">{{item}}</p>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="editarBoletin()">Editar | Edit</button>
                    <hr />
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <!---------------------------------------------->
    <script>
        angular.module('App', [])
            .controller('BoletinCrtl', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                //---------------------------
                var ctrl = this;
                ctrl.Service = '/api/ConfigService/';
                ctrl.ServiceOp = '/Boletin/';
                //---------------------------
                $scope.errorList = [];
                var idBoletin = "";
                $scope.boletin = {};
                //----------------------------
                ctrl.init = function () {
                    $http.get(ctrl.Service + 'SelectEdicion').then(function (response) {
                        $scope.edicionList = response.data;
                        $scope.boletin.FK_IdEdicion__SCH = "@Html.DisplayFor(model => model.FK_IdEdicion__SCH)";
                        $.each($scope.edicionList, function (key, value) {
                            if (value.Id == $scope.boletin.FK_IdEdicion__SCH) {
                                $scope.FK_IdEdicion__SCH = $scope.edicionList[key];
                            }
                        });
                    });

                    $scope.boletin.Boletin_ES = "@Html.DisplayFor(model => model.Boletin_ES)";
                    $scope.boletin.Boletin_EN = "@Html.DisplayFor(model => model.Boletin_EN)";
                    $scope.boletin.Titulo_ES = "@Html.DisplayFor(model => model.Titulo_ES)";
                    $scope.boletin.Titulo_EN = "@Html.DisplayFor(model => model.Titulo_EN)";
                    $scope.boletin.FechaString = new Date(moment(("@Html.DisplayFor(model => model.Fecha, "{0:dd/MM/yyyy}")".split(" 12:00:00 a. m."))[0], 'DD/MM/YYYY').format('YYYY-MM-DD'));
                    console.log($scope.boletin.FechaString);
                    idBoletin = "@Html.DisplayFor(model => model.Id)";
                };
                //----------------------------------------
                $scope.$watch('FK_Edicion', function (v) {
                    if (v === undefined) return;
                    //----------------------------
                    $scope.boletin.Edicion = v.Id;
                });

                //----------------------------------------
                ctrl.init();
                //----------------------------
                $scope.editarBoletin = function () {
                    $scope.errorList = [];

                    $http.post(ctrl.ServiceOp + 'Edit', { 'id': idBoletin, 'model': $scope.boletin }).then(
                        function (response) {
                            $window.location.href = response.data.Url;
                        }
                        , function (response) {
                            if (response.status == 400)
                            {
                                $scope.errorList = response.data;
                            }
                        }
                    );
                };
            }])
        ;
    </script>
}
