﻿@{
    ViewBag.Title = "Lista de Boletines | List of NewsLetters";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

<div class="wrapper wrapper-content" ng-controller="BoletinCtrl">
    <div class="row">
        <div class="col-sm-8">
            <button type="button" class="btn btn-warning" ng-click="add()" ng-show="!itemActive">Crear</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()" ng-show="itemActive">Regresar</button>
            <hr />
            <div ng-view></div>
        </div>
        
        <div class="col-sm-4">
            <h5>loading</h5>
            <pre>{{loading}}</pre>
            <pre>{{itemActive | json}}</pre>
        </div>
    </div>
</div>

<script type="text/ng-template" id="list.html">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Edicion del Festival</th>
                <th>Boletin ES</th>
                <th>Boletin EN</th>
                <th>Titulo ES</th>
                <th>Titulo EN</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in itemList track by $index">
                <th scope="row">{{ item.Id }}</th>
                <td>{{ item.FK_IdEdicion__SCH }} - {{item.descripcionEdicion}}</td>
                <td>
                    <a ng-href="{{ item.Boletin_ES }}" ta target="_blank" ng-show="item.Boletin_ES">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a ng-href="{{ item.Boletin_EN }}" ta target="_blank" ng-show="item.Boletin_EN">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </a>
                </td>
                <td>{{ item.Titulo_ES }}</td>
                <td>{{ item.Titulo_EN }}</td>
                <td>{{ item.Fecha | date:'dd/mm/yyyy' }}</td>
                <td>
                    <button type="button" ng-click="view(item , $index)" class="btn btn-primary">
                        Detalles
                    </button>
                    <button type="button" ng-click="edit(item)" class="btn btn-success">
                        Editar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="detail.html">
    <form role="form" name="BoletinForm" class="form-horizontal">

        <div class="form-group">
            <label for="FK_IdEdicion__SCH" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
            <div class="col-md-10">
                <select class="form-control" ng-model="itemActive.FK_IdEdicion__SCH" required ng-options="item.Id as item.Nombre_ES for item in edicionList">
                    <option value="">Seleccione ... </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="Boletin_ES" class="col-md-2 control-label">Boletin en Español | Boletin in Spanish</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Boletin_ES" placeholder="Boletin en Español | Boletin in Spanish" ng-model="itemActive.Boletin_ES" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Boletin_EN" class="col-md-2 control-label">Boletin en Inglés | Boletin in english</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Boletin_EN" placeholder="Boletin en Inglés | Boletin in english" ng-model="itemActive.Boletin_EN" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Titulo_ES" class="col-md-2 control-label">Titulo en Español | Titulo in Spanish</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Titulo_ES" placeholder="Titulo en Español | Titulo in Spanish" ng-model="itemActive.Titulo_ES" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Titulo_EN" class="col-md-2 control-label">Titulo en Inglés | Titulo in english</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Titulo_EN" placeholder="Titulo en Inglés | Titulo in english" ng-model="itemActive.Titulo_EN" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Fecha" class="col-md-2 control-label">Fecha Publicacion | Publish Date</label>
            <div class="col-md-10">
                <input type="date" class="form-control"  id="Fecha" placeholder="Fecha Publicacion | Publish Date" ng-model="itemActive.Fecha" required>
            </div>
        </div>

        <hr />
        @*<div class="alert alert-danger" role="alert" ng-show="errorList.length > 0">
                <strong>Oh snap!</strong>
                <p ng-repeat="item in errorList">{{item}}</p>
            </div>*@
        <button type="button" class="btn btn-info" ng-click="save()">Registro | Register</button>
        <hr />
    </form>
</script>

<script type="text/ng-template" id="view.html">
    <pre>{{itemActiveDetail | json}}</pre>
</script>
@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>

    <!---------------------------------------------->
    <script>
        angular.module('App', ['ngRoute'])
            .config(function ($routeProvider) {
                $routeProvider
                    .when('/', {
                        templateUrl: 'list.html'
                    })
                    .when('/detail', {
                        templateUrl: 'detail.html'
                    })
                    .when('/view', {
                        templateUrl: 'view.html'
                    })
                ;
             
            })
            .controller('BoletinCtrl', ['$scope', '$http', '$location', '$q', function ($scope, $http, $location, $q) {
                //---------------------------
                //var ctrl = this;
                var Service = '/api/ConfigService/';
                var Action = 'Boletin';
                //---------------------------
                $scope.loading = true;
                var qBoletin = $http.get(Service + Action);
                var qEditions = $http.get(Service + 'Edicion');
                $q.all([
                    qBoletin.then(function (response) { $scope.itemList = response.data; }),
                    qEditions.then(function (response) { $scope.edicionList = response.data; })
                ]).then(function () {
                    $scope.loading = false;
                });
                //---------------------------
                //---------------------------
                //---------------------------
                $scope.itemActive = undefined;
                $scope.itemActiveDetail = undefined;
                //---------------------------
                $scope.cancel = function () {
                    $scope.itemActive = undefined;
                    $scope.itemActiveDetail = undefined;
                    $location.path('/');
                };
                $scope.add = function () {
                    $scope.itemActive = {};
                    $location.path('detail');
                };
                $scope.edit = function (item) {
                    $scope.itemActive = item;
                    $location.path('detail');
                };
                $scope.delete = function (item) {

                };
                $scope.view = function (item) {
                    $scope.itemActive = item;
                    $scope.loading = true;
                    var id = $scope.itemActive.Id;
                    $http.get(Service + Action + '/' + id).then(
                        function (response) {
                            $scope.itemActiveDetail = response.data;
                            $location.path('view');
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('view fail', response);
                            $scope.cancel();
                            $scope.loading = false;
                        }
                    );
                };
                $scope.save = function () {
                    if ($scope.itemActive === undefined) return;
                    $scope.loading = true;
                    var id = $scope.itemActive.Id;
                    if (id > 0) {
                        $http.put(Service + Action +'/'+id, $scope.itemActive).then(
                            function (response) {
                                console.info('update ok', response);
                                response.data.Fecha = new Date(response.data.Fecha);
                                $scope.itemActive = angular.copy(response.data);
                                $scope.cancel();
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('update fail', response);
                                $scope.cancel();
                                $scope.loading = false;
                            }
                        );
                    } else {
                        $http.post(Service + Action, $scope.itemActive).then(
                            function (response) {
                                console.info('save ok', response);
                                response.data.Fecha = new Date(response.data.Fecha);
                                $scope.itemList.push(response.data);
                                $scope.cancel();
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('save fail', response);
                                $scope.cancel();
                                $scope.loading = false;
                            }
                        );
                    }                    
                };
                //---------------------------
            }])
        ;
    </script>
}
