﻿@model ECO._2015.Models.App.AppEquipo

<table class="table table-bordered tableclosevideo">
    <tr>
        <td colspan="2">
            <h4>@Html.DisplayFor(e => Model.AppTipoEquipo.TipoEquipo_ES) | @Html.DisplayFor(e => Model.AppTipoEquipo.TipoEquipo_EN)</h4>
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Nombre)</td>
        <td>@Html.DisplayFor(e => Model.Nombre)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(e => Model.Direccion)</td>
        <td>@Html.DisplayFor(e => Model.Direccion)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(e => Model.Email)</td>
        <td>@Html.DisplayFor(e => Model.Email)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Telefono)</td>
        <td>@Html.DisplayFor(e => Model.Telefono)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Local_Cel)</td>
        <td>@Html.DisplayFor(e => Model.Local_Cel)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Facebook)</td>
        <td>@Html.DisplayFor(e => Model.Facebook)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Twiiter)</td>
        <td>@Html.DisplayFor(e => Model.Twiiter)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Casa_Productora)</td>
        <td>@Html.DisplayFor(e => Model.Casa_Productora)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Web_Site_Casa_Productora)</td>
        <td>@Html.DisplayFor(e => Model.Web_Site_Casa_Productora)</td>
    </tr>
</table>