﻿@model ECO._2015.Models.App.AppEquipo

<table class="table table-bordered tableclosevideo">
    <tr>
        <td colspan="2">
            <h4>@Html.DisplayFor(e => Model.AppTipoEquipo.TipoEquipo_ES) | @Html.DisplayFor(e => Model.AppTipoEquipo.TipoEquipo_EN)</h4>
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Nombre)</td>
        <td>@Html.DisplayFor(e => Model.Nombre)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(e => Model.Estudios)</td>
        <td>@Html.DisplayFor(e => Model.Estudios)</td>
    </tr>

    <tr>
        <td>@Html.DisplayNameFor(e => Model.Email)</td>
        <td>@Html.DisplayFor(e => Model.Email)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Telefono)</td>
        <td>@Html.DisplayFor(e => Model.Telefono)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Local_Cel)</td>
        <td>@Html.DisplayFor(e => Model.Local_Cel)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Ocupacion)</td>
        <td>@Html.DisplayFor(e => Model.Ocupacion)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Estudiante)</td>
        <td>@Html.DisplayFor(e => Model.Estudiante)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Profecional)</td>
        <td>@Html.DisplayFor(e => Model.Profecional)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Ciudad_Estudio)</td>
        <td>@Html.DisplayFor(e => Model.Ciudad_Estudio)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Mexicano)</td>
        <td>@Html.DisplayFor(e => Model.Mexicano)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(e => Model.Nacionalidad)</td>
        <td>@Html.DisplayFor(e => Model.Nacionalidad)</td>
    </tr>
    <tr>
        <td colspan="2">@Html.DisplayNameFor(e => Model.Biografia)</td>
    </tr>
    <tr>
        <td colspan="2">@Html.DisplayFor(e => Model.Biografia)</td>
    </tr>
</table>