﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ecofilm 2014", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && User.IsInRole("participante"))
                    {
                        <li>@Html.ActionLink("Mis Cortos | My Short Films", "Index", "ShortFilms")</li>
                    }

                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Prensa", "Index", "Prensa")</li>
                        <li>@Html.ActionLink("Jurado", "PreseleccionJurado", "AdminFilms")</li>
                        <li>@Html.ActionLink("Video Galería", "ViewSelOf", "AdminFilms")</li>
                        <li>@Html.ActionLink("Ganadores", "ViewGanador", "AdminFilms")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inscritos <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Inscritos", "Index", "AdminFilms")</li>
                                <li>@Html.ActionLink("Inscritos | Envio Correo", "Correo", "AdminFilms")</li>
                                <li>@Html.ActionLink("Inscritos | Video", "Video", "AdminFilms")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Proceso", "Proceso", "AdminFilms")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Preselección <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Preseleción", "Preseleccion", "AdminFilms")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Preseleccion | Nacional", "PreseleccionNacional", "AdminFilms")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Preseleccion | Nacional | Documental", "PreseleccionNacionalDocumental", "AdminFilms")</li>
                                <li>@Html.ActionLink("Preseleccion | Nacional | Animación", "PreseleccionNacionalAnimacion", "AdminFilms")</li>
                                <li>@Html.ActionLink("Preseleccion | Nacional | Ficción", "PreseleccionNacionalFiccion", "AdminFilms")</li>
                                <li>@Html.ActionLink("Preseleccion | Nacional | Campaña Audiovisual", "PreseleccionNacionalCampana", "AdminFilms")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Preseleccion | Internacional", "PreseleccionInternacional", "AdminFilms")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Preseleccion | Internacional | Documental ", "PreseleccionInternacionalDocumental", "AdminFilms")</li>
                                <li>@Html.ActionLink("Preseleccion | Internacional | Animación", "PreseleccionInternacionalAnimacion", "AdminFilms")</li>
                                <li>@Html.ActionLink("Preseleccion | Internacional | Ficción ", "PreseleccionInternacionalFiccion", "AdminFilms")</li>
                                <li>@Html.ActionLink("Preseleccion | Internacional | Campaña AudioVisual", "PreseleccionInternacionalCampana", "AdminFilms")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Selección Oficial <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Sel. Oficial", "SelOficial", "AdminFilms")</li>
                                <li>@Html.ActionLink("Sel. Oficial | Nacional", "SelOficialNacional", "AdminFilms")</li>
                                <li>@Html.ActionLink("Sel. Oficial | Internacional ", "SelOficialInternacional", "AdminFilms")</li>
                            </ul>
                        </li>

                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div>&nbsp;<hr /></div>
        <div class="row">
            <footer>
                <div class="text-center" style="border:0px solid #000;">
                    <img src="@Url.Content("~/Content/Images/barra.png")" class="img-responsive" style="display:inline-block;" />
                    <p style="margin:10px;"><strong>Cualquier problema o duda te ayudamos: admin@ecofilmfestival.org o al 56626227 y 5662 0553</strong> </p>
                    <p style="margin:10px;">&copy; @DateTime.Now.Year - Ecofilm Festival</p>
                </div>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/style-functions")
    @RenderSection("scripts", required: false)
</body>
</html>
