﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="profile-element">
                    <img alt="image" class="" src="~/Content/images/logo-3-320x320-01-02.png" width="160" />
                </div>
                <div class="logo-element">
                    ECO
                </div>
            </li>
            @if (Request.IsAuthenticated && User.IsInRole("participante"))
            {
                <li class="active">
                    <a href="#"><i class="fa fa-film"></i> <span class="nav-label">Shortfilms</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="@Url.Action("Index", "ShortFilms")">Mis Cortometrajes <span class="text-navy e15-sub-eng">My Short Films</span></a></li>
                    </ul>
                </li>
            }

            @if (Request.IsAuthenticated && User.IsInRole("admin"))
            {
                <li class="active">
                    <a href="#"><i class="fa fa-film"></i> <span class="nav-label">Administración</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="@Url.Action("Index", "AdminFilms")">Listado Cortometrajes <span class="text-navy e15-sub-eng">My Short Films</span></a></li>
                        <li><a href="@Url.Action("Result", "AdminFilms")">Resultados <span class="text-navy e15-sub-eng">Results</span></a></li>
                    </ul>
                </li>
            }
            @if (Request.IsAuthenticated && User.IsInRole("admin"))
            {
                <li class="active">
                    <a href="#"><i class="fa fa-film"></i> <span class="nav-label">Estadisticas</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="@Url.Action("Report", "Public")">Estadísticas <span class="text-navy e15-sub-eng">Statistics</span></a></li>
                        <li><a href="@Url.Action("Report2014", "Public")">2014 <span class="text-navy e15-sub-eng">2014</span></a></li>
                        <li><a href="@Url.Action("Report2015", "Public")">2015 <span class="text-navy e15-sub-eng">2015</span></a></li>
                    </ul>
                </li>
            }
            @if (Request.IsAuthenticated && User.IsInRole("jurado"))
            {
                <li class="active">
                    <a href="#"><i class="fa fa-film"></i> <span class="nav-label">Jurado</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="@Url.Action("Index", "Jurado")">Listado Cortometrajes <span class="text-navy e15-sub-eng">My Short Films</span></a></li>
                    </ul>
                </li>
            }

            @if (Request.IsAuthenticated && User.IsInRole("view_films"))
            {
                <li class="active">
                    <a href="#"><i class="fa fa-film"></i> <span class="nav-label">Ver Cortos</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="@Url.Action("ViewFilms", "AdminFilms")">Listado Cortometrajes <span class="text-navy e15-sub-eng">My Short Films</span></a></li>
                    </ul>
                </li>
            }
            @if (Request.IsAuthenticated && User.IsInRole("admin"))
            {
                <li class="active">
                    <a href="#"><i class="fa fa-wrench"></i> <span class="nav-label">Programa</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="@Url.Action("Edicion", "Config")">Ediciones del Festival<span class="text-navy e15-sub-eng">List of Festival Editions</span></a></li>
                        <li><a href="@Url.Action("Sede", "Config")">Sedes<span class="text-navy e15-sub-eng">List of Locations</span></a></li>
                        <li><a href="@Url.Action("Programa", "Config")">Programa<span class="text-navy e15-sub-eng">List of Programs</span></a></li>
                        <li><a href="@Url.Action("Proyeccion", "Config")">Proyecciones<span class="text-navy e15-sub-eng">List of Proyection</span></a></li>
                        <li><a href="@Url.Action("Evento", "Config")">Eventos<span class="text-navy e15-sub-eng">List of Events</span></a></li>
                        <li><a href="@Url.Action("Muestra", "Config")">Muestras<span class="text-navy e15-sub-eng">List of Film Shows</span></a></li>
                    </ul>
                </li>
            }
            @if (Request.IsAuthenticated && User.IsInRole("admin"))
            {
                <li class="active">
                    <a href="#"><i class="fa fa-wrench"></i> <span class="nav-label">Configuración del Sistema</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="@Url.Action("Patrocinador", "Config")">Listado de Patrocinadores<span class="text-navy e15-sub-eng">List of Sponsors</span></a></li>
                        <li><a href="@Url.Action("Boletin", "Config")">Listado de Boletines<span class="text-navy e15-sub-eng">List of Newsletters</span></a></li>
                        <li><a href="@Url.Action("EventoFestival", "Config")">Listado de Eventos del Festival<span class="text-navy e15-sub-eng">List Sponsors</span></a></li>
                    </ul>
                </li>
          
                <li class="active">
                    <a href="#"><i class="fa fa-wrench"></i> <span class="nav-label">Configuración de Jurado</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="@Url.Action("Jurado", "Config")">Listado de Jurados<span class="text-navy e15-sub-eng">List of Sponsors</span></a></li>
                    </ul>
                </li>
            }
            @*<li class="landing_link">
                    <a target="_blank" href="Landing_page/index.html"><i class="fa fa-star-o"></i> <span class="nav-label">Landing Page</span> <span class="label label-warning pull-right">NEW</span></a>
                </li>*@
        </ul>
    </div>
</nav>

