﻿@using Microsoft.AspNet.Identity
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            @if (Request.IsAuthenticated)
            {
                <li>
                    <span class="m-r-sm text-muted welcome-message">@User.Identity.GetUserName()</span>
                </li>
            }
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                }
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()"> <i class="fa fa-sign-out"></i> Log off</a>
                </li>
            }
        </ul>
    </nav>
</div>