﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
    ViewBag.Title = "Error";
}

<div class="widget-head-color-box red-bg p-lg">
    <div class="m-b-md text-center">
        <h2 class="font-bold no-margins">
            ECOFILM Festival
        </h2>
        <small>Cambio Climático | Climate Change</small>
    </div>
    <a href="@Url.Action("Login", "Account")">
        <img src="~/Content/images/logo-330x330-cuadro-5bco-2.svg" class="m-b-md" alt="profile">
    </a>
    <div>
        <span>5ta Edición</span> |
        <span>5th Edition</span>
    </div>
</div>
<div class="widget-text-box text-left">
    <h4 class="media-heading">@ViewBag.Title</h4>
    <hr />
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</div>
