﻿@{
    ViewBag.Title = "Lista de Eventos | List of NewsLetters";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

@section style
{
    <link href="~/Content/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <style>
        .wizard > .content > .body {
            position: relative !important;
            width: 100% !important;
        }
    </style>

    <style>
        .fileinput-button {
            position: relative;
            overflow: hidden;
        }

            .fileinput-button input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }

        @@media screen\9 {
            .fileinput-button input {
                filter: alpha(opacity=0);
                font-size: 100%;
                height: 100%;
            }
        }
    </style>
}

<div class="wrapper wrapper-content" ng-controller="EventoCtrl">
    <div class="row">
        <div class="col-sm-8">
            <button type="button" class="btn btn-warning" ng-click="add()" ng-show="!itemActive">Crear</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()" ng-show="itemActive">Regresar</button>
            <hr />
            <div class="row">
                <div class="col-sm-8">
                    <form role="form" name="SedeForm" class="form-horizontal">
                        <div class="form-group">
                            <label for="FK_IdEdicion__SCH" class="col-md-6 control-label">Edicion del Festival | Festival Edition</label>
                            <div class="col-md-6">
                                <select class="form-control" ng-model="filter.FK_IdEdicion__SCH" required ng-options="item.Id as item.Nombre_ES for item in edicionList" name="FK_IdEdicion__SCH">
                                    <option value="">Seleccione ... </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="FK_IdSede__SCH" class="col-md-6 control-label">Sede | Sede</label>
                            <div class="col-md-6">
                                <select class="form-control" ng-model="filter.FK_IdSede__SCH" required ng-options="item.Id as item.Sede_ES for item in sedeList">
                                    <option value="">Seleccione ... </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr />
            <div ng-view></div>
        </div>

        <div class="col-sm-4">
            <h5>loading</h5>
            <pre>{{loading}}</pre>
            <pre>{{itemActive | json}}</pre>
        </div>
    </div>
</div>

<script type="text/ng-template" id="list.html">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dia</th>
                <th>Sede</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Tipo Evento</th>
                <th>Lugar</th>
                <th>Descripcion</th>
                <th>Proyeccion</th>
                <th>Imagen</th>
                <th>ImagenWeb</>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in itemList | filter: filter : strict">
                <td>{{ item.Id }}</td>
                <td>{{ item.diaPrograma | date:'dd/MM/yyyy'}}</td>
                <td>{{ item.descripcionPrograma }}</td>
                <td>{{ item.start }}</td>
                <td>{{ item.end }}</td>
                <td>{{ item.FK_IdTipoEvento__SCH }} - {{ item.descripcionTipoEvento }}</td>
                <td>{{ item.Lugar_ES }}</td>
                <td>{{ item.Descripcion_ES }}</td>
                <td>{{ item.Proyeccion_ES }}</td>
                <td>
                    <div ng-show="item.Image != null">
                        <a href="{{ item.Image }}" target="_blank">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
                <td>
                    <div ng-show="item.ImageWeb != null">
                        <a href="{{ item.ImageWeb }}" target="_blank">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
                <td>
                    <button type="button" ng-click="view(item)" class="btn btn-primary">
                        Detalles
                    </button>
                    <button type="button" ng-click="edit(item)" class="btn btn-success">
                        Editar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="detail.html">
    <form role="form" name="EventoForm" class="form-horizontal">

        <div class="form-group">
            <label for="FK_IdEdicion__SCH" class="col-md-2 control-label">Programa | Program</label>
            <div class="col-md-10">
                <select class="form-control" ng-model="itemActive.FK_IdPrograma__SCH" required ng-options="item.Id as item.descripcionPrograma for item in programaList">
                    <option value="">Seleccione ... </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="FK_IdTipoEvento__SCH" class="col-md-2 control-label">Tipo Evento | Program</label>
            <div class="col-md-10">
                <select class="form-control" ng-model="itemActive.FK_IdTipoEvento__SCH" required ng-options="item.Id as item.Descripcion for item in tipoEventoList">
                    <option value="">Seleccione ... </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="start" class="col-md-2 control-label">Inicio | Start</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="start" placeholder="Inicio | Start" ng-model="itemActive.start" required>
            </div>
        </div>

        <div class="form-group">
            <label for="end" class="col-md-2 control-label">Fin | End</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="end" placeholder="Fin | End" ng-model="itemActive.end" required>
            </div>
        </div>

        <div class="form-group">
            <label for="url" class="col-md-2 control-label">Url</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="url" placeholder="Url" ng-model="itemActive.url" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Lugar_ES" class="col-md-2 control-label">Lugar en Español | Lugar in Spanish</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Lugar_ES" placeholder="Lugar en Español | Lugar in Spanish" ng-model="itemActive.Lugar_ES" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Lugar_EN" class="col-md-2 control-label">Lugar en Inglés | Lugar in english</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Lugar_EN" placeholder="Lugar en Inglés | Lugar in english" ng-model="itemActive.Lugar_EN" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Descripcion_ES" class="col-md-2 control-label">Descripción en Español | Descripción in Spanish</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Descripcion_ES" placeholder="Descripción en Español | Descripción in Spanish" ng-model="itemActive.Descripcion_ES" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Descripcion_EN" class="col-md-2 control-label">Descripción en Inglés | Descripción in english</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Descripcion_EN" placeholder="Descripción en Inglés | Descripción in english" ng-model="itemActive.Descripcion_EN" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Evento_EN" class="col-md-2 control-label">Evento en Español | Evento in Spanish</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Evento_EN" placeholder="Evento en Español | Evento in Spanish" ng-model="itemActive.Evento_ES" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Sinopsis_EN" class="col-md-2 control-label">Evento en Inglés | Evento in english</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Sinopsis_EN" placeholder="Evento en Inglés | Evento in english" ng-model="itemActive.Evento_EN" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Image" class="col-md-2 control-label">Imagen | Image</label>
            <file-uploader name="Imagen | Image" file-type="imagen" fileurl="itemActive.Image"></file-uploader>
        </div>

        <div class="form-group">
            <label for="Image" class="col-md-2 control-label">ImageWeb | ImageWeb</label>
            <file-uploader name="ImageWeb | ImageWeb" file-type="imagen" fileurl="itemActive.ImageWeb"></file-uploader>
        </div>

        <hr />
        @*<div class="alert alert-danger" role="alert" ng-show="errorList.length > 0">
                <strong>Oh snap!</strong>
                <p ng-repeat="item in errorList">{{item}}</p>
            </div>*@
        <button type="button" class="btn btn-info" ng-click="save()">Registro | Register</button>
        <button type="button" class="btn btn-info" ng-click="delete()" ng-show="itemActive.Id">Eliminar | Delete</button>
        <hr />
    </form>
</script>

<script type="text/ng-template" id="view.html">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form name="edicionFestivalForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="FK_IdEdicion__SCH" class="col-md-2 control-label">Programa | Program</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.descripcionPrograma}}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="FK_IdEdicion__SCH" class="col-md-2 control-label">Tipo de Evento | Event Type</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.FK_IdTipoEvento__SCH}} - {{itemActive.descripcionTipoEvento}}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="start" class="col-md-2 control-label">Inicio | Start</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ itemActive.start }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="end" class="col-md-2 control-label">Fin | End</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ itemActive.end }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="allDay" class="col-md-2 control-label">Todo el Día</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ itemActive.allDay }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="url" class="col-md-2 control-label">Url</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ itemActive.url }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Lugar_ES" class="col-md-2 control-label">Lugar en Español | Lugar in Spanish</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ itemActive.Lugar_ES }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Lugar_EN" class="col-md-2 control-label">Lugar en Inglés | Lugar in english</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ itemActive.Lugar_EN }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Descripcion_ES" class="col-md-2 control-label">Descripción en Español | Descripción in Spanish</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ itemActive.Descripcion_ES }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Descripcion_EN" class="col-md-2 control-label">Descripción en Inglés | Descripción in english</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ itemActive.Descripcion_ES }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Evento_EN" class="col-md-2 control-label">Evento en Español | Evento in Spanish</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ itemActive.Evento_ES }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Sinopsis_EN" class="col-md-2 control-label">Evento en Inglés | Evento in english</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ itemActive.Evento_EN }}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Image" class="col-md-2 control-label">Imagen | Image</label>
                        <div class="col-md-10">
                            <div ng-show="itemActive.Image != null">
                                <a ng-href="{{ itemActive.Image }}" target="_blank">
                                    <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ImageWeb" class="col-md-2 control-label">Imagen | Image</label>
                        <div class="col-md-10">
                            <div ng-show="itemActive.ImageWeb != null">
                                <a ng-href="{{ itemActive.ImageWeb }}" target="_blank">
                                    <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="file-upload.html">
    <div class="col-md-5">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 file_upload">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>{{name}}</span>
                            <input class="fileupload"
                                   type="file"
                                   name="file"
                                   accept="{{fileType}}" />
                        </span>
                        <br>
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div class="display" style="display:block">
                            <div class="col-md-12">
                                <img ng-src="{{fileurl}}" ng-show="isImage" class="img-responsive img-thumbnail" />
                            </div>
                            <div class="form-group">
                                <label for="Descripcion_ES" class="col-md-2 control-label">Url:</label>
                                <div class="col-md-10">
                                    @*<p class="form-control-static">{{fileurl}}</p>*@
                                    <input type="text" ng-model="fileurl" required>
                                </div>
                                <a ng-href="{{ fileurl }}" target="_blank" class="btn btn-info" ng-show="fileurl"> Descargar </a>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.fileupload.js"></script>

    <!---------------------------------------------->
    <script>
        angular.module('App', ['ngRoute'])
            .config(function ($routeProvider) {
                $routeProvider
                    .when('/', {
                        templateUrl: 'list.html'
                    })
                    .when('/detail', {
                        templateUrl: 'detail.html'
                    })
                    .when('/view', {
                        templateUrl: 'view.html'
                    })
                ;

            })
            .controller('EventoCtrl', ['$scope', '$http', '$location', '$q', function ($scope, $http, $location, $q) {
                //---------------------------
                var Service = '/api/ConfigService/';
                var Action = 'Evento';
                //---------------------------
                $scope.loading = true;
                var qEditions = $http.get(Service + 'Edicion');
                var qEvento = $http.get(Service + Action);
                var qTiposEventos = $http.get(Service + 'TipoEventoEvento');
                $q.all([
                    qEditions.then(function (response) { $scope.edicionList = response.data; }),
                    qEvento.then(function (response) { $scope.itemList = response.data; }),
                    qTiposEventos.then(function (response) { $scope.tipoEventoList = response.data;})
                ]).then(function () {
                    $scope.loading = false;
                });
                //---------------------------
                //---------------------------
                //---------------------------
                $scope.itemActive = undefined;
                $scope.itemActiveDetail = undefined;
                $scope.proyeccionActive = undefined;
                //---------------------------
                $scope.cancel = function () {
                    $scope.itemActive = undefined;
                    $scope.itemActiveDetail = undefined;
                    $scope.proyeccionActive = undefined;
                    $location.path('/');
                };
                $scope.add = function () {
                    $scope.itemActive = {};
                    $location.path('detail');
                };
                $scope.edit = function (item) {
                    $scope.itemActive = item;
                    $location.path('detail');
                };
                $scope.delete = function () {
                    var item = $scope.itemActive;
                    var id = item.Id;
                    $http.delete(Service + Action + '/' + id).then(
                        function (response) {
                            var index = $scope.itemList.indexOf(item);
                            if (index > -1) {
                                $scope.itemList.splice(index, 1);
                            }
                            $scope.cancel();
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('view fail', response);
                            var errorDetail = "";
                            angular.forEach(response.data.ModelState, function (value, key) {
                                errorDetail = errorDetail + value + "<br/>";
                            });
                            $scope.alertModal("Error(" + response.status + ") " + response.statusText, errorDetail);
                        }
                    );
                };
                $scope.view = function (item) {
                    $scope.itemActive = item;
                    $scope.proyeccionActive = {};
                    $scope.loading = true;
                    var id = $scope.itemActive.Id;
                    $http.get(Service + Action + '/' + id).then(
                        function (response) {
                            $scope.itemActive = response.data;
                            $location.path('view');
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('view fail', response);
                            $scope.cancel();
                            $scope.loading = false;
                        }
                    );
                };
                $scope.save = function () {
                    if ($scope.itemActive === undefined) return;
                    $scope.loading = true;
                    var id = $scope.itemActive.Id;
                    if (id > 0) {
                        $http.put(Service + Action + '/' + id, $scope.itemActive).then(
                            function (response) {
                                console.info('update ok', response);
                                //response.data.Fecha = new Date(response.data.Fecha);
                                $scope.itemActive = angular.copy(response.data);
                                $scope.cancel();
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('update fail', response);
                                var errorDetail = "";
                                angular.forEach(response.data.ModelState, function (value, key) {
                                    errorDetail = errorDetail + value + "<br/>";
                                });
                                $scope.alertModal("Error(" + response.status + ") " + response.statusText, errorDetail);
                            }
                        );
                    } else {
                        $http.post(Service + Action, $scope.itemActive).then(
                            function (response) {
                                console.info('save ok', response);
                               // response.data.Fecha = new Date(response.data.Fecha);
                                $scope.itemList.push(response.data);
                                $scope.cancel();
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('save fail', response);
                                var errorDetail = "";
                                angular.forEach(response.data.ModelState, function (value, key) {
                                    errorDetail = errorDetail + value + "<br/>";
                                });
                                $scope.alertModal("Error(" + response.status + ") " + response.statusText, errorDetail);
                            }
                        );
                    }
                };
                $scope.saveEvento = function () {
                    if ($scope.itemActive === undefined) return;
                    $scope.loading = true;
                    var idEvento = $scope.itemActive.Id;
                    var id = $scope.proyeccionActive.Id;
                    $http.post(Service + 'EventoEvento/' + idEvento, $scope.proyeccionActive).then(
                        function (response) {
                            console.info('save ok', response);
                            $scope.itemActive = angular.copy(response.data);
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('save fail', response);
                            $scope.cancel();
                            $scope.loading = false;
                        }
                    );
                };
                $scope.deleteEvento = function (proyeccion) {
                    $scope.proyeccionActive = proyeccion;
                    var item = $scope.itemActive;
                    var id = item.Id;
                    $http.put(Service + 'EventoEvento/' + id, $scope.proyeccionActive).then(
                        function (response) {
                            $scope.itemActive = angular.copy(response.data);
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('view fail', response);
                            $scope.cancel();
                            $scope.loading = false;
                        }
                    );
                };
                //---------------------------
                $scope.filter = {};
                //---------------------------
                $scope.$watch('filter.FK_IdEdicion__SCH', function (v) {

                    $scope.filter.FK_IdSede__SCH = undefined;
                    $scope.sedeList = [];
                    $scope.filmsList = [];

                    if (v !== undefined) {
                        $scope.loading = true;
                        var qSedes = $http.get(Service + 'SedeByEdicion/' + v);
                        $q.all([
                            qSedes.then(function (response) { $scope.sedeList = response.data; }),
                        ]).then(function () {
                            $scope.loading = false;
                        });
                    }
                });
                $scope.$watch('filter.FK_IdSede__SCH', function (v) {
                    if (v === undefined) return;
                    $scope.loading = true;
                    var qProgramas = $http.get(Service + 'ProgramaBySede/' + v);
                    $q.all([
                           qProgramas.then(function (response) { $scope.programaList = response.data; }),
                    ]).then(function () {
                        $scope.loading = false;
                    });
                });
            }])
            .directive('fileUploader', function () {
                return {
                    restrict: 'AE',
                    scope: {
                        fileurl: '='
                    },
                    templateUrl: 'file-upload.html',
                    link: function (scope, element, attrs) {
                        scope.name = attrs.name;
                        scope.isImage = false;
                        scope.fileType = "*";
                        var id = $(element).find('.fileupload').attr("data-id");
                        var progress_bar = $(element).find('.progress .progress-bar');

                        if (attrs.fileType == "pdf") {
                            scope.fileType = "application/pdf";
                        }

                        if (attrs.fileType == "imagen") {
                            scope.fileType = "image/*";
                            scope.isImage = true;
                        }

                        $(element).fileupload({
                            url: '/File/UploadFileImage',
                            acceptFileTypes: /(.|\/)(gif|jpe?g|png|pdf)$/i,
                            dataType: 'json',
                            add: function (e, data) {
                                data.submit();
                            },
                            done: function (e, data) {
                                scope.$apply(function () {
                                    scope.fileurl = data.result.pathfile;
                                })
                            },
                            progressall: function (e, data) {
                                var progress = parseInt(data.loaded / data.total * 100, 10);
                                scope.$apply(function () {
                                    $(progress_bar).css(
                                        'width',
                                        progress + '%'
                                    );
                                })
                            }
                        })
                        .prop('disabled', !$.support.fileInput)
                        .parent().addClass($.support.fileInput ? undefined : 'disabled');
                    }
                };
            })
        ;
    </script>
}
