﻿@{
    ViewBag.Title = "Lista de Eventos de Festival | List of NewsLetters";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

@section style
{
    <link href="~/Content/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <style>
        .wizard > .content > .body {
            position: relative !important;
            width: 100% !important;
        }
    </style>

    <style>
        .fileinput-button {
            position: relative;
            overflow: hidden;
        }

            .fileinput-button input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }

        @@media screen\9 {
            .fileinput-button input {
                filter: alpha(opacity=0);
                font-size: 100%;
                height: 100%;
            }
        }
    </style>
}

<div class="wrapper wrapper-content" ng-controller="EventoFestivalCtrl">
    <div class="row">
        <div class="col-sm-8">
            <button type="button" class="btn btn-warning" ng-click="add()" ng-show="!itemActive">Crear</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()" ng-show="itemActive">Regresar</button>
            <hr />
            <div ng-view></div>
        </div>

        <div class="col-sm-4">
            <h5>loading</h5>
            <pre>{{loading}}</pre>
            <pre>{{itemActive | json}}</pre>
        </div>
    </div>
</div>

<script type="text/ng-template" id="list.html">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Edicion del Festival</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in itemList track by $index">
                <th scope="row">{{ item.Id }}</th>
                <td>{{ item.FK_IdEdicion__SCH }} - {{item.descripcionEdicion}}</td>
                <td>{{ item.Nombre_ES }}</td>
                <td>{{ item.Fecha | date:'dd/MM/yyyy' }}</td>
                <td>
                    <button type="button" ng-click="view(item)" class="btn btn-primary">
                        Detalles
                    </button>
                    <button type="button" ng-click="edit(item)" class="btn btn-success">
                        Editar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="detail.html">
    <form role="form" name="EventoFestivalForm" class="form-horizontal">

        <div class="form-group">
            <label for="FK_IdEdicion__SCH" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
            <div class="col-md-10">
                <select class="form-control" ng-model="itemActive.FK_IdEdicion__SCH" required ng-options="item.Id as item.Nombre_ES for item in edicionList">
                    <option value="">Seleccione ... </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="Nombre_ES" class="col-md-2 control-label">Nombre en Español | Name in Spanish</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Nombre_ES" placeholder="Nombre en Español | Name in Spanish" ng-model="itemActive.Nombre_ES" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Nombre_EN" class="col-md-2 control-label">Nombre en Inglés | Name in english</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Nombre_EN" placeholder="Nombre en Inglés | Name in english" ng-model="itemActive.Nombre_EN" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Fecha" class="col-md-2 control-label">Fecha Publicacion | Publish Date</label>
            <div class="col-md-10">
                <input type="date" class="form-control" id="Fecha" placeholder="Fecha Publicacion | Publish Date" ng-model="itemActive.Fecha" required>
            </div>
        </div>

        <hr />
        @*<div class="alert alert-danger" role="alert" ng-show="errorList.length > 0">
                <strong>Oh snap!</strong>
                <p ng-repeat="item in errorList">{{item}}</p>
            </div>*@
        <button type="button" class="btn btn-info" ng-click="save()">Registro | Register</button>
        <button type="button" class="btn btn-info" ng-click="delete()" ng-show="itemActive.Id">Eliminar | Delete</button>
        <hr />
    </form>
</script>

<script type="text/ng-template" id="view.html">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form name="edicionFestivalForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="Edicion" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.FK_IdEdicion__SCH}} - {{itemActive.descripcionEdicion}} </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Nombre_ES" class="col-md-2 control-label">Nombre en Español | Name in Spanish</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.Nombre_ES}} </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Nombre_EN" class="col-md-2 control-label">Nombre en Español | Name in Spanish</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.Nombre_EN}} </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Fecha" class="col-md-2 control-label">Fecha Publicacion | Publish Date</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.Fecha | date:'dd/MM/yyyy' }}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Notas</h1>
        </div>
        <div class="col-sm-6">
            <form role="form" name="EventoFestivalForm" class="form-horizontal">
                <div class="form-group">
                    <label for="Nota" class="col-md-2 control-label">Nota | Note</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="Nota" placeholder="Nota | Note" ng-model="noteActive.Nota" required>
                    </div>
                </div>
            </form>
            <hr />
            <button type="button" class="btn btn-info" ng-click="saveNota()">Guardar Nota | Save Note</button>
            <hr />
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nota</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="eventoNota in itemActive.Notas track by $index">
                    <td>{{ eventoNota.Nota }}</td>
                    <td>
                        <button type="button" class="btn btn-success" ng-click="editNota(eventoNota)">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Imagenes</h1>
        </div>
        <div class="col-sm-8">
            <form role="form" name="EventoFestivalImagenForm" class="form-horizontal">
                <div class="form-group">
                    <label for="Imagen" class="col-md-2 control-label">Imagen | Image</label>
                    <file-uploader name="Imagen | Image" file-type="imagen" fileurl="imagenActive.Path"></file-uploader>
                </div>
                <div class="form-group">
                    <label for="Portada" class="col-md-2 control-label">Portada | Cover</label>
                    <div class="col-md-10">
                        <input type="checkbox" id="Portada" placeholder="Portada | Cover" ng-model="imagenActive.Portada" required>
                    </div>
                </div>
            </form>

            <hr />
            <button type="button" class="btn btn-info" ng-click="saveImagen()">Guardar Imagen | Save Image</button>
            <hr />
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Portada</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="eventoImagen in itemActive.Galeria track by $index">
                    <td>
                        <a ng-href="{{ eventoImagen.Path }}" ta target="_blank" ng-show="eventoImagen.Path">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>{{ eventoImagen.Portada}}</td>
                    <td>
                        <button type="button" class="btn btn-success" ng-click="editImagen(eventoImagen)">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/ng-template" id="file-upload.html">
    <div class="col-md-5">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 file_upload">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>{{name}}</span>
                            <input class="fileupload"
                                   type="file"
                                   name="file"
                                   accept="{{fileType}}" />
                        </span>
                        <br>
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div class="display" style="display:block">
                            <div class="col-md-12">
                                <img ng-src="{{fileurl}}" ng-show="isImage" class="img-responsive img-thumbnail" />
                            </div>
                            <div class="form-group">
                                <label for="Descripcion_ES" class="col-md-2 control-label">Url:</label>
                                <div class="col-md-10">
                                    <p class="form-control-static">{{fileurl}}</p>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.fileupload.js"></script>

    <!---------------------------------------------->
    <script>
        angular.module('App', ['ngRoute'])
            .config(function ($routeProvider) {
                $routeProvider
                    .when('/', {
                        templateUrl: 'list.html'
                    })
                    .when('/detail', {
                        templateUrl: 'detail.html'
                    })
                    .when('/view', {
                        templateUrl: 'view.html'
                    })
                ;

            })
            .controller('EventoFestivalCtrl', ['$scope', '$http', '$location', '$q', function ($scope, $http, $location, $q) {
                //---------------------------
                var Service = '/api/ConfigService/';
                var Action = 'EventoFestival';
                //---------------------------
                $scope.loading = true;
                var qEventoFestival = $http.get(Service + Action);
                var qEditions = $http.get(Service + 'Edicion');
                $q.all([
                    qEventoFestival.then(function (response) { $scope.itemList = response.data; }),
                    qEditions.then(function (response) { $scope.edicionList = response.data; })
                ]).then(function () {
                    $scope.loading = false;
                });
                //---------------------------
                //---------------------------
                //---------------------------
                $scope.itemActive = undefined;
                $scope.itemActiveDetail = undefined;
                $scope.noteActive = undefined;
                $scope.imagenActive = undefined;
                //---------------------------
                $scope.cancel = function () {
                    $scope.itemActive = undefined;
                    $scope.itemActiveDetail = undefined;
                    $scope.noteActive = undefined;
                    $scope.imagenActive = undefined;
                    $location.path('/');
                };
                $scope.add = function () {
                    $scope.itemActive = {};
                    $location.path('detail');
                };
                $scope.edit = function (item) {
                    $scope.itemActive = item;
                    $scope.itemActive.Fecha = new Date(item.Fecha);
                    $location.path('detail');
                };
                $scope.delete = function () {
                    var item = $scope.itemActive;
                    var id = item.Id;
                    $http.delete(Service + Action + '/' + id).then(
                        function (response) {
                            var index = $scope.itemList.indexOf(item);
                            if (index > -1) {
                                $scope.itemList.splice(index, 1);
                            }
                            $scope.cancel();
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('view fail', response);
                            $scope.cancel();
                            $scope.loading = false;
                        }
                    );
                };
                $scope.view = function (item) {
                    $scope.itemActive = item;
                    $scope.noteActive = {};
                    $scope.imagenActive = {
                        Image: 'Imagen',
                        Ext: 'Ext',
                        Name:'Name'
                    };
                    $scope.loading = true;
                    var id = $scope.itemActive.Id;
                    $http.get(Service + Action + '/' + id).then(
                        function (response) {
                            $scope.itemActive = response.data;
                            $location.path('view');
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('view fail', response);
                            $scope.cancel();
                            $scope.loading = false;
                        }
                    );
                };
                $scope.save = function () {
                    if ($scope.itemActive === undefined) return;
                    $scope.loading = true;
                    var id = $scope.itemActive.Id;
                    if (id > 0) {
                        $http.put(Service + Action + '/' + id, $scope.itemActive).then(
                            function (response) {
                                console.info('update ok', response);
                                //response.data.Fecha = new Date(response.data.Fecha);
                                $scope.itemActive = angular.copy(response.data);
                                $scope.cancel();
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('update fail', response);
                                $scope.cancel();
                                $scope.loading = false;
                            }
                        );
                    } else {
                        $http.post(Service + Action, $scope.itemActive).then(
                            function (response) {
                                console.info('save ok', response);
                               // response.data.Fecha = new Date(response.data.Fecha);
                                $scope.itemList.push(response.data);
                                $scope.cancel();
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('save fail', response);
                                $scope.cancel();
                                $scope.loading = false;
                            }
                        );
                    }
                };
                $scope.saveNota = function () {
                    if ($scope.itemActive === undefined) return;
                    $scope.loading = true;
                    var idEvento = $scope.itemActive.Id;
                    var id = $scope.noteActive.Id;
                    if (id > 0) {
                        $http.put(Service + 'EventoFestivalNota/' + idEvento, $scope.noteActive).then(
                            function (response) {
                                console.info('update ok', response);
                                //response.data.Fecha = new Date(response.data.Fecha);
                                $scope.itemActive = angular.copy(response.data);
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('update fail', response);
                                $scope.cancel();
                                $scope.loading = false;
                            }
                        );
                    } else {
                        $http.post(Service + 'EventoFestivalNota/' + idEvento, $scope.noteActive).then(
                            function (response) {
                                console.info('save ok', response);
                                $scope.itemActive = angular.copy(response.data);
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('save fail', response);
                                $scope.cancel();
                                $scope.loading = false;
                            }
                        );
                    }
                };
                $scope.editNota = function (itemNota) {
                    $scope.noteActive = itemNota;
                };
                $scope.saveImagen = function () {
                    if ($scope.itemActive === undefined) return;
                    $scope.loading = true;
                    var idEvento = $scope.itemActive.Id;
                    var id = $scope.imagenActive.Id;
                    if (id > 0) {
                        $http.put(Service + 'EventoFestivalImagen/' + idEvento, $scope.imagenActive).then(
                            function (response) {
                                console.info('update ok', response);
                                //response.data.Fecha = new Date(response.data.Fecha);
                                $scope.itemActive = angular.copy(response.data);
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('update fail', response);
                                $scope.cancel();
                                $scope.loading = false;
                            }
                        );
                    } else {
                        $http.post(Service + 'EventoFestivalImagen/' + idEvento, $scope.imagenActive).then(
                            function (response) {
                                console.info('save ok', response);
                                $scope.itemActive = angular.copy(response.data);
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('save fail', response);
                                $scope.cancel();
                                $scope.loading = false;
                            }
                        );
                    }
                };
                $scope.editImagen= function (itemImagen) {
                    $scope.imagenActive = itemImagen;
                };
                //---------------------------
            }])
            .directive('fileUploader', function () {
                return {
                    restrict: 'AE',
                    scope: {
                        fileurl: '='
                    },
                    templateUrl: 'file-upload.html',
                    link: function (scope, element, attrs) {
                        scope.name = attrs.name;
                        scope.isImage = false;
                        scope.fileType = "*";
                        var id = $(element).find('.fileupload').attr("data-id");
                        var progress_bar = $(element).find('.progress .progress-bar');

                        if (attrs.fileType == "pdf") {
                            scope.fileType = "application/pdf";
                        }

                        if (attrs.fileType == "imagen") {
                            scope.fileType = "image/*";
                            scope.isImage = true;
                        }

                        $(element).fileupload({
                            url: '/File/UploadFileImage',
                            acceptFileTypes: /(.|\/)(gif|jpe?g|png|pdf)$/i,
                            dataType: 'json',
                            add: function (e, data) {
                                data.submit();
                            },
                            done: function (e, data) {
                                scope.$apply(function () {
                                    scope.fileurl = data.result.pathfile;
                                })
                            },
                            progressall: function (e, data) {
                                var progress = parseInt(data.loaded / data.total * 100, 10);
                                scope.$apply(function () {
                                    $(progress_bar).css(
                                        'width',
                                        progress + '%'
                                    );
                                })
                            }
                        })
                        .prop('disabled', !$.support.fileInput)
                        .parent().addClass($.support.fileInput ? undefined : 'disabled');
                    }
                };
            })
        ;
    </script>
}
