﻿@{
    ViewBag.Title = "Lista de Muestras | List of NewsLetters";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

@section style
{
    <link href="~/Content/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <style>
        .wizard > .content > .body {
            position: relative !important;
            width: 100% !important;
        }
    </style>

    <style>
        .fileinput-button {
            position: relative;
            overflow: hidden;
        }

            .fileinput-button input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }

        @@media screen\9 {
            .fileinput-button input {
                filter: alpha(opacity=0);
                font-size: 100%;
                height: 100%;
            }
        }
    </style>
}

<div class="wrapper wrapper-content" ng-controller="MuestraCtrl">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-8">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="FK_IdEdicion__SCH" class="col-md-6 control-label">Edicion del Festival | Festival Edition</label>
                            <div class="col-md-6">
                                <select class="form-control" ng-model="filter.FK_IdEdicion__SCH"                                        
                                        required ng-options="item.Id as item.Nombre_ES for item in edicionList" name="FK_IdEdicion__SCH">
                                    <option value="">Seleccione ... </option>
                                </select>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
            <hr />
            <button type="button" class="btn btn-warning" ng-click="add()" ng-show="!itemActive && filter.FK_IdEdicion__SCH">Crear</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()" ng-show="itemActive">Regresar</button>
            <hr />
            <div ng-view></div>
        </div>

        <div class="col-sm-4">
            <h5>loading</h5>
            <pre>{{loading}}</pre>
            <pre>{{itemActive | json}}</pre>
            <pre>{{filter | json}}</pre>
            <pre>{{Proyecciones}}</pre>
        </div>
    </div>
</div>

<script type="text/ng-template" id="list.html">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-8">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="FK_IdProyeccion__SCH" class="col-md-6 control-label">Proyeccion | Proyeccion</label>
                        <div class="col-md-6">
                            <select class="form-control" ng-model="filter.FK_IdProyeccion__SCH" required ng-options="item.Id as item.descripcionPrograma for item in proyeccionList">
                                <option value="">Seleccione ... </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Edicion del Festival</th>
                <th>Titulo Original</th>
                <th>Titulo</th>
                <th>Sinopsis</th>
                <th>Duración</th>
                <th>Director</th>
                <th>Pais</th>
                <th>Portada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in itemList | filter: filterListItem">
                <th scope="row">{{ item.Id }}</th>
                <td>{{ item.FK_IdEdicion__SCH }} - {{item.descripcionEdicion}}</td>
                <td>{{ item.Titulo_Original }}</td>
                <td>{{ item.Titulo_ES }}</td>
                <td>{{ item.Sinopsis_ES }}</td>
                <td>{{ item.Duracion }}</td>
                <td>{{ item.Director }}</td>
                <td>{{ item.Pais }}</td>
                <td>
                    <div ng-show="item.File != null">
                        <a href="{{item.Path}}{{ item.File }}" target="_blank">
                            <i class="fa fa-file-image-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
                <td>
                    <button type="button" ng-click="view(item)" class="btn btn-primary">
                        Detalles
                    </button>
                    <button type="button" ng-click="edit(item)" class="btn btn-success">
                        Editar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="detail.html">
    <form role="form" name="MuestraForm" class="form-horizontal">


        <div class="form-group">
            <label for="Titulo_Original" class="col-md-2 control-label">Titulo Original</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Titulo_Original" placeholder="Titulo Original" ng-model="itemActive.Titulo_Original" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Titulo_ES" class="col-md-2 control-label">Titulo en Español | Title in Spanish</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Titulo_ES" placeholder="Titulo en Español | Title in Spanish" ng-model="itemActive.Titulo_ES" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Titulo_EN" class="col-md-2 control-label">Titulo en Inglés | Title in english</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Titulo_EN" placeholder="Titulo en Inglés | Title in english" ng-model="itemActive.Titulo_EN" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Sinopsis_ES" class="col-md-2 control-label">Sinopsis en Español | Title in Spanish</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Sinopsis_ES" placeholder="Sinopsis en Español | Title in Spanish" ng-model="itemActive.Sinopsis_ES" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Sinopsis_EN" class="col-md-2 control-label">Sinopsis en Inglés | Title in english</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Sinopsis_EN" placeholder="Sinopsis en Inglés | Title in english" ng-model="itemActive.Sinopsis_EN" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Duracion" class="col-md-2 control-label">Duración</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Duracion" placeholder="Duración" ng-model="itemActive.Duracion" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Director" class="col-md-2 control-label">Director</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Director" placeholder="Director" ng-model="itemActive.Director" required>
            </div>
        </div>

        <div class="form-group">
            <label for="Pais" class="col-md-2 control-label">Pais</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Pais" placeholder="Pais" ng-model="itemActive.Pais" required>
            </div>
        </div>

        <div class="form-group">
            <label for="BasesConvocatoria_ES" class="col-md-2 control-label">Portada | Cover</label>
            <file-uploader name="Imagen | Image" file-type="imagen" fileurl="itemActive.File"></file-uploader>
        </div>

        <div class="form-group">
            <label for="MedioPerfil" class="col-md-2 control-label">MedioPerfil | MedioPerfil</label>
            <div class="col-md-10">
                <div class="checkbox" ng-repeat="item in proyeccionList">
                    <label>
                        <input type="checkbox" id="{{item.Id}}" ng-model="Proyecciones[item.Id]">{{item.descripcionPrograma}}
                    </label>
                </div>
            </div>
        </div>

        <hr />
        @*<div class="alert alert-danger" role="alert" ng-show="errorList.length > 0">
                <strong>Oh snap!</strong>
                <p ng-repeat="item in errorList">{{item}}</p>
            </div>*@
        <button type="button" class="btn btn-info" ng-click="save()">Registro | Register</button>
        <button type="button" class="btn btn-info" ng-click="delete()" ng-show="itemActive.Id">Eliminar | Delete</button>
        <hr />
    </form>
</script>

<script type="text/ng-template" id="view.html">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form name="edicionFestivalForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="Edicion" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.FK_IdEdicion__SCH}} - {{itemActive.descripcionEdicion}} </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Titulo_Original" class="col-md-2 control-label">Titulo Original | Original Title</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.Titulo_Original}} </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Titulo_ES" class="col-md-2 control-label">Titulo en Español | Title in Spanish</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.Titulo_ES}}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Titulo_EN" class="col-md-2 control-label">Nombre en Inglés | Title in English</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.Titulo_EN}} </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Sinopsis_ES" class="col-md-2 control-label">Sinopsis en Español | Sinopsis in Spanish</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.Sinopsis_ES}} </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Sinopsis_EN" class="col-md-2 control-label">Sinopsis en Inglés | Sinopsis in English</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.Sinopsis_EN}} </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Duracion" class="col-md-2 control-label">Duración</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.Duracion}} </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Director" class="col-md-2 control-label">Director</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.Director}} </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Pais" class="col-md-2 control-label">Pais</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.Pais}} </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="File" class="col-md-2 control-label">Archivo | File</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.Path}}{{itemActive.File}}</p>
                        </div>
                    </div>

                    
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Proyecciones</h1>
        </div>
        <div class="col-sm-6">
            <form role="form" name="MuestraForm" class="form-horizontal">
                
            </form>
            <hr />
            <button type="button" class="btn btn-info" ng-click="saveProyeccion()">Guardar Proyeccion | Save Proyection</button>
            <hr />
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Proyeccion</th>
                    <th>Lugar</th>
                    <th>Inicio</th>
                    <th>Fin</th>
                    <th>Todo el día</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="proyeccion in itemActive.Proyecciones track by $index">
                    <td>{{ proyeccion.Id }}</td>
                    <td>{{ proyeccion.Proyeccion_ES }}</td>
                    <td>{{ proyeccion.Lugar_ES }}</td>
                    <td>{{ proyeccion.start }}</td>
                    <td>{{ proyeccion.end}}</td>
                    <td>{{ proyeccion.allDay }}</td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="deleteProyeccion(proyeccion)">Remover</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/ng-template" id="file-upload.html">
    <div class="col-md-5">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 file_upload">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>{{name}}</span>
                            <input class="fileupload"
                                   type="file"
                                   name="file"
                                   accept="{{fileType}}" />
                        </span>
                        <br>
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div class="display" style="display:block">
                            <div class="col-md-12">
                                <img ng-src="{{fileurl}}" ng-show="isImage" class="img-responsive img-thumbnail" />
                            </div>
                            <div class="form-group">
                                <label for="Descripcion_ES" class="col-md-2 control-label">Url:</label>
                                <div class="col-md-10">
                                    @*<p class="form-control-static">{{fileurl}}</p>*@
                                    <input type="text" ng-model="fileurl" required>
                                </div>
                                <a ng-href="{{ fileurl }}" target="_blank" class="btn btn-info" ng-show="fileurl"> Descargar </a>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.fileupload.js"></script>

    <!---------------------------------------------->
    <script>
        angular.module('App', ['ngRoute'])
            .config(function ($routeProvider) {
                $routeProvider
                    .when('/', {
                        templateUrl: 'list.html'
                    })
                    .when('/detail', {
                        templateUrl: 'detail.html'
                    })
                    .when('/view', {
                        templateUrl: 'view.html'
                    })
                ;

            })
            .controller('MuestraCtrl', ['$scope', '$http', '$location', '$q', function ($scope, $http, $location, $q) {
                //---------------------------
                var Service = '/api/ConfigService/';
                var Action = 'Muestra';
                //---------------------------
                $scope.loading = true;
                var qMuestra = $http.get(Service + Action);
                var qEditions = $http.get(Service + 'Edicion');
                $q.all([
                    qMuestra.then(function (response) { $scope.itemList = response.data; }),
                    qEditions.then(function (response) { $scope.edicionList = response.data; }),
                ]).then(function () {
                    $scope.loading = false;
                });
                //---------------------------
                //---------------------------
                //---------------------------
                $scope.itemActive = undefined;
                $scope.itemActiveDetail = undefined;
                $scope.proyeccionActive = undefined;
                //---------------------------
                $scope.cancel = function () {
                    $scope.itemActive = undefined;
                    $scope.itemActiveDetail = undefined;
                    $scope.proyeccionActive = undefined;
                    $location.path('/');
                };
                $scope.add = function () {
                    $scope.Proyecciones = {}
                    $scope.itemActive = {
                        Proyecciones: [],
                        FK_IdEdicion__SCH : $scope.filter.FK_IdEdicion__SCH,
                    };
                    $location.path('detail');
                };
                $scope.edit = function (item) {
                    $scope.itemActive = item;
                    $scope.Proyecciones = {}
                    angular.forEach(item.Proyecciones, function (v) {
                        $scope.Proyecciones[v] = true;
                    });
                    $location.path('detail');
                };
                $scope.delete = function () {
                    var item = $scope.itemActive;
                    var id = item.Id;
                    $http.delete(Service + Action + '/' + id).then(
                        function (response) {
                            var index = $scope.itemList.indexOf(item);
                            if (index > -1) {
                                $scope.itemList.splice(index, 1);
                            }
                            $scope.cancel();
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('view fail', response);
                            var errorDetail = "";
                            angular.forEach(response.data.ModelState, function (value, key) {
                                errorDetail = errorDetail + value + "<br/>";
                            });
                            $scope.alertModal("Error(" + response.status + ") " + response.statusText, errorDetail);
                        }
                    );
                };
                $scope.view = function (item) {
                    $scope.itemActive = item;
                    $scope.proyeccionActive = {};
                    $scope.loading = true;
                    var id = $scope.itemActive.Id;
                    $http.get(Service + Action + '/' + id).then(
                        function (response) {
                            $scope.itemActive = response.data;
                            $location.path('view');
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('view fail', response);
                            $scope.cancel();
                            $scope.loading = false;
                        }
                    );
                };
                $scope.save = function () {
                    if ($scope.itemActive === undefined) return;
                    $scope.loading = true;
                    var id = $scope.itemActive.Id;
                    if (id > 0) {
                        $http.put(Service + Action + '/' + id, $scope.itemActive).then(
                            function (response) {
                                console.info('update ok', response);
                                //response.data.Fecha = new Date(response.data.Fecha);
                                $scope.itemActive = angular.copy(response.data);
                                $scope.cancel();
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('update fail', response);
                                var errorDetail = "";
                                angular.forEach(response.data.ModelState, function (value, key) {
                                    errorDetail = errorDetail + value + "<br/>";
                                });
                                $scope.alertModal("Error(" + response.status + ") " + response.statusText, errorDetail);
                            }
                        );
                    } else {
                        $http.post(Service + Action, $scope.itemActive).then(
                            function (response) {
                                console.info('save ok', response);
                               // response.data.Fecha = new Date(response.data.Fecha);
                                $scope.itemList.push(response.data);
                                $scope.cancel();
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('save fail', response);
                                var errorDetail = "";
                                angular.forEach(response.data.ModelState, function (value, key) {
                                    errorDetail = errorDetail + value + "<br/>";
                                });
                                $scope.alertModal("Error(" + response.status + ") " + response.statusText, errorDetail);
                            }
                        );
                    }
                };
                $scope.saveProyeccion = function () {
                    if ($scope.itemActive === undefined) return;
                    $scope.loading = true;
                    var idMuestra = $scope.itemActive.Id;
                    var id = $scope.proyeccionActive.Id;
                    $http.post(Service + 'MuestraProyeccion/' + idMuestra, $scope.proyeccionActive).then(
                        function (response) {
                            console.info('save ok', response);
                            $scope.itemActive = angular.copy(response.data);
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('save fail', response);
                            $scope.cancel();
                            $scope.loading = false;
                        }
                    );
                };
                $scope.deleteProyeccion = function (proyeccion) {
                    $scope.proyeccionActive = proyeccion;
                    var item = $scope.itemActive;
                    var id = item.Id;
                    $http.put(Service + 'MuestraProyeccion/' + id, $scope.proyeccionActive).then(
                        function (response) {
                            $scope.itemActive = angular.copy(response.data);
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('view fail', response);
                            $scope.cancel();
                            $scope.loading = false;
                        }
                    );
                };
                //---------------------------
                // 
                //---------------------------
                $scope.filter = {};
                //---------------------------
                $scope.$watch('filter.FK_IdEdicion__SCH', function (v) {

                    if ($scope.itemActive !== undefined) {
                        if ($scope.itemActive.FK_IdEdicion__SC != v) {
                            $scope.itemActive.FK_IdEdicion__SCH = v;
                            $scope.Proyecciones = {};
                        }                        
                    }

                    $scope.proyeccionList = [];

                    if (v !== undefined) {
                        $scope.loading = true;
                        var qProyecciones = $http.get(Service + 'ProyeccionByEdition/' + v);
                        $q.all([
                           qProyecciones.then(function (response) { $scope.proyeccionList = response.data; })
                        ]).then(function () {
                            $scope.loading = false;
                        });
                    }
                });
                $scope.filterListItem = function (item) {
                    if ($scope.filter.FK_IdEdicion__SCH == undefined) return true;
                    if (item.FK_IdEdicion__SCH == $scope.filter.FK_IdEdicion__SCH) {
                        if ($scope.filter.FK_IdProyeccion__SCH == undefined) return true;
                        else {
                            var _list = item.Proyecciones;
                            var _result = false;
                            angular.forEach(_list, function (v) {
                                if (v == $scope.filter.FK_IdProyeccion__SCH) _result = true;
                            });
                            return _result;
                        }                        
                    }
                    return false;
                };
                $scope.Proyecciones = {};
                $scope.$watch('Proyecciones', function (v) {
                    if (v === undefined) return;
                    if ($scope.itemActive !== undefined) {
                        $scope.itemActive.Proyecciones = [];
                        angular.forEach(v, function (value, key) {
                            if (value) {
                                this.push(parseInt(key, 10));
                            }
                        }, $scope.itemActive.Proyecciones);
                    }
                }, true);

                

            }])
            .directive('fileUploader', function () {
                return {
                    restrict: 'AE',
                    scope: {
                        fileurl: '='
                    },
                    templateUrl: 'file-upload.html',
                    link: function (scope, element, attrs) {
                        scope.name = attrs.name;
                        scope.isImage = false;
                        scope.fileType = "*";
                        var id = $(element).find('.fileupload').attr("data-id");
                        var progress_bar = $(element).find('.progress .progress-bar');

                        if (attrs.fileType == "pdf") {
                            scope.fileType = "application/pdf";
                        }

                        if (attrs.fileType == "imagen") {
                            scope.fileType = "image/*";
                            scope.isImage = true;
                        }

                        $(element).fileupload({
                            url: '/File/UploadFileImage',
                            acceptFileTypes: /(.|\/)(gif|jpe?g|png|pdf)$/i,
                            dataType: 'json',
                            add: function (e, data) {
                                data.submit();
                            },
                            done: function (e, data) {
                                scope.$apply(function () {
                                    scope.fileurl = data.result.pathfile;
                                })
                            },
                            progressall: function (e, data) {
                                var progress = parseInt(data.loaded / data.total * 100, 10);
                                scope.$apply(function () {
                                    $(progress_bar).css(
                                        'width',
                                        progress + '%'
                                    );
                                })
                            }
                        })
                        .prop('disabled', !$.support.fileInput)
                        .parent().addClass($.support.fileInput ? undefined : 'disabled');
                    }
                };
            })
        ;
    </script>
}
