﻿@{
    ViewBag.Title = "Lista de Programa | List of NewsLetters";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

@section style
{
    <link href="~/Content/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <style>
        .wizard > .content > .body {
            position: relative !important;
            width: 100% !important;
        }
    </style>

    <style>
        .fileinput-button {
            position: relative;
            overflow: hidden;
        }

            .fileinput-button input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }

        @@media screen\9 {
            .fileinput-button input {
                filter: alpha(opacity=0);
                font-size: 100%;
                height: 100%;
            }
        }
    </style>
}

<div class="wrapper wrapper-content" ng-controller="ProgramaCtrl">
    <div class="row">
        <div class="col-sm-8">
            <button type="button" class="btn btn-warning" ng-click="add()" ng-show="!itemActive">Crear</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()" ng-show="itemActive">Regresar</button>
            <hr />
            <div class="row">
                <div class="col-sm-8">
                    <form role="form" name="SedeForm" class="form-horizontal">
                        <div class="form-group">
                            <label for="FK_IdEdicion__SCH" class="col-md-6 control-label">Edicion del Festival | Festival Edition</label>
                            <div class="col-md-6">
                                <select class="form-control" ng-model="filter.FK_IdEdicion__SCH" required ng-options="item.Id as item.Nombre_ES for item in edicionList" name="FK_IdEdicion__SCH">
                                    <option value="">Seleccione ... </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="FK_IdSede__SCH" class="col-md-6 control-label">Sede | Sede</label>
                            <div class="col-md-6">
                                <select class="form-control" ng-model="filter.FK_IdSede__SCH" required ng-options="item.Id as item.Sede_ES for item in sedeList">
                                    <option value="">Seleccione ... </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr />
            <div ng-view></div>
        </div>

        <div class="col-sm-4">
            <h5>loading</h5>
            <pre>{{loading}}</pre>
            <pre>{{itemActive | json}}</pre>
            <h5>filter</h5>
            <pre>{{filter | json}}</pre></div>
    </div>
</div>

<script type="text/ng-template" id="list.html">
    
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Edicion del Festival</th>
                        <th>Sede</th>
                        <th>Fecha</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in itemList | filter: filter : strict">
                        <th scope="row">{{ item.Id }}</th>
                        <td>{{ item.FK_IdEdicion__SCH }} - {{item.descripcionEdicion}}</td>
                        <td>{{ item.FK_IdSede__SCH }}- {{ item.descipcionSede }}</td>
                        <td>{{ item.Date | date:'dd/MM/yyyy' }}</td>
                        <td>
                            <button type="button" ng-click="view(item)" class="btn btn-primary">
                                Detalles
                            </button>
                            <button type="button" ng-click="edit(item)" class="btn btn-success">
                                Editar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</script>
<script type="text/ng-template" id="detail.html">
    <form role="form" name="ProgramaForm" class="form-horizontal">

        <div class="form-group">
            <label for="Cartel_ES" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
            <div class="col-md-10">
                <select class="form-control" ng-model="itemActive.FK_IdEdicion__SCH" required ng-options="item.Id as item.Nombre_ES for item in edicionList" disabled>
                    <option value="">Seleccione ... </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="FK_IdSede__SCH" class="col-md-2 control-label">Sede | Sede</label>
            <div class="col-md-10">
                <select class="form-control" ng-model="itemActive.FK_IdSede__SCH" required ng-options="item.Id as item.Sede_ES for item in sedeList" disabled>
                    <option value="">Seleccione ... </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="Date" class="col-md-2 control-label">Fecha | Date</label>
            <div class="col-md-10">
                <input type="date" class="form-control" id="Date" placeholder="Fecha | Date" ng-model="itemActive.Date" required>
            </div>
        </div>

        <hr />
        @*<div class="alert alert-danger" role="alert" ng-show="errorList.length > 0">
                <strong>Oh snap!</strong>
                <p ng-repeat="item in errorList">{{item}}</p>
            </div>*@
        <button type="button" class="btn btn-info" ng-click="save()">Registro | Register</button>
        <button type="button" class="btn btn-info" ng-click="delete()" ng-show="itemActive.Id">Eliminar | Delete</button>
        <hr />
    </form>
</script>

<script type="text/ng-template" id="view.html">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form name="edicionFestivalForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="FK_IdEdicion__SCH" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.FK_IdEdicion__SCH}} - {{itemActive.descripcionEdicion}} </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="FK_IdSede__SCH" class="col-md-2 control-label">Sede | Sede</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{ itemActive.FK_IdSede__SCH }}- {{ itemActive.descipcionSede }} </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Date" class="col-md-2 control-label">Fecha | Date</label>
                        <div class="col-md-10">
                            <p class="form-control-static">{{itemActive.Date | date:'dd/MM/yyyy' }}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Eventos</h1>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Programa</th>
                    <th>Tipo Evento</th>
                    <th>Lugar</th>
                    <th>Descripcion</th>
                    <th>Evento</th>
                    <th>Imagen</th>
                    <th>ImagenWeb</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemActive.Eventos track by $index">
                    <th scope="row">{{ item.Id }}</th>
                    <td>{{item.descripcionPrograma}}</td>
                    <td>{{item.FK_IdTipoEvento__SCH}} - {{item.descripcionTipoEvento}}</td>
                    <td>{{item.Lugar_ES}}</td>
                    <td>{{item.Descripcion_ES}}</td>
                    <td>{{item.Evento_ES}}</td>
                    <td>
                        <div ng-show="item.Image != null">
                            <a href="{{ item.Image }}" target="_blank">
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div ng-show="item.ImageWeb != null">
                            <a href="{{ item.ImageWeb }}" target="_blank">
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Proyecciones</h1>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Programa</th>
                    <th>Tipo Evento</th>
                    <th>Lugar</th>
                    <th>Descripcion</th>
                    <th>Proyeccion</th>
                    <th>Imagen</th>
                    <th>ImagenWeb</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemActive.Proyecciones track by $index">
                    <th scope="row">{{ item.Id }}</th>
                    <td>{{item.descripcionPrograma}}</td>
                    <td>{{item.FK_IdTipoEvento__SCH}} - {{item.descripcionTipoEvento}}</td>
                    <td>{{item.Lugar_ES}}</td>
                    <td>{{item.Descripcion_ES}}</td>
                    <td>{{item.Proyeccion_ES}}</td>
                    <td>
                        <div ng-show="item.Image != null">
                            <a href="{{ item.Image }}" target="_blank">
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div ng-show="item.ImageWeb != null">
                            <a href="{{ item.ImageWeb }}" target="_blank">
                                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>

<script type="text/ng-template" id="file-upload.html">
    <div class="col-md-5">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 file_upload">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>{{name}}</span>
                            <input class="fileupload"
                                   type="file"
                                   name="file"
                                   accept="{{fileType}}" />
                        </span>
                        <br>
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div class="display" style="display:block">
                            <div class="col-md-12">
                                <img ng-src="{{fileurl}}" ng-show="isImage" class="img-responsive img-thumbnail" />
                            </div>
                            <div class="form-group">
                                <label for="Descripcion_ES" class="col-md-2 control-label">Url:</label>
                                <div class="col-md-10">
                                    @*<p class="form-control-static">{{fileurl}}</p>*@
                                    <input type="text" ng-model="fileurl" required>
                                </div>
                                <a ng-href="{{ fileurl }}" target="_blank" class="btn btn-info" ng-show="fileurl"> Descargar </a>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.fileupload.js"></script>

    <!---------------------------------------------->
    <script>
        angular.module('App', ['ngRoute'])
            .config(function ($routeProvider) {
                $routeProvider
                    .when('/', {
                        templateUrl: 'list.html'
                    })
                    .when('/detail', {
                        templateUrl: 'detail.html'
                    })
                    .when('/view', {
                        templateUrl: 'view.html'
                    })
                ;

            })
            .controller('ProgramaCtrl', ['$scope', '$http', '$location', '$q', function ($scope, $http, $location, $q) {
                //---------------------------
                var Service = '/api/ConfigService/';
                var Action = 'Programa';
                //---------------------------
                $scope.loading = true;
                var qPrograma = $http.get(Service + Action);
                var qEditions = $http.get(Service + 'Edicion');
                $q.all([
                    qPrograma.then(function (response) { $scope.itemList = response.data; }),
                    qEditions.then(function (response) { $scope.edicionList = response.data; }),
                ]).then(function () {
                    $scope.loading = false;
                });
                //---------------------------
                //---------------------------
                //---------------------------
                $scope.itemActive = undefined;
                $scope.itemActiveDetail = undefined;
                //---------------------------
                $scope.cancel = function () {
                    $scope.itemActive = undefined;
                    $scope.itemActiveDetail = undefined;
                    $location.path('/');
                };
                $scope.add = function () {
                    $scope.itemActive = {
                        FK_IdEdicion__SCH: $scope.filter.FK_IdEdicion__SCH,
                        FK_IdSede__SCH: $scope.filter.FK_IdSede__SCH,
                    };
                    $location.path('detail');
                };
                $scope.edit = function (item) {
                    $scope.itemActive = item;
                    $scope.itemActive.Date = new Date(item.Date);
                    $location.path('detail');
                };
                $scope.delete = function () {
                    var item = $scope.itemActive;
                    var id = item.Id;
                    $http.delete(Service + Action + '/' + id).then(
                        function (response) {
                            var index = $scope.itemList.indexOf(item);
                            if (index > -1) {
                                $scope.itemList.splice(index, 1);
                            }
                            $scope.cancel();
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('view fail', response);
                            var errorDetail = "";
                            angular.forEach(response.data.ModelState, function (value, key) {
                                errorDetail = errorDetail + value + "<br/>";
                            });
                            $scope.alertModal("Error(" + response.status + ") " + response.statusText, errorDetail);
                        }
                    );
                };
                $scope.view = function (item) {
                    $scope.itemActive = item;
                    $scope.loading = true;
                    var id = $scope.itemActive.Id;
                    $http.get(Service + Action + '/' + id).then(
                        function (response) {
                            $scope.itemActiveDetail = response.data;
                            $location.path('view');
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('view fail', response);
                            $scope.cancel();
                            $scope.loading = false;
                        }
                    );
                };
                $scope.save = function () {
                    if ($scope.itemActive === undefined) return;
                    $scope.loading = true;
                    var id = $scope.itemActive.Id;
                    if ($scope.itemActive.Home === undefined) $scope.itemActive.Home = false;
                    if (id > 0) {
                        $http.put(Service + Action + '/' + id, $scope.itemActive).then(
                            function (response) {
                                console.info('update ok', response);
                                //response.data.Fecha = new Date(response.data.Fecha);
                                $scope.itemActive = angular.copy(response.data);
                                $scope.cancel();
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('update fail', response);
                                var errorDetail = "";
                                angular.forEach(response.data.ModelState, function (value, key) {
                                    errorDetail = errorDetail + value + "<br/>";
                                });
                                $scope.alertModal("Error(" + response.status + ") " + response.statusText, errorDetail);
                            }
                        );
                    } else {
                        $http.post(Service + Action, $scope.itemActive).then(
                            function (response) {
                                console.info('save ok', response);
                                $scope.itemList.push(response.data);
                                $scope.cancel();
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('save fail', response);
                                var errorDetail = "";
                                angular.forEach(response.data.ModelState, function (value, key) {
                                    errorDetail = errorDetail + value + "<br/>";
                                });
                                $scope.alertModal("Error(" + response.status + ") " + response.statusText, errorDetail);
                            }
                        );
                    }
                };
                //---------------------------
                $scope.filter = {};
                //---------------------------
                $scope.$watch('filter.FK_IdEdicion__SCH', function (v) {
                    if ($scope.itemActive !== undefined) {
                        $scope.itemActive.FK_IdEdicion__SCH = v;
                    }
                    $scope.filter.FK_IdSede__SCH = undefined;
                    $scope.sedeList = [];
                    if (v !== undefined) {
                        $scope.loading = true;
                        $http.get(Service + 'SedeByEdicion/' + v).then(function (response) {
                            $scope.sedeList = response.data;
                            $scope.loading = false;
                        });
                    }                 
                });
                $scope.$watch('filter.FK_IdSede__SCH', function (v) {
                    if ($scope.itemActive !== undefined) {
                        $scope.itemActive.FK_IdSede__SCH = v;
                    }
                });

            }])
            .directive('fileUploader', function () {
                return {
                    restrict: 'AE',
                    scope: {
                        fileurl: '='
                    },
                    templateUrl: 'file-upload.html',
                    link: function (scope, element, attrs) {
                        scope.name = attrs.name;
                        scope.isImage = false;
                        scope.fileType = "*";
                        var id = $(element).find('.fileupload').attr("data-id");
                        var progress_bar = $(element).find('.progress .progress-bar');

                        if (attrs.fileType == "pdf") {
                            scope.fileType = "application/pdf";
                        }

                        if (attrs.fileType == "imagen") {
                            scope.fileType = "image/*";
                            scope.isImage = true;
                        }

                        $(element).fileupload({
                            url: '/File/UploadFileImage',
                            acceptFileTypes: /(.|\/)(gif|jpe?g|png|pdf)$/i,
                            dataType: 'json',
                            add: function (e, data) {
                                data.submit();
                            },
                            done: function (e, data) {
                                scope.$apply(function () {
                                    scope.fileurl = data.result.pathfile;
                                })
                            },
                            progressall: function (e, data) {
                                var progress = parseInt(data.loaded / data.total * 100, 10);
                                scope.$apply(function () {
                                    $(progress_bar).css(
                                        'width',
                                        progress + '%'
                                    );
                                })
                            }
                        })
                        .prop('disabled', !$.support.fileInput)
                        .parent().addClass($.support.fileInput ? undefined : 'disabled');
                    }
                };
            })
        ;
    </script>
}
