﻿@{
    ViewBag.Title = "Lista de Sedes | List of NewsLetters";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

@section style
{
    <link href="~/Content/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <style>
        .wizard > .content > .body {
            position: relative !important;
            width: 100% !important;
        }
    </style>

    <style>
        .fileinput-button {
            position: relative;
            overflow: hidden;
        }

            .fileinput-button input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }

        @@media screen\9 {
            .fileinput-button input {
                filter: alpha(opacity=0);
                font-size: 100%;
                height: 100%;
            }
        }
    </style>
}

<div class="wrapper wrapper-content" ng-controller="SedeCtrl">
    <div class="row">
        <div class="col-sm-8">
            <button type="button" class="btn btn-warning" ng-click="add()" ng-show="!itemActive">Crear</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()" ng-show="itemActive">Regresar</button>
            <hr />
            <div class="row">
                <div class="col-sm-8">
                    <form role="form" name="SedeForm" class="form-horizontal">
                        <div class="form-group">
                            <label for="FK_IdEdicion__SCH" class="col-md-6 control-label">Edicion del Festival | Festival Edition</label>
                            <div class="col-md-6">
                                <select class="form-control" ng-model="filter.FK_IdEdicion__SCH" required ng-options="item.Id as item.Nombre_ES for item in edicionList" name="FK_IdEdicion__SCH">
                                    <option value="">Seleccione ... </option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <hr />
            <div ng-view></div>
            <div id="alert-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content panel-warning">
                        <div class="modal-header panel-heading">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 id="alert-modal-title" class="modal-title"></h4>
                        </div>
                        <div id="alert-modal-body" class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-sm-4">
            <h5>loading</h5>
            <pre>{{loading}}</pre>
            <pre>{{itemActive | json}}</pre>
            <h5>filter</h5>
            <pre>{{filter | json}}</pre>
        </div>*@
    </div>
</div>

<script type="text/ng-template" id="file-upload.html">
    <div class="col-md-5">
        <div class="ibox">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 file_upload">
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>{{name}}</span>
                            <input class="fileupload"
                                   type="file"
                                   name="file"
                                   accept="{{fileType}}" />
                        </span>
                        <br>
                        <br>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        <div class="display" style="display:block">
                            <div class="col-md-12">
                                <img ng-src="{{fileurl}}" ng-show="isImage" class="img-responsive img-thumbnail" />
                            </div>
                            <div class="form-group">
                                <label for="Descripcion_ES" class="col-md-2 control-label">Url:</label>
                                <div class="col-md-10">
                                    @*<p class="form-control-static">{{fileurl}}</p>*@
                                    <input type="text" ng-model="fileurl" required>
                                </div>
                                <a ng-href="{{ fileurl }}" target="_blank" class="btn btn-info" ng-show="fileurl"> Descargar </a>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.fileupload.js"></script>

    <!---------------------------------------------->
    <script>
        angular.module('App', ['ngRoute'])
            .config(function ($routeProvider) {
                $routeProvider
                    .when('/', {
                        templateUrl: '/static/app/sede/views/list.html'
                    })
                    .when('/detail', {
                        templateUrl: '/static/app/sede/views/detail.html'
                    })
                    .when('/view', {
                        templateUrl: '/static/app/sede/views/view.html'
                    })
                ;

            })
            .controller('SedeCtrl', ['$scope', '$http', '$location', '$q', function ($scope, $http, $location, $q) {
                //---------------------------
                var Service = '/api/ConfigService/';
                var Action = 'Sede';
                //---------------------------
                $scope.loading = true;
                var qSede = $http.get(Service + Action);
                var qEditions = $http.get(Service + 'Edicion');
                $q.all([
                    qSede.then(function (response) { $scope.itemList = response.data; }),
                    qEditions.then(function (response) { $scope.edicionList = response.data; })
                ]).then(function () {
                    $scope.loading = false;
                });
                //---------------------------
                //---------------------------
                //---------------------------
                $scope.itemActive = undefined;
                $scope.itemActiveDetail = undefined;
                //---------------------------
                $scope.cancel = function () {
                    $scope.itemActive = undefined;
                    $scope.itemActiveDetail = undefined;
                    $location.path('/');
                };
                $scope.add = function () {
                    $scope.itemActive = {
                        FK_IdEdicion__SCH: $scope.filter.FK_IdEdicion__SCH
                    };
                    $location.path('detail');
                };
                $scope.edit = function (item) {
                    $scope.itemActive = item;
                    $location.path('detail');
                };
                $scope.delete = function () {
                    var item = $scope.itemActive;
                    var id = item.Id;
                    $http.delete(Service + Action + '/' + id).then(
                        function (response) {
                            var index = $scope.itemList.indexOf(item);
                            if (index > -1) {
                                $scope.itemList.splice(index, 1);
                            }
                            $scope.cancel();
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('view fail', response);
                            var errorDetail = "";
                            angular.forEach(response.data.ModelState, function (value, key) {
                                errorDetail = errorDetail + value + "<br/>";
                            });
                            $scope.alertModal("Error(" + response.status + ") " + response.statusText, errorDetail);
                        }
                    );
                };
                $scope.view = function (item) {
                    $scope.itemActive = item;
                    $scope.loading = true;
                    var id = $scope.itemActive.Id;
                    $http.get(Service + Action + '/' + id).then(
                        function (response) {
                            $scope.itemActiveDetail = response.data;
                            $location.path('view');
                            $scope.loading = false;
                        },
                        function (response) {
                            console.info('view fail', response);
                            $scope.cancel();
                            $scope.loading = false;
                        }
                    );
                };
                $scope.save = function () {
                    if ($scope.itemActive === undefined) return;
                    $scope.loading = true;
                    var id = $scope.itemActive.Id;
                    if ($scope.itemActive.Home === undefined) $scope.itemActive.Home = false;
                    if (id > 0) {
                        $http.put(Service + Action + '/' + id, $scope.itemActive).then(
                            function (response) {
                                console.info('update ok', response);
                                //response.data.Fecha = new Date(response.data.Fecha);
                                $scope.itemActive = angular.copy(response.data);
                                $scope.cancel();
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('update fail', response);
                                var errorDetail = "";
                                angular.forEach(response.data.ModelState, function (value, key) {
                                    errorDetail = errorDetail + value + "<br/>";
                                });
                                $scope.alertModal("Error(" + response.status + ") " + response.statusText, errorDetail);
                            }
                        );
                    } else {
                        $http.post(Service + Action, $scope.itemActive).then(
                            function (response) {
                                console.info('save ok', response);
                               // response.data.Fecha = new Date(response.data.Fecha);
                                $scope.itemList.push(response.data);
                                $scope.cancel();
                                $scope.loading = false;
                            },
                            function (response) {
                                console.info('save fail', response);
                                var errorDetail = "";
                                angular.forEach(response.data.ModelState, function (value, key) {
                                    errorDetail = errorDetail + value + "<br/>";
                                });
                                $scope.alertModal("Error(" + response.status + ") " + response.statusText, errorDetail);
                            }
                        );
                    }
                };
                //---------------------------
                $scope.filter = {};
                $scope.$watch('filter.FK_IdEdicion__SCH', function (v) {
                    if ($scope.itemActive !== undefined) {
                        $scope.itemActive.FK_IdEdicion__SCH = v;
                    }
                });
                //-----------------------------
                $scope.alertModal = function (title, body) {
                    // Display error message to the user in a modal
                    $('#alert-modal-title').html(title);
                    $('#alert-modal-body').html(body);
                    $('#alert-modal').modal('show');
                }

            }])
            .directive('fileUploader', function () {
                return {
                    restrict: 'AE',
                    scope: {
                        fileurl: '='
                    },
                    templateUrl: 'file-upload.html',
                    link: function (scope, element, attrs) {
                        scope.name = attrs.name;
                        scope.isImage = false;
                        scope.fileType = "*";
                        var id = $(element).find('.fileupload').attr("data-id");
                        var progress_bar = $(element).find('.progress .progress-bar');

                        if (attrs.fileType == "pdf") {
                            scope.fileType = "application/pdf";
                        }

                        if (attrs.fileType == "imagen") {
                            scope.fileType = "image/*";
                            scope.isImage = true;
                        }

                        $(element).fileupload({
                            url: '/File/UploadFileImage',
                            acceptFileTypes: /(.|\/)(gif|jpe?g|png|pdf)$/i,
                            dataType: 'json',
                            add: function (e, data) {
                                data.submit();
                            },
                            done: function (e, data) {
                                scope.$apply(function () {
                                    scope.fileurl = data.result.pathfile;
                                })
                            },
                            progressall: function (e, data) {
                                var progress = parseInt(data.loaded / data.total * 100, 10);
                                scope.$apply(function () {
                                    $(progress_bar).css(
                                        'width',
                                        progress + '%'
                                    );
                                })
                            }
                        })
                        .prop('disabled', !$.support.fileInput)
                        .parent().addClass($.support.fileInput ? undefined : 'disabled');
                    }
                };
            })
        ;
    </script>
}
