﻿@using ECO._2015.Models
@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
    ViewBag.Title = "Has olvidado tu contraseña | Forgot password";
}

<div class="widget-head-color-box yellow-bg p-lg">
    <img src="~/Content/images/logo-ecoff7-715x402-2-w.png" class="m-b-md" alt="profile" style="width: 100%;">
    <div>
        <span>@ViewBag.EdicionFestivalTitleEsp</span> |
        <span>@ViewBag.EdicionFestivalTitleIng</span>
    </div>
</div>
<div class="widget-text-box text-left">
    <h4 class="media-heading">Recuperar contraseña | Recover password</h4>
    @*<p>Ingrese la cuenta de email con que se registro | Enter the email account with which you registered</p>*@
    <hr />
    @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <button type="submit" class="btn btn-warning block full-width m-b">Recuperar | Recover</button>
    }
    <div class="text-right">
        <a class="btn btn-xs btn-white" href="@Url.Action("Login", "Account")"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;Volver | Back </a>
    </div>
</div>