﻿@using ECO._2015.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
    ViewBag.Title = "Acceso | Login";
}

<div class="widget-head-color-box white-bg p-lg">    
    <img src="~/Content/images/logo-ecoff7-footer-715x402.png" class="m-b-md" alt="profile" style="width: 100%;">
    <div>
        <span>@ViewBag.EdicionFestivalTitleEsp</span> |
        <span>@ViewBag.EdicionFestivalTitleIng</span>
    </div>
</div>
<div class="widget-text-box text-left">
    <h4 class="media-heading">Acceso | Access</h4>
    <hr />
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <button type="submit" class="btn btn-primary block full-width m-b">Acceder | Login </button>
    }

    <div class="text-center">
        <a class="btn btn-xs btn-white" href="@Url.Action("ForgotPassword", "Account")"><i class="fa fa-unlock"></i>&nbsp;&nbsp; Has olvidado tu contraseña | Forgot password </a>
    </div>
</div>

@section rigthBottom {
    @if (ViewBag.IsValidDate)
    {        
        <a class="btn btn-success" href="@Url.Action("Register" , "Account")" style="margin-top: 1em;">
            Registro <i class="fa fa-film" style="margin: 0 1em;"></i> Register
        </a>
    }
}