﻿@using ECO._2015.Models
@model RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
    ViewBag.Title = "Registro | Register";
    ViewBag.IsValidDate = true;
}

<div class="widget-head-color-box blue-bg p-lg">
    <img src="~/Content/images/logo-ecoff7-715x402-2-w.png" class="m-b-md" alt="profile" style="width: 100%;">
    <div>
        <span>@ViewBag.EdicionFestivalTitleEsp</span> |
        <span>@ViewBag.EdicionFestivalTitleIng</span>
    </div>
</div>

<div class="widget-text-box text-left">
    <h4 class="media-heading">Registro | Register</h4>
    <hr />
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "m-t", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <button type="submit" class="btn btn-success block full-width m-b">Registro | Register</button>
    }
    <div class="text-right">
        <a class="btn btn-xs btn-white" href="@Url.Action("Login", "Account")"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;Volver | Back </a>
    </div>
</div>

