﻿@{
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
    ViewBag.Title = "Confirmación de la contraseña de reinicio | Reset password confirmation";
}

<div class="widget-head-color-box red-bg p-lg">
    <img src="~/Content/images/logo-ecoff7-715x402-2-w.png" class="m-b-md" alt="profile" style="width: 100%;">
    <div>
        <span>@ViewBag.EdicionFestivalTitleEsp</span> |
        <span>@ViewBag.EdicionFestivalTitleIng</span>
    </div>
</div>

<div class="widget-text-box text-left">
    <h4 class="media-heading">@ViewBag.Title</h4>
    <hr />
    <p>
        Tu contraseña ha sido restablecida. Por favor @Html.ActionLink("haga clic aquí para iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>