﻿@model ECO._2015.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
    ViewBag.Title = "Restablecer la contraseña | Reset password";
}

<div class="widget-head-color-box red-bg p-lg">
    <img src="~/Content/images/logo-ecoff7-715x402-2-w.png" class="m-b-md" alt="profile" style="width: 100%;">
    <div>
        <span>@ViewBag.EdicionFestivalTitleEsp</span> |
        <span>@ViewBag.EdicionFestivalTitleIng</span>
    </div>
</div>

<div class="widget-text-box text-left">
    <h4 class="media-heading">@ViewBag.Title</h4>

    @using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <button type="submit" class="btn btn-primary block full-width m-b">Restablecer | Reset </button>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}