﻿@using ECO._2015.Models
@model JuradoViewModel

@Html.Partial("~/Views/Jurado/_DisplayJurado.cshtml", Model)
<!-- ----------->
<div class="widget red-bg p-lg">
    <div class="row vertical-align">
        <div class="col-xs-3">
            <img src="/Content/images/logo-330x330-cuadro-5bco-2.svg" class="m-t-xs img-responsive" alt="profile">
        </div>
        <div class="col-xs-9 text-right">
            <div class="font-bold">
                <p>@ViewBag.MsgBienvenidaJuradoES</p>
                <p>@ViewBag.MsgCierreJuradoES</p>
            </div>
            <p>@ViewBag.MsgBienvenidaJuradoEN</p>
            <p>@ViewBag.MsgCierreJuradoEN</p>
        </div>
    </div>
</div>