﻿@using ECO._2015.Models
@model JuradoDetailViewModel

@{
    Layout = "~/Views/Shared/_LayoutTemplateIns.cshtml";
    ViewBag.Title = "CALIFICAR | RATE";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Jurado")">LISTADO CORTOMETRAJES | SHORT LIST</a>
        </li>
        <li class="active">
            <strong>@ViewBag.Title</strong>
        </li>
    </ol>
}

@section style
{
    @Styles.Render("~/css/player-video")
    @Styles.Render("~/css/star-rating")
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                </div>
                <div class="ibox-content">
                    @Html.Partial("~/Views/ShortFilms/ShortFilm/_ViewShortFilm.cshtml", Model.ShortFilm)
                    <div class="hr-line-dashed"></div>
                    @using (Html.BeginForm("Detail", "Jurado", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        int i = 0;
                        foreach (var c in Model.ListCriterioCalificarByJurado)
                        {
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <h2>@c.Descripcion</h2>
                                        <input name="ListCriterio[@i].Valor" type="number" class="rating" value="@c.Value">
                                        <input type="hidden" name="ListCriterio[@i].Id" value="@c.Id" />
                                    </div>

                                    <div class="col-md-6 col-lg-6">
                                        <p>
                                            <span style="font-weight:700;">@c.DescripcionCompleta</span><br />
                                            <span class="text-info">
                                                @c.Explicacion
                                            </span>
                                        </p>
                                        <hr />
                                        <p>
                                            <span style="font-weight:700;">@c.DescripcionCompleta_EN</span><br />
                                            <span class="text-info">
                                                @c.Explicacion_EN
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            i++;
                        }
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="thumbnail well text-center">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-star"></i> <strong>Calificar</strong>| Rate</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>RESUMEN | Sumary</h5>
                </div>
                <div class="ibox-content">
                    @Html.Partial("~/Views/ShortFilms/ShortFilm/_ShortFilm.cshtml", Model.ShortFilm)
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>JURADO | Jury</h5>
                </div>
                <div class="ibox-content">
                    @Html.Partial("_FichaJurado", (JuradoViewModel)Model)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/player-video")
    @Scripts.Render("~/bundles/star-rating")
}