﻿@using ECO._2015.Models
@model JuradoListShortFilmViewModel

@{
    Layout = "~/Views/Shared/_LayoutTemplateIns.cshtml";
    ViewBag.Title = "LISTADO CORTOMETRAJES | SHORT LIST";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>JURADO | Jury</h5>
                </div>
                <div class="ibox-content">
                    @Html.Partial("_FichaJurado", (JuradoViewModel)Model)
                    <!-- ----------->
                    <div class="widget style1 navy-bg">
                        <div class="row vertical-align">
                            <div class="col-xs-6">
                                CORTOS | SHORTFILMS
                            </div>
                            <div class="col-xs-6 text-right">
                                <h2 class="font-bold">@Model.Total <i class="fa fa-video-camera"></i></h2>
                            </div>
                        </div>
                    </div>
                    <!-- ----------->
                    @if (Model.Calificados > 0)
                    {
                        <div class="widget style1 lazur-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-6">
                                    CORTOS CALIFICADOS | SHORTFILMS RATED
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h2 class="font-bold">@Model.Calificados <i class="fa fa-check-circle"></i></h2>
                                </div>
                            </div>
                        </div>
                    }

                    <!-- ----------->
                    @if (!Model.Termino)
                    {
                        <div class="widget style1 yellow-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-6">
                                    CORTOS POR CALIFICAR | SHORTFILMS TO BE RATED
                                </div>
                                <div class="col-xs-6 text-right">
                                    <h2 class="font-bold">@Model.Pendientes <i class="fa fa-exclamation-triangle"></i> </h2>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- ----------->
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                </div>

                <div class="ibox-content">
                    @using (Html.BeginForm("Encuesta", "Jurado", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                        @Html.AntiForgeryToken()
                            int i = 0;
                            foreach (var c in Model.Encuesta.ListRespueta)
                            {
                        <div class="form-group">
                            <label class="col-sm-6 control-label">
                                @c.PreguntaJurado.Pregunta_ES <br>
                                <small class="text-navy">@c.PreguntaJurado.Pregunta_EN</small>
                            </label>
                            <div class="col-sm-6">
                                <input type="hidden" name="ListRespueta[@i].Id" value="@c.PreguntaJurado.Id" />
                                <textarea class="form-control" name="ListRespueta[@i].Valor">@c.RespuestaJurado.Respuesta</textarea>
                            </div>
                        </div>
                                i++;
                            }
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="thumbnail well text-center">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-star"></i> <strong>Respuesta</strong>| Answer</button>
                                </div>
                            </div>
                        </div>
                        }
                </div>

                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped" style="font-size:smaller;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>
                                        Título original | Original title
                                    </th>
                                    <th>
                                        Género en que participa | Section to participate
                                    </th>
                                    <th>
                                        País de Producción | Country of Production
                                    </th>
                                    <th>
                                        Minutos | Minutes
                                    </th>
                                    <th>
                                        Idioma | Lenguage
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ListShortFilmJurado)
                                {
                                <tr>
                                    <td>
                                        <a href="@Url.Action("Detail", new { id = item.Id })" class="btn btn-info btn-sm">
                                            <span class="glyphicon glyphicon-facetime-video"></span>
                                        </a>
                                    </td>
                                    <td>
                                        @if (item.CalificacionRound > 0)
                                            {
                                        <h5>
                                            <span class="label label-success">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </span>
                                        </h5>
                                            }
                                    </td>
                                    <td>
                                        @if (item.CalificacionRound > 0)
                                            {
                                        <h5>
                                            <span class="label label-success">
                                                @item.CalificacionRound
                                            </span>
                                        </h5>
                                            }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Titulo_Original)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Categoria_ES)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Pais_ES)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tiempo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Idioma)
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>