﻿@model ECO._2015.Models.App.AppShortFilm

@*<div class="text-center">
    @{
        bool _valid = Model.ValidShortFilm;

        string[] _href = new string[] {
        "/ShortFilms/CreateVideo/"+Model.Id ,
        "/ShortFilms/CreateTeamDirector/"+Model.Id ,
        "/ShortFilms/CreateTeamProductor/"+Model.Id ,
        "/ShortFilms/CreateTeamGuion/"+Model.Id ,
        "/ShortFilms/CreateTeamFotografia/"+Model.Id ,
        "/ShortFilms/CreateTeamEdicion/"+Model.Id ,
        "/ShortFilms/CreateTeamSonido/"+Model.Id ,
        "/ShortFilms/CreateTeamDisenoSonoro/"+Model.Id ,
        "/ShortFilms/CreateTeamMusicaOriginal/"+Model.Id ,
        "/ShortFilms/CreateTeamContacto/"+Model.Id ,
        "/ShortFilms/CreateStill/"+Model.Id ,
        "/ShortFilms/CreateAutor/"+Model.Id ,
        "/ShortFilms/CloseVideo/"+Model.Id ,
    };

        string[] _class = new string[] {
        (Model.haveVideo)?"btn btn-success btn-xs":"btn btn-danger btn-xs",
        (Model.haveDirector)?"btn btn-success btn-xs":"btn btn-danger btn-xs",
        (Model.haveProductor)?"btn btn-success btn-xs":"btn btn-danger btn-xs",
        (Model.haveGuion)?"btn btn-success btn-xs":"btn btn-danger btn-xs",
        (Model.haveFotografia)?"btn btn-success btn-xs":"btn btn-danger btn-xs",
        (Model.haveEdicion)?"btn btn-success btn-xs":"btn btn-danger btn-xs",
        (Model.haveSonido)?"btn btn-success btn-xs":"btn btn-danger btn-xs",
        (Model.haveDisenoSonoro)?"btn btn-success btn-xs":"btn btn-danger btn-xs",
        (Model.haveMusicaOriginal)?"btn btn-success btn-xs":"btn btn-danger btn-xs",
        (Model.haveContacto)?"btn btn-success btn-xs":"btn btn-danger btn-xs",
        (Model.haveStill)?"btn btn-success btn-xs":"btn btn-danger btn-xs",
        (Model.haveImageAutor)?"btn btn-success btn-xs":"btn btn-danger btn-xs",
        (Model.Close_Corto)?"btn btn-success btn-xs":"btn btn-danger btn-xs",
    };

        string[] _icon = new string[] {
        (Model.haveVideo)?"glyphicon glyphicon-ok":"glyphicon glyphicon-remove",
        (Model.haveDirector)?"glyphicon glyphicon-ok":"glyphicon glyphicon-remove",
        (Model.haveProductor)?"glyphicon glyphicon-ok":"glyphicon glyphicon-remove",
        (Model.haveGuion)?"glyphicon glyphicon-ok":"glyphicon glyphicon-remove",
        (Model.haveFotografia)?"glyphicon glyphicon-ok":"glyphicon glyphicon-remove",
        (Model.haveEdicion)?"glyphicon glyphicon-ok":"glyphicon glyphicon-remove",
        (Model.haveSonido)?"glyphicon glyphicon-ok":"glyphicon glyphicon-remove",
        (Model.haveDisenoSonoro)?"glyphicon glyphicon-ok":"glyphicon glyphicon-remove",
        (Model.haveMusicaOriginal)?"glyphicon glyphicon-ok":"glyphicon glyphicon-remove",
        (Model.haveContacto)?"glyphicon glyphicon-ok":"glyphicon glyphicon-remove",
        (Model.haveStill)?"glyphicon glyphicon-ok":"glyphicon glyphicon-remove",
        (Model.haveImageAutor)?"glyphicon glyphicon-ok":"glyphicon glyphicon-remove",
        (Model.haveImageAutor)?"glyphicon glyphicon-ok":"glyphicon glyphicon-remove",
    };

        string[] _title = new string[] {
        " Cortometraje | Film" ,
        " Director | Director" ,
        " Productor | Producer",
        " Guión | Screenplay",
        " Fotografía| Photographer",
        " Edición | Editing",
        " Sonido | Sound",
        " Diseño Sonoro | Sound Design",
        " Música Original | Original Music",
        " Contacto | Contact Info",
        " Stills | Still or Frame ",
        " Fotografía del Director | Director’s Photo",
        " RESUMEN | SUMARY"
    };

        for (int i = 0; i < _href.Length; i++)
        {
            if (!Model.Close_Corto)
            {
                <a href="@_href[i]" class="@_class[i]" style="margin:5px;">@_title[i] &nbsp;<span class="@_icon[i]"></span></a>
            }
        }
    }
</div>


@if (_valid)
{
    <hr />
    <div class="alert alert-info">
        <p class="bg-primary">
            He leído la Convocatoria de Eco Film Festival 2014. La aplicación de esta ficha de inscripción
            supone la plena aceptación de las cláusulas en ella contenidas.
        </p>
        <p class="bg-primary">
            I have read the notice of Eco Film 2014. The application of this registration form implies full
            acceptance of the terms contained therein.
        </p>
    </div>

    if (!Model.Close_Corto)
    {
        using (Html.BeginForm("CloseVideo", "ShortFilms"))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("Id", Model.Id)

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Acepto_Terminos_Condiciones, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-2">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Acepto_Terminos_Condiciones)
                            @Html.ValidationMessageFor(model => model.Acepto_Terminos_Condiciones, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-info btn-lg" type="submit" name="ActionNext">
                            CONFIRMAR E INSCRIBIR | CONFIRM AND SUBMIT <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-info">
            <h2>
                @Html.DisplayFor(e => Model.Acepto_Terminos_Condiciones)
                @Html.DisplayNameFor(e => Model.Acepto_Terminos_Condiciones)
            </h2>
            <p>
                Gracias por participar en la 4ta edición del Ecofilm Festival / Residuos Sólidos. <br />
                Si eres seleccionado, serás notificado al correo registrado antes del 1 de septiembre, con<br />
                las instrucciones necesarias para continuar en competencia.<br />
                Buena Suerte!<br />
                Te esperamos en Octubre!
            </p>
            <p>
                Your film has been registered!<br />
                Thank you for submitting your film to Ecofilm Festival 2014. In case of being selected you<br />
                will receive an email before the 1st of September with the instructions to go on with the competition.<br />
                Good luck!<br />
                We hope to see you in October.!
            </p>
        </div>
    }
}*@
