﻿@model ECO._2015.Models.ViewsModels.FileUploadViewModel

<table class="table table-bordered tableclosevideo">
    <tbody>
        <tr>
            <td colspan="2">
                <h4> SUBIR ARCHIVO MP4 | UPLOAD MP4 FILE</h4>
            </td>
        </tr>
        <tr style="font-size:medium;">
            <td style="text-align:center; background-color:#FFFFFF;padding: 20px;">
                <div style="padding:15px;"><span class="label label-info">Subiendo: <span class="progress_count">0</span>%</span></div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
                <hr />
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>@Model.title</span>
                    <input class="fileupload" type="file" name="file" accept="video/mp4" data-id="@Model.Id" data-film="@Model.IdShortFilm" data-url="@Model.Url" />
                </span>
            </td>
        </tr>
    </tbody>
</table>   