﻿@using ECO._2015.Controllers.Services
@model DisplayContactoViewModel

@{
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
    ViewBag.Title = "Contacto | Contact";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form name="edicionFestivalForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="Edicion" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.FK_IdEdicion__SCH) - @Html.DisplayFor(model => model.descripcionEdicion) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Email" class="col-md-2 control-label">Correo Electronico | Email</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Email) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Nombre_ES" class="col-md-2 control-label">Nombre en Español | Name in Spanish</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Nombre_ES) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Nombre_EN" class="col-md-2 control-label">Nombre en Inglés | Name in english</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Nombre_EN) </p>
                        </div>
                    </div>

                    <hr />
                        <a href="@Url.Action("Edit", "Contacto")/@Html.DisplayFor(model => model.Id)" class="btn btn-success">
                            Editar
                        </a>
                        <a href="@Url.Action("Index", "Contacto")" class="btn btn-success">
                            Volver a la Lista
                        </a>
                    <hr />
                </form>
            </div>
        </div>
    </div>
</div>
