﻿@using ECO._2015.Controllers.Services
@model DisplayContactoViewModel

@{
    ViewBag.Title = "Editar Contacto | Edit NewsLetter";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

<div class="wrapper wrapper-content" ng-controller="ContactoCrtl">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form role="form" name="ContactoForm" class="form-horizontal">

                    <div class="form-group">
                        <label for="FK_IdEdicion__SCH" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="FK_IdEdicion__SCH" required ng-options="item as item.Descripcion for item in edicionList">
                                <option value="">Seleccione ... </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Email" class="col-md-2 control-label">Correo Electronico | Email</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Email" placeholder="Correo Electronico | Email" ng-model="contacto.Email" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Nombre_ES" class="col-md-2 control-label">Nombre en Español | Name in Spanish</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Nombre_ES" placeholder="Nombre en Español | Name in Spanish" ng-model="contacto.Nombre_ES" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Nombre_EN" class="col-md-2 control-label">Nombre en Inglés | Name in english</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Nombre_EN" placeholder="Nombre en Inglés | Name in english" ng-model="contacto.Nombre_EN" required>
                        </div>
                    </div>

                    <hr />
                    <div class="alert alert-danger" role="alert" ng-show="errorList.length > 0">
                        <strong>Oh snap!</strong>
                        <p ng-repeat="item in errorList">{{item}}</p>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="editarContacto()">Editar | Edit</button>
                    <hr />
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/moment/moment-with-locales.min.js"></script>
    <!---------------------------------------------->
    <script>
        angular.module('App', [])
            .controller('ContactoCrtl', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                //---------------------------
                var ctrl = this;
                ctrl.Service = '/api/ConfigService/';
                ctrl.ServiceOp = '/Contacto/';
                //---------------------------
                $scope.errorList = [];
                var idContacto = "";
                $scope.contacto = {};
                //----------------------------
                ctrl.init = function () {
                    $http.get(ctrl.Service + 'SelectEdicion').then(function (response) {
                        $scope.edicionList = response.data;
                        $scope.contacto.FK_IdEdicion__SCH = "@Html.DisplayFor(model => model.FK_IdEdicion__SCH)";
                        $.each($scope.edicionList, function (key, value) {
                            if (value.Id == $scope.contacto.FK_IdEdicion__SCH) {
                                $scope.FK_IdEdicion__SCH = $scope.edicionList[key];
                            }
                        });
                    });

                    $scope.contacto.Email = "@Html.DisplayFor(model => model.Email)";
                    $scope.contacto.Nombre_ES = "@Html.DisplayFor(model => model.Nombre_ES)";
                    $scope.contacto.Nombre_EN = "@Html.DisplayFor(model => model.Nombre_EN)";
                    idContacto = "@Html.DisplayFor(model => model.Id)";
                };
                //----------------------------------------
                $scope.$watch('FK_Edicion', function (v) {
                    if (v === undefined) return;
                    //----------------------------
                    $scope.contacto.Edicion = v.Id;
                });

                //----------------------------------------
                ctrl.init();
                //----------------------------
                $scope.editarContacto = function () {
                    $scope.errorList = [];

                    $http.post(ctrl.ServiceOp + 'Edit', { 'id': idContacto, 'model': $scope.contacto }).then(
                        function (response) {
                            $window.location.href = response.data.Url;
                        }
                        , function (response) {
                            if (response.status == 400)
                            {
                                $scope.errorList = response.data;
                            }
                        }
                    );
                };
            }])
        ;
    </script>
}
