﻿
@{
    ViewBag.Title = "Lista de Contactos | Contact List";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

<div class="wrapper wrapper-content" ng-controller="ContactoCtrl">
    <div class="row">
        <div class="col-sm-offset-10"><a href="@Url.Action("Create", "Contacto")" class="btn btn-warning">Crear</a></div>
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Edicion del Festival</th>
                        <th>Email</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="boletin in boletinList">
                        <th scope="row">{{ boletin.Id }}</th>
                        <td>{{ boletin.FK_IdEdicion__SCH }} - {{boletin.descripcionEdicion}}</td>
                        <td>{{ boletin.Email }}</td>
                        <td>{{ boletin.Nombre }}</td>
                        <td>
                            <a href="@Url.Action("Detail", "Contacto")/{{boletin.Id}}" class="btn btn-primary">
                                Detalles</a>
                            <a href="@Url.Action("Edit", "Contacto")/{{boletin.Id}}" class="btn btn-success">
                                    Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <!---------------------------------------------->
    <script>
        angular.module('App', [])
            .controller('ContactoCtrl', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                //---------------------------
                var ctrl = this;
                ctrl.Service = '/api/ConfigService/';
                //---------------------------
                ctrl.init = function () {
                    $http.get(ctrl.Service + 'Contacto').then(function (response) { $scope.boletinList = response.data; });
                };
                //---------------------------
                ctrl.init();
                //---------------------------
            }])
        ;
    </script>
}
