﻿/*------------------------------------------------------------------------*/
/*--------------------------------- imports-------------------------------*/
/*------------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext);

/*------------------------------------------------------------------------*/
/*--------------------------------- tags ---------------------------------*/
/*------------------------------------------------------------------------*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

/*------------------------------------------------------------------------*/
/*--------------------------------- ids ----------------------------------*/
/*------------------------------------------------------------------------*/



/*------------------------------------------------------------------------*/
/*--------------------------------- classes ------------------------------*/
/*------------------------------------------------------------------------*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* jurados */
.jurado-nombre {
    font-size:3em;
}

.jurado-container {    
    background-color: #F5F5F5;    
    border: solid .5em #EBEBEB;
    border-radius: 18px;
    color: #585858;
    margin: 0;
    padding: 10px;
}

.jurado-tipo-esp,
.jurado-nacionalidad-esp {
    color: #517ABA;
    font-weight: 700;
}

.jurado-tipo-eng,
.jurado-nacionalidad-eng {
    color: #6EBD92;
    font-weight: 500;
}

.jurado-nacionalidad {
}

.jurado-icon {
    color: #B3B3B3;
}

/* Traducciones */
.str-eng { color:#63AF52; }
th{ background-color:#f8f8f8; }
.th-eng { color:#0C9BD3; font-weight:500; margin-top: 5px;}
.th-esp { color:#E43684; font-weight:700; }
.tableclosevideo { }
.tableclosevideo tr:first-child{ background-color:#f8f8f8; }
.tableclosevideo tr:first-child h4 { float:left;}

/* Responsive video vimeo*/
.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

/*------------------------------------------------------------------------*/
/*--------------------------------- media --------------------------------*/
/*------------------------------------------------------------------------*/

@media (min-width: 768px) {    
    .table-responsive-list-corto {
        width: 100%;
        margin-bottom: 15px;
        overflow-x: scroll;
        overflow-y: hidden;
        border: 1px solid #dddddd;
        font-size: 10px;
        font-family: Verdana;
  }
}

@media (max-width: 769px) {
    .jurado-nombre,.jurado-tipo,.jurado-nacionalidad {
        text-align: center;
    }
}