﻿@using ECO._2015.Controllers.Services
@model PatrocinadorViewModel

@{
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
    ViewBag.Title = "Patrocinador | Patrocinador";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form name="edicionFestivalForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="Nombre_ES" class="col-md-2 control-label">Tipo de Patrocinador | Type of Sponsor</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.tipoPatrocinador) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Descripcion_ES" class="col-md-2 control-label">Descripcion en Español | Description in Spanish</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Descripcion_ES) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Descripcion_EN" class="col-md-2 control-label">Descripcion en Inglés | Description in english</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Descripcion_EN) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Tema_EN" class="col-md-2 control-label">Imagen | Image</label>
                        <div class="col-md-10">
                            <p class="form-control-static">
                                <a href="@Html.DisplayFor(model => model.Image)" target="_blank">
                                    <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Info_ES" class="col-md-2 control-label">Sitio Web | WebSite</label>
                        <div class="col-md-10">
                            <p class="form-control-static">
                                <a href="@Html.DisplayFor(model => model.WebSite)" target="_blank">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Info_EN" class="col-md-2 control-label">Edicion del Festival| Festival Edition</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Edicion) - @Html.DisplayFor(model => model.descripcionEdicion) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="BasesConvocatoria_ES" class="col-md-2 control-label">Home | Home</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Home) </p>
                        </div>
                    </div>

                    <hr />
                        <a href="@Url.Action("Edit", "Patrocinador")/@Html.DisplayFor(model => model.Id)" class="btn btn-success">
                            Editar
                        </a>
                        <a href="@Url.Action("Index", "Patrocinador")" class="btn btn-success">
                            Volver a la Lista
                        </a>
                    <hr />
                </form>
            </div>
        </div>
    </div>
</div>
