﻿@using ECO._2015.Controllers.Services
@model PatrocinadorViewModel

@{
    ViewBag.Title = "Editar Patrocinador | Edit Sponsor";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

@section style
{
    <link href="~/Content/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <style>
        .wizard > .content > .body {
            position: relative !important;
            width: 100% !important;
        }
    </style>

    <style>
        .fileinput-button {
            position: relative;
            overflow: hidden;
        }

            .fileinput-button input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }

        @@media screen\9 {
            .fileinput-button input {
                filter: alpha(opacity=0);
                font-size: 100%;
                height: 100%;
            }
        }
    </style>
}

<div class="wrapper wrapper-content" ng-controller="PatrocinadorCrtl">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form role="form" name="patrocinadorForm" class="form-horizontal">

                    <div class="form-group">
                        <label for="FK_IdTipoPatrocinador__SCH" class="col-md-2 control-label">Tipo de Patrocinador | Type Sponsor</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="FK_IdTipoPatrocinador__SCH" required ng-options="item as item.Descripcion for item in tipoPatrocinadorList">
                                <option value="">Seleccione ... </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Descripcion_ES" class="col-md-2 control-label">Descripcion en Español | Description in Spanish</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Descripcion_ES" placeholder="Descripcion en Español | Description in Spanish" ng-model="patrocinador.Descripcion_ES" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Descripcion_EN" class="col-md-2 control-label">Descripcion en Inglés | Description in english</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Descripcion_EN" placeholder="Descripcion en Inglés | Description in english" ng-model="patrocinador.Descripcion_EN" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Cartel_ES" class="col-md-2 control-label">Imagen | Image</label>
                        <div class="col-md-5">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-xs-12 file_upload">
                                            <span class="btn btn-success fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>Imagen | Image</span>
                                                <input class="fileupload"
                                                       type="file"
                                                       name="file"
                                                       accept="image/*"
                                                       data-id="Image" />
                                            </span>
                                            <br>
                                            <br>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"></div>
                                            </div>
                                            <div class="display" style="display:block">
                                                <img ng-src="{{patrocinador.Image}}" ng-show="patrocinador.Image != null" class="img-responsive img-thumbnail" />
                                            </div>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="WebSite" class="col-md-2 control-label">Sitio Web | WebSite</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="WebSite" placeholder="Imagen | Image" ng-model="patrocinador.WebSite" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Edicion" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="FK_Edicion" required ng-options="item as item.Descripcion for item in edicionList" ng-init="FK_Edicion = edicionList[patrocinador.Edicion]" >
                                <option value="">Seleccione ... </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Home" class="col-md-2 control-label">Home | Home</label>
                        <div class="col-md-10">
                            <input type="checkbox" id="Home" placeholder="Home | Home" ng-model="patrocinador.Home" required>
                        </div>
                    </div>

                    <hr />
                    <div class="alert alert-danger" role="alert" ng-show="errorList.length > 0">
                        <strong>Oh snap!</strong>
                        <p ng-repeat="item in errorList">{{item}}</p>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="editarPatrocinador()">Registro | Register</button>
                    <hr />
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.fileupload.js"></script>
    <!---------------------------------------------->
    <script>
        angular.module('App', [])
            .controller('PatrocinadorCrtl', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                //---------------------------
                var ctrl = this;
                ctrl.Service = '/api/ConfigService/';
                ctrl.ServiceOp = '/Patrocinador/';
                //---------------------------
                $scope.errorList = [];
                var idPatrocinador = "";
                $scope.patrocinador = {};
                //----------------------------
                ctrl.init = function () {
                    $http.get(ctrl.Service + 'SelectEdicion').then(function (response) {
                        $scope.edicionList = response.data;
                        $scope.patrocinador.Edicion = "@Html.DisplayFor(model => model.Edicion)";
                        $.each($scope.edicionList, function (key, value) {
                            if(value.Id == $scope.patrocinador.Edicion){
                                $scope.FK_Edicion = $scope.edicionList[key];
                            }
                        });
                    });
                    $http.get(ctrl.Service + 'SelectTipoPatrocinador').then(function (response) {
                        $scope.tipoPatrocinadorList = response.data;
                        $scope.patrocinador.FK_IdTipoPatrocinador__SCH = "@Html.DisplayFor(model => model.FK_IdTipoPatrocinador__SCH)";
                        $.each($scope.tipoPatrocinadorList, function (key, value) {
                            if (value.Id == $scope.patrocinador.FK_IdTipoPatrocinador__SCH) {
                                $scope.FK_IdTipoPatrocinador__SCH = $scope.tipoPatrocinadorList[key];
                            }
                        });
                    });

                    $scope.patrocinador.Descripcion_ES = "@Html.DisplayFor(model => model.Descripcion_ES)";
                    $scope.patrocinador.Descripcion_EN = "@Html.DisplayFor(model => model.Descripcion_EN)";
                    $scope.patrocinador.Image = "@Html.DisplayFor(model => model.Image)";
                    $scope.patrocinador.WebSite = "@Html.DisplayFor(model => model.WebSite)";
                    //$scope.patrocinador.Home = "@Html.DisplayFor(model => model.Home)";
                    idPatrocinador = "@Html.DisplayFor(model => model.Id)";
                };
                //----------------------------------------
                $scope.$watch('FK_Edicion', function (v) {
                    if (v === undefined) return;
                    //----------------------------
                    $scope.patrocinador.Edicion = v.Id;
                });

                $scope.$watch('FK_IdTipoPatrocinador__SCH', function (v) {
                    if (v === undefined) return;
                    //----------------------------
                    $scope.patrocinador.FK_IdTipoPatrocinador__SCH = v.Id;
                });

                //----------------------------------------
                ctrl.init();
                //----------------------------
                $scope.editarPatrocinador = function () {
                    $scope.errorList = [];

                    $http.post(ctrl.ServiceOp + 'Edit', { 'id': idPatrocinador, 'model': $scope.patrocinador }).then(
                        function (response) {
                            $window.location.href = response.data.Url;
                        }
                        , function (response) {
                            if (response.status == 400)
                            {
                                $scope.errorList = response.data;
                            }
                        }
                    );
                };
                $scope.setVariable = function (id, url) {
                    $scope.patrocinador[id] = url;
                }
                angular.element('.file_upload').each(function () {
                    var progress_bar = $(this).find('.progress .progress-bar');
                    var id = $(this).find('.fileupload').attr("data-id");
                    var display = $(this).find('.display');
                    var img = $(this).find('.display img');

                    $(this).fileupload({
                        url: '/File/UploadFileImage',
                        acceptFileTypes: /(.|\/)(gif|jpe?g|png|pdf)$/i,
                        dataType: 'json',
                        add: function (e, data) {
                            data.submit();
                        },
                        done: function (e, data) {
                            console.log(data);
                            console.log($scope.patrocinador);
                            console.log(id);
                            //window.filesUpload[id] = data.result.pathfile;
                            if ($scope.patrocinador.hasOwnProperty(id)) {
                                console.log(data.result.pathfile);
                                $scope.$apply(function () {
                                    $scope.setVariable(id, data.result.pathfile);
                                })
                            }
                        },
                        progressall: function (e, data) {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $(progress_bar).css(
                                'width',
                                progress + '%'
                            );
                        }
                    }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
                });
            }])
        ;
    </script>
}
