﻿
@{
    ViewBag.Title = "Lista de los Patrocinadores | List Sponsors";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

<div class="wrapper wrapper-content" ng-controller="PatrocinadorCtrl">
    <div class="row">
        <div class="col-sm-offset-10"><a href="@Url.Action("Create", "Patrocinador")" class="btn btn-warning">Crear</a></div>
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tipo de Patrocinador</th>
                        <th>Descripcion</th>
                        <th>Imagen</th>
                        <th>Sitio Web</th>
                        <th>Edicion del Festival</th>
                        <th>Home</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="patrocinador in patrocinadorList">
                        <th scope="row">{{ patrocinador.Id }}</th>
                        <td>{{ patrocinador.tipoPatrocinador }}</td>
                        <td>{{ patrocinador.Descripcion_ES }}</td>
                        <td>
                            <div ng-show="patrocinador.Image != null">
                                <a href="{{ patrocinador.Image }}" target="_blank">
                                    <i class="fa fa-file-image-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </td>
                        <td>
                            <div ng-show="patrocinador.WebSite != null">
                                <a href="{{ patrocinador.WebSite }}" target="_blank">
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                </a>
                            </div>
                        </td>
                        <td>{{ patrocinador.Edicion }} - {{patrocinador.descripcionEdicion}}</td>
                        <td>{{ patrocinador.Home }}</td>
                        <td>
                            <a href="@Url.Action("Detail", "Patrocinador")/{{patrocinador.Id}}" class="btn btn-primary">
                                Detalles</a>
                            <a href="@Url.Action("Edit", "Patrocinador")/{{patrocinador.Id}}" class="btn btn-success">
                                    Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <!---------------------------------------------->
    <script>
        angular.module('App', [])
            .controller('PatrocinadorCtrl', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                //---------------------------
                var ctrl = this;
                ctrl.Service = '/api/ConfigService/';
                //---------------------------
                ctrl.init = function () {
                    $http.get(ctrl.Service + 'Patrocinador').then(function (response) { $scope.patrocinadorList = response.data; });
                };
                //---------------------------
                ctrl.init();
                //---------------------------
            }])
        ;
    </script>
}
