﻿@using ECO._2015.Controllers.Services
@model DisplayMedioVidewModel

@{
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
    ViewBag.Title = "Medio | Media";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

<div class="wrapper wrapper-content" ng-controller="MediosCtrl">
    <div class="row">
        <div class="col-sm-12">
            Detail!!! 
        </div>        
    </div>
    <div class="row">
        <pre>{{prensaList | json}}</pre>
    </div>
</div>


@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <!---------------------------------------------->
    <script>
        angular.module('App', [])
            .controller('MediosCtrl', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                //---------------------------
                var ctrl = this;
                ctrl.Service = '/api/MediosService/';
                //---------------------------
                ctrl.init = function () {
                    $http.get(ctrl.Service + 'Prensa').then(function (response) { $scope.prensaList = response.data; });
                };
                //---------------------------
                ctrl.init();
                //---------------------------
            }])
        ;
    </script>
}
