﻿@model ECO._2015.Models.Prensa.Medio
@using ECO._2015.Bussiness.WebApi

@{
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
    ViewBag.Title = "Medios | Media";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

<div class="wrapper wrapper-content" ng-controller="MediosAdminCtrl">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form role="form" novalidate name="medioForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="Email" class="col-md-2 control-label">Correo | Email</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Email" placeholder="Email | Email" ng-model="medio.Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Nombre" class="col-md-2 control-label">Nombre | Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Nombre" placeholder="Nombre | Name" ng-model="medio.Nombre" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Apellidos" class="col-md-2 control-label">Apellidos | Last Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Apellidos" placeholder="Apellidos | Last Name" ng-model="medio.Apellidos" required>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="Medio" class="col-md-2 control-label">Medio | Media</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Medio" placeholder="Medio | Media" ng-model="medio.Medio" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Cargo" class="col-md-2 control-label">Cargo | Position</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Cargo" placeholder="Cargo | Position" ng-model="medio.Cargo" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Telefono" class="col-md-2 control-label">Teléfono | Phone</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Telefono" placeholder="Cargo | Phone" ng-model="medio.Telefono" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TipoTelefono" class="col-md-2 control-label">Tipo Teléfono | Type Phone</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="medio.TipoTelefono" required>
                                <option value="Celular">Celular | Cell Phone</option>
                                <option value="Oficina">Oficina |Office</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="WebSite" class="col-md-2 control-label">Pagina Web | WebSite</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="WebSite" placeholder="Pagina Web | WebSite" ng-model="medio.WebSite" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Facebook" class="col-md-2 control-label">Facebook | Facebook Page</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="FacebookebSite" placeholder="Facebook | Facebook Page" ng-model="medio.Facebook" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Twitter" class="col-md-2 control-label">Twitter | Twitter</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Twitter" placeholder="Twitter | Twitter" ng-model="medio.Twitter" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Youtube" class="col-md-2 control-label">Youtube | Youtube</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Youtube" placeholder="Youtube | Youtube" ng-model="medio.Youtube" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Vimeo" class="col-md-2 control-label">Vimeo | Vimeo</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Vimeo" placeholder="Vimeo | Vimeo" ng-model="medio.Vimeo" required>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="Pais" class="col-md-2 control-label">País | País</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="FK__AppPais" required ng-options="item as item.Descripcion for item in paisList">
                                <option value="">Seleccione ... </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-show="estadoList.length > 0">
                        <label for="Estado" class="col-md-2 control-label">Estado | Estado</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="FK__AppEstado" required ng-options="item as item.Descripcion for item in estadoList">
                                <option value="">Seleccione ... </option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="TipoTelefono" class="col-md-2 control-label">Tipo Medio | Type Medio</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="FK_IdTipoMedio" required ng-options="item as item.Descripcion for item in tipoMedioList">
                                <option value="">Seleccione ... </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-if="FK_IdTipoMedio.Otro">
                        <label for="TipoMedioOtro" class="col-md-2 control-label">TipoMedioOtro | TipoMedioOtro</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Vimeo" placeholder="TipoMedioOtro | TipoMedioOtro" ng-model="medio.TipoMedioOtro" required>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group" ng-if="coberturaList.length > 0">
                        <label for="MedioCobertura" class="col-md-2 control-label">Cobertura | Cobertura</label>
                        <div class="col-md-10">
                            <div class="checkbox" ng-repeat="item in coberturaList">
                                <label>
                                    <input type="checkbox" id="{{item.Id}}" ng-model="MedioCobertura[item.Id]">{{item.Descripcion}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="perfilList.length > 0">
                        <label for="MedioPerfil" class="col-md-2 control-label">MedioPerfil | MedioPerfil</label>
                        <div class="col-md-10">
                            <div class="checkbox" ng-repeat="item in perfilList">
                                <label>
                                    <input type="checkbox" id="{{item.Id}}" ng-model="MedioPerfil[item.Id]">{{item.Descripcion}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="diaTranmisionList.length > 0">
                        <label for="MedioPerfil" class="col-md-2 control-label">MedioDiaTranmision | MedioDiaTranmision</label>
                        <div class="col-md-10">
                            <div class="checkbox" ng-repeat="item in diaTranmisionList">
                                <label>
                                    <input type="checkbox" id="{{item.Id}}" ng-model="MedioDiaTranmision[item.Id]">{{item.Descripcion}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="tipoMedioDetailList.length > 0">
                        <label for="MedioPerfil" class="col-md-2 control-label">MedioTipoMedioDetail | MedioTipoMedioDetail</label>
                        <div class="col-md-10">
                            <div class="checkbox" ng-repeat="item in tipoMedioDetailList">
                                <label>
                                    <input type="checkbox" ng-model="MedioTipoMedioDetail[item.Id]">{{item.Descripcion}}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="TipoMedioDetailOtro">
                        <label for="TipoMedioOtro" class="col-md-2 control-label">TipoMedioDetailOtro | TipoMedioDetailOtro</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Vimeo" placeholder="TipoMedioDetailOtro | TipoMedioDetailOtro" ng-model="medio.TipoMedioDetailOtro" required>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="TestigoUrl" class="col-md-2 control-label">TestigoUrl | TestigoUrl</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Vimeo" placeholder="TestigoUrl | TestigoUrl" ng-model="medio.TestigoUrl" required>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="medio.AceptoTerminos">Acepto Terminos y Condiciones | Acepto Terminos y Condiciones
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-sm-4">
            <h4>medio</h4>
            <pre>{{medio | json}}</pre>
            <h4>MedioTipoMedioDetail</h4>
            <pre>{{MedioTipoMedioDetail | json}}</pre>
            <h4>coberturaList</h4>
            <pre>{{coberturaList | json}}</pre>
            <h4>diaTranmisionList</h4>
            <pre>{{diaTranmisionList | json}}</pre>
            <h4>tipoMedioDetailList</h4>
            <pre>{{tipoMedioDetailList | json}}</pre>
            <h4>perfilList</h4>
            <pre>{{perfilList | json}}</pre>
            <hr />
            <h4>tipoMedioList</h4>
            <pre>{{tipoMedioList | json}}</pre>
        </div>


    </div>
</div>


@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <!---------------------------------------------->
    <script>
        angular.module('App', [])
            .controller('MediosAdminCtrl', ['$scope', '$http', function ($scope, $http) {
                //---------------------------
                var ctrl = this;
                ctrl.Service = '/api/MediosService/';
                //---------------------------

                //----------------------------------------
            }])
        ;


    </script>
}
