﻿
@{
    ViewBag.Title = "Nueva Sede | New Location";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

@section style
{
    <link href="~/Content/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <style>
        .wizard > .content > .body {
            position: relative !important;
            width: 100% !important;
        }
    </style>

    <style>
        .fileinput-button {
            position: relative;
            overflow: hidden;
        }

            .fileinput-button input {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                opacity: 0;
                -ms-filter: 'alpha(opacity=0)';
                font-size: 200px;
                direction: ltr;
                cursor: pointer;
            }

        @@media screen\9 {
            .fileinput-button input {
                filter: alpha(opacity=0);
                font-size: 100%;
                height: 100%;
            }
        }
    </style>
}

<div class="wrapper wrapper-content" ng-controller="SedeCrtl">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form role="form" name="sedeForm" class="form-horizontal">

                    <div class="form-group">
                        <label for="Sede_ES" class="col-md-2 control-label">Sede en Español | Location in Spanish</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Sede_ES" placeholder="Sede en Español | Location in Spanish" ng-model="sede.Sede_ES" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Sede_EN" class="col-md-2 control-label">Sede en Inglés | Location in english</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Sede_EN" placeholder="Sede en Inglés | Location in english" ng-model="sede.Sede_EN" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Direccion" class="col-md-2 control-label">Dirección | Address</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Direccion" placeholder="Dirección | Address" ng-model="sede.Direccion" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="url" class="col-md-2 control-label">Url | Url</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="url" placeholder="Imagen | Image" ng-model="sede.url" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Cartel_ES" class="col-md-2 control-label">Imagen | Image</label>
                        <div class="col-md-5">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-xs-12 file_upload">
                                            <span class="btn btn-success fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>Imagen | Image</span>
                                                <input class="fileupload"
                                                       type="file"
                                                       name="file"
                                                       accept="image/*"
                                                       data-id="Image" />
                                            </span>
                                            <br>
                                            <br>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"></div>
                                            </div>
                                            <div class="display" style="display:block">
                                                <img ng-src="{{sede.Image}}" ng-show="sede.Image != null" class="img-responsive img-thumbnail" />
                                            </div>
                                            <hr />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="WebSite" class="col-md-2 control-label">Sitio Web | WebSite</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="WebSite" placeholder="Imagen | Image" ng-model="sede.WebSite" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Edicion" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="FK_Edicion" required ng-options="item as item.Descripcion for item in edicionList">
                                <option value="">Seleccione ... </option>
                            </select>
                        </div>
                    </div>

                    <hr />
                    <div class="alert alert-danger" role="alert" ng-show="errorList.length > 0">
                        <strong>Oh snap!</strong>
                        <p ng-repeat="item in errorList">{{item}}</p>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="crearSede()">Guardar | Save</button>
                    <hr />
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/jQuery-File-Upload/js/jquery.fileupload.js"></script>
    <!---------------------------------------------->
    <script>
        angular.module('App', [])
            .controller('SedeCrtl', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                //---------------------------
                var ctrl = this;
                ctrl.Service = '/api/ConfigService/';
                ctrl.ServiceOp = '/Sede/';
                //---------------------------
                ctrl.init = function () {
                    $http.get(ctrl.Service + 'SelectEdicion').then(function (response) { $scope.edicionList = response.data; });
                };
                //---------------------------
                $scope.errorList = [];
                $scope.sede = {
                };
                //----------------------------------------
                $scope.$watch('FK_Edicion', function (v) {
                    if (v === undefined) return;
                    //----------------------------
                    console.log(v);
                    $scope.sede.Edicion = v.Id;
                });

                //----------------------------------------
                ctrl.init();
                $scope.crearSede = function () {
                    $scope.errorList = [];
                    $http.post(ctrl.ServiceOp + 'Create', $scope.sede).then(
                        function (response) {
                            $window.location.href = response.data.Url;
                        }
                        , function (response) {
                            if (response.status == 400)
                            {
                                $scope.errorList = response.data;
                            }
                        }
                    );
                };

                $scope.setVariable = function (id, url) {
                    Object.defineProperty($scope.sede, id, {
                        value: url,
                        writable: true,
                        enumerable: true,
                        configurable: true
                    });
                }
                angular.element('.file_upload').each(function () {
                    var progress_bar = $(this).find('.progress .progress-bar');
                    var id = $(this).find('.fileupload').attr("data-id");
                    var display = $(this).find('.display');
                    var img = $(this).find('.display img');

                    $(this).fileupload({
                        url: '/File/UploadFileImage',
                        acceptFileTypes: /(.|\/)(gif|jpe?g|png|pdf)$/i,
                        dataType: 'json',
                        add: function (e, data) {
                            data.submit();
                        },
                        done: function (e, data) {
                            console.log(data);
                            console.log($scope.sede);
                            console.log(id);
                            //window.filesUpload[id] = data.result.pathfile;

                            console.log(data.result.pathfile);
                            $scope.$apply(function () {
                                $scope.setVariable(id, data.result.pathfile);
                            })
                        },
                        progressall: function (e, data) {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $(progress_bar).css(
                                'width',
                                progress + '%'
                            );
                        }
                    }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
                });
            }])
        ;
    </script>
}