﻿<h5>
    Gracias por tu interés en participar, la convocatoria ha cerrado y el jurado inicia su revisión de cortometrajes.
</h5>
<p>
    @ViewBag.CierreMsgEsp
</p>
<div class="hr-line-dashed"></div>
<h5>
    Thank you for your interest, the calll is now closed and the judges will be reviewing the shortfilms. 
</h5>
<p>
    @ViewBag.CierreMsgIng
</p>






@*<h5>
        ¡Tu corto ha sido inscrito!
    </h5>
    <p>
        Gracias por participar en la @ViewBag.EdicionFestivalTitleEsp del Ecofilm Festival / @ViewBag.FestivalTemaEsp. <br />
        <small>
            @ViewBag.CierreMsgEsp
        </small>
    </p>*@

@*<div class="widget white-bg p-lg text-center">
    <div class="m-b-md">
        <i class="fa fa-thumbs-up fa-4x text-navy"></i>
        <div class="row" style="margin-top:50px;">
            <div class="col-lg-6">
                <p class="m-xs">Felicidades a todos los concursantes.</p>
                <h3 class="font-bold no-margins">
                    @ViewBag.CierreMsgEsp
                </h3>
                <small>Convocatoria - Cerrada</small>
            </div>
            <div class="col-lg-6">
                <p class="m-xs">Felicidades a todos los concursantes.</p>
                <h3 class="font-bold no-margins">
                    @ViewBag.CierreMsgEsp
                </h3>
                <small>Convocatoria - Cerrada</small>
            </div>
        </div>
        
    </div>
</div>*@
