﻿@{
    int etapa = (int)ViewBag.Etapa;

    string link_etapa_1 = "#";
    string color_etapa_1 = "navy-bg";
    string icon_etapa_1 = "fa-pencil-square-o";

    string link_etapa_2 = "#";
    string color_etapa_2 = "yellow-bg";
    string icon_etapa_2 = "fa-exclamation-triangle";

    string link_etapa_3 = "#";
    string color_etapa_3 = "yellow-bg";
    string icon_etapa_3 = "fa-exclamation-triangle";

    string link_etapa_4 = "#";
    string color_etapa_4 = "yellow-bg";
    string icon_etapa_4 = "fa-exclamation-triangle";

    string link_etapa_5 = "#";
    string color_etapa_5 = "yellow-bg";
    string icon_etapa_5 = "fa-exclamation-triangle";

    bool _linkActive = (etapa < ViewBag.EtapaRegistroFin && etapa > 0);

    switch (etapa)
    {
        case 1:

            color_etapa_1 = "lazur-bg";
            icon_etapa_1 = "fa-check-circle";

            color_etapa_2 = "navy-bg";
            icon_etapa_2 = "fa-pencil-square-o";

            if (_linkActive)
            {
                link_etapa_1 = Url.Action("Edit", "ShortFilms", new { id = ViewBag.ShortFilmId });
            }

            break;

        case 2:

            color_etapa_1 = "lazur-bg";
            icon_etapa_1 = "fa-check-circle";

            color_etapa_2 = "lazur-bg";
            icon_etapa_2 = "fa-check-circle";

            color_etapa_3 = "navy-bg";
            icon_etapa_3 = "fa-pencil-square-o";

            if (_linkActive)
            {
                link_etapa_1 = Url.Action("Edit", "ShortFilms", new { id = ViewBag.ShortFilmId });
                link_etapa_2 = Url.Action("CreateStill", "ShortFilms", new { id = ViewBag.ShortFilmId });
            }
            break;

        case 3:

            color_etapa_1 = "lazur-bg";
            icon_etapa_1 = "fa-check-circle";

            color_etapa_2 = "lazur-bg";
            icon_etapa_2 = "fa-check-circle";

            color_etapa_3 = "lazur-bg";
            icon_etapa_3 = "fa-check-circle";

            color_etapa_4 = "navy-bg";
            icon_etapa_4 = "fa-pencil-square-o";

            if (_linkActive)
            {
                link_etapa_1 = Url.Action("Edit", "ShortFilms", new { id = ViewBag.ShortFilmId });
                link_etapa_2 = Url.Action("CreateStill", "ShortFilms", new { id = ViewBag.ShortFilmId });
                link_etapa_3 = Url.Action("CreateAutor", "ShortFilms", new { id = ViewBag.ShortFilmId });
            }

            break;

        case 4:

            color_etapa_1 = "lazur-bg";
            icon_etapa_1 = "fa-check-circle";

            color_etapa_2 = "lazur-bg";
            icon_etapa_2 = "fa-check-circle";

            color_etapa_3 = "lazur-bg";
            icon_etapa_3 = "fa-check-circle";

            color_etapa_4 = "lazur-bg";
            icon_etapa_4 = "fa-check-circle";

            color_etapa_5 = "navy-bg";
            icon_etapa_5 = "fa-pencil-square-o";

            if (_linkActive)
            {
                link_etapa_1 = Url.Action("Edit", "ShortFilms", new { id = ViewBag.ShortFilmId });
                link_etapa_2 = Url.Action("CreateStill", "ShortFilms", new { id = ViewBag.ShortFilmId });
                link_etapa_3 = Url.Action("CreateAutor", "ShortFilms", new { id = ViewBag.ShortFilmId });
                link_etapa_4 = Url.Action("CreateVideo", "ShortFilms", new { id = ViewBag.ShortFilmId });
                link_etapa_5 = Url.Action("CloseVideo", "ShortFilms", new { id = ViewBag.ShortFilmId });
            }

            break;

        case 5:

            color_etapa_1 = "lazur-bg";
            icon_etapa_1 = "fa-check-circle";

            color_etapa_2 = "lazur-bg";
            icon_etapa_2 = "fa-check-circle";

            color_etapa_3 = "lazur-bg";
            icon_etapa_3 = "fa-check-circle";

            color_etapa_4 = "lazur-bg";
            icon_etapa_4 = "fa-check-circle";

            color_etapa_5 = "lazur-bg";
            icon_etapa_5 = "fa-check-circle";
            break;
    }

}

<div class="ibox">
    <div class="ibox-title">
        <h5>Etapas | Stages </h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="widget style1 red-bg">
                    <div class="row vertical-align">
                        <div class="col-xs-2">
                            <i class="fa fa-tachometer fa-5x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <span class="font-bold">STAGES   </span>
                            <h1>Etapas @etapa/@ViewBag.EtapaRegistroFin</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            @if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="col-lg-12 validation-summary">
                    @Html.ValidationSummary()
                </div>
            }            
            <div class="col-lg-12">
                <a href="@link_etapa_1">
                    <div class="widget style1 @color_etapa_1">
                        <div class="row vertical-align">
                            <div class="col-xs-2 text-center">
                                <h2>1</h2>
                            </div>
                            <div class="col-xs-8 text-center">
                                <h3>DATOS GENERALES</h3><span>FILM DETAIL</span>
                            </div><div class="col-xs-2">
                                <i class="fa @icon_etapa_1 fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-12">
                <a href="@link_etapa_2">
                    <div class="widget style1 @color_etapa_2">
                        <div class="row vertical-align">
                            <div class="col-xs-2 text-center">
                                <h2>2</h2>
                            </div>
                            <div class="col-xs-8 text-center">
                                <h3>IMAGEN O CARTEL</h3><span>IMAGE OR POSTER</span>
                            </div><div class="col-xs-2">
                                <i class="fa @icon_etapa_2 fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-12">
                <a href="@link_etapa_3">
                    <div class="widget style1 @color_etapa_3">
                        <div class="row vertical-align">
                            <div class="col-xs-2 text-center">
                                <h2>3</h2>
                            </div>
                            <div class="col-xs-8 text-center">
                                <h3>FOTOGRAFÍA DEL DIRECTOR</h3><span>DIRECTOR'S PHOTO</span>
                            </div><div class="col-xs-2">
                                <i class="fa @icon_etapa_3 fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-12">
                <a href="@link_etapa_4">
                    <div class="widget style1 @color_etapa_4">
                        <div class="row vertical-align">
                            <div class="col-xs-2 text-center">
                                <h2>4</h2>
                            </div>
                            <div class="col-xs-8 text-center">
                                <h3>CORTOMETRAJE</h3><span>FILM</span>
                            </div><div class="col-xs-2">
                                <i class="fa @icon_etapa_4 fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-12">
                <a href="@link_etapa_5">
                    <div class="widget style1 @color_etapa_5">
                        <div class="row vertical-align">
                            <div class="col-xs-2 text-center">
                                <h2>5</h2>
                            </div>
                            <div class="col-xs-8 text-center">
                                <h3>RESUMEN</h3><span>SUMARY</span>
                            </div><div class="col-xs-2">
                                <i class="fa @icon_etapa_5 fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>