﻿<a href="@Url.Action("Create", "ShortFilms")">
    <div class="widget style2 lazur-bg">
        <div class="row vertical-align">
            <div class="col-xs-2">
                <i class="fa fa-plus-square fa-3x"></i>
            </div>
            <div class="col-xs-10 text-right">
                <h3 class="font-bold">Nueva Inscripción | Create New</h3>
            </div>
        </div>
    </div>
</a>