﻿@{
// ViewBag.IsCloseConvocatoria = false;
}
<div class="ibox">
    <div class="ibox-title">
        <h5>Instrucciones | Instructions</h5>
    </div>
    <div class="ibox-content">
        @if (ViewBag.IsCloseConvocatoria)
        {
            @Html.Partial("~/Views/ShortFilms/RegisterClose/_NewInscripcionMsg.cshtml")
        }
        <div class="widget red-bg p-lg text-center">
            <div class="m-b-md ">
                <h2 class="font-bold no-margins">
                    ECOFILM Festival
                </h2>
                <small>@ViewBag.FestivalTemaEsp| @ViewBag.FestivalTemaIng</small>
            </div>
            <img src="~/Content/images/logo-ecoff7-715x402-2-w.png" class="m-b-md" alt="profile" style="width: 100%;">
            <div>
                <span>@ViewBag.EdicionFestivalTitleEsp</span> |
                <span>@ViewBag.EdicionFestivalTitleIng</span>
            </div>
        </div>
        @if (!ViewBag.IsCloseConvocatoria)
        {
            <div class="hr-line-dashed"></div>
                @Html.Partial("~/Views/ShortFilms/RegisterClose/_CierreMsg.cshtml")
        }
    </div>
</div>