﻿@using ECO._2015.Models.ViewsModels
@using ECO._2015.Bussiness.WebApi
@{
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
    ViewBag.Title = "PROGRAMA  | SCHEDULE";
    int i = 0;
}

@section style
{
    <link href="~/Content/css/plugins/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/css/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" media='print' />
    <link href="~/Content/css/plugins/angular-bootstrap-datetimepicker/datetimepicker.css" rel="stylesheet" />
    <style>
        .label-conferencia {
            background-color: #ed5565 !important;
            color: #FFFFFF !important;
            border-color: #FFFFFF !important;
        }

        .label-exposicion {
            background-color: #f8ac59 !important;
            color: #FFFFFF !important;
            border-color: #FFFFFF !important;
        }

        .label-evento {
            background-color: #1ab394 !important;
            color: #FFFFFF !important;
            border-color: #FFFFFF !important;
        }

        .timeline-item .content {
            min-height: 120px !important;
        }
        /*.timeline-item .date {
            width: 250px !important;
        }*/
    </style>
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}



<div class="wrapper wrapper-content" ng-controller="CalendarCtrl" @Html.RequestVerificationToken()>
    <div class="row animated fadeInDown">
        <div class="col-lg-8">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Calendario | Calendar</h5>

                    <div class="ibox-tools">
                        <a class="collapse-link ui-sortable">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>

                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                            <label class="label label-primary"><i class="fa fa-wrench"></i> Tipo | Type </label>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li ng-repeat="item in typeEvent">
                                <a href="#" ng-click="clickType(item)" style="font-size:10px;">
                                    <span class="{{item.className}} btn" style="margin:2px;">
                                        <i class="{{item.icon}}"></i>
                                    </span>
                                    {{item.Tipo_ES}}
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li>
                                <a href="#" ng-click="addType()">
                                    <i class="fa fa-plus"></i> Tipo
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                            <label class="label label-primary"><i class="fa fa-building"></i> Sedes | Sites </label>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li ng-repeat="item in siteEvent">
                                <a href="#" ng-click="clickSite(item)" style="font-size:10px;">
                                    <i class="fa fa-map-marker"></i>
                                    {{item.Sede_ES}}
                                </a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li>
                                <a href="#" ng-click="addSite()">
                                    <i class="fa fa-plus"></i> Sede
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="ibox-content">
                    <div class="tag-list">
                        <span ng-repeat="item in typeEvent" style="margin:2px;"
                              class="{{item.className}} btn"
                              data-drag="true"
                              data-jqyoui-options="{revert: 'invalid'}"
                              jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}"
                              data-type="{{item.id}}"
                              data-title="{{item.Tipo_ES}}"
                              >
                            <i class="{{item.icon}}"></i> {{item.Tipo_ES}}
                        </span>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div data-drop="true"
                                 @*jqyoui-droppable="{multiple:true, onDrop: 'drop'}"*@
                                 id="calendar"
                                 class="calendar"
                                 ng-model="eventSources"
                                 calendar="myCalendar1"
                                 config="uiConfig.calendar"
                                 ui-calendar="uiConfig.calendar">
                            </div>
                        </div>
                    </div>
                    <div ng-if="debug">
                        <h1>Events</h1>
                        <pre>{{events | json}}</pre>
                        <h1>typeEvent</h1>
                        <pre>{{typeEvent | json}}</pre>
                        <h1>siteEvent</h1>
                        <pre>{{siteEvent | json}}</pre>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Eventos | Event</h5>
                                    </div>
                <div class="ibox-content inspinia-timeline">

                    <div class="timeline-item" ng-repeat="event in events | orderBy:'-start'">
                        <div class="row">
                            <div class="col-xs-4 date">
                                <i class="{{event.icon}}"></i>
                                <div ng-if="!event.allDay">
                                    <small>
                                        {{event.start | date:'dd/MM/yyyy hh:mm a'}}
                                    </small>
                                    <br />
                                    <small class="text-navy">
                                        {{event.end | date:'dd/MM/yyyy hh:mm a'}}
                                    </small>
                                </div>
                                <div ng-if="event.allDay">
                                    <small>
                                        {{event.start | date:'dd/MM/yyyy'}}
                                    </small>
                                    <br />
                                    <small class="text-navy">
                                        {{event.end | date:'dd/MM/yyyy'}}
                                    </small>
                                </div>
                            </div>
                            <div class="col-xs-8 content">
                                <p class="m-b-xs">
                                    <span class="{{event.className}} btn" ng-click="clickEvent(event)">{{event.title}}</span>
                                    <span class="pull-right" ng-if="event.allDay"><i class="fa fa-clock-o"></i></span>
                                </p>
                                <small ng-if="event.site != 0" class="pull-right">
                                    <a ng-href="{{event.urlSede}}">
                                        <i class="fa fa-map-marker"></i> {{event.sede}} | {{event.direccion}}
                                    </a>
                                </small>   
                                <p class="m-b-xs">
                                    <small>
                                        <strong>{{event.Evento_ES}}</strong>
                                    </small>
                                </p>
                                <p class="text-navy m-b-xs">
                                    <small>
                                        <strong>{{event.Evento_EN}}</strong>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!--------------------------->
    <!-- MODAL -->
    <!--------------------------->
    <modal title="Evento | Event" visible="showModalEvent">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <h5 class="col-sm-4 control-label">Tipo | Type</h5>
                        <div class="col-sm-8">
                            <select ng-model="selectedItemType.id" class="form-control m-b"
                                    ng-options="item.id as item.Tipo_ES for item in typeEvent"></select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <h5 class="col-sm-4 control-label">Sede | Site</h5>
                        <div class="col-sm-8">
                            <select ng-model="selectedItemSide.id" class="form-control m-b"
                                    ng-options="item.id as item.Sede_ES for item in siteEvent"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <h5 class="col-sm-4 control-label">Todo el día | All day</h5>
                        <div class="col-sm-8">
                            <div class="checkbox"><label> <input type="checkbox" value="" ng-model="activeEvent.allDay"></label></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <h5 class="col-sm-4 control-label">Inicio | Start</h5>
                        <div class="col-sm-8">
                            <span class="{{activeEvent.className}}">
                                {{activeEvent.start | date:'dd/MM/yyyy hh:mm a' }}
                            </span>
                            <a style="margin-left:5px;" class="dropdown-toggle {{activeEvent.className}}" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <datetimepicker data-ng-model="activeEvent.start"
                                                data-datetimepicker-config="{ dropdownSelector: '#dropdownStart' }"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <h5 class="col-sm-4 control-label">Fin | End</h5>
                        <div class="col-sm-8">
                            <span class="{{activeEvent.className}}">
                                {{activeEvent.end | date:'dd/MM/yyyy hh:mm a' }}
                            </span>
                            <a style="margin-left:5px;" class="dropdown-toggle {{activeEvent.className}}" id="dropdownEnd" role="button" data-toggle="dropdown" data-target="#" href="#">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <datetimepicker data-ng-model="activeEvent.end"
                                                data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd' }"></datetimepicker>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">Evento | Event</h5>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Español | Spanish" class="form-control" ng-model="activeEvent.Evento_ES">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">Descripción | Description</h5>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Español | Spanish" class="form-control" ng-model="activeEvent.Descripcion_ES">
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">Evento | Event</h5>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Inglés | English" class="form-control" ng-model="activeEvent.Evento_EN">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">Descripción | Description</h5>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Inglés | English" class="form-control" ng-model="activeEvent.Descripcion_EN">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group">
                    <div class="col-lg-12">
                        <button class="btn btn-sm btn-white" type="button" ng-click="removeEvent(activeEvent)">Delete</button>
                        <button class="btn btn-sm btn-white" type="button" ng-click="updateEvent(activeEvent)">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="debug">
            <h1>activeEvent</h1>
            <pre>{{selectedItemType | json}}</pre>
            <pre>{{selectedItemSide | json}}</pre>
            <pre>{{activeEvent | json}}</pre>
            <pre>{{typeEvent | json}}</pre>
            <pre>{{siteEvent | json}}</pre>
        </div>
    </modal>
    <!--------------------------->
    <modal title="Tipo | Type" visible="showModalType">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">Tipo | Type</h5>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Español | Spanish" class="form-control" ng-model="activeType.Tipo_ES">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">Tipo | Type</h5>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Inglés | English" class="form-control" ng-model="activeType.Tipo_EN">
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">Icono | Icon</h5>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Icono | Icon" class="form-control" ng-model="activeType.icon">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">Clase | Class</h5>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Clase | Class" class="form-control" ng-model="activeType.className">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-12">
                        <button class="btn btn-sm btn-white" type="button" ng-click="removeType(activeType)">Delete</button>
                        <button class="btn btn-sm btn-white" type="button" ng-click="updateType(activeType)">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="debug">
            <h1>activeType</h1>
            <pre>{{activeType | json}}</pre>
        </div>
    </modal>
    <!--------------------------->
    <modal title="Sede | Site" visible="showModalSite">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">Sede | Site</h5>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Español | Spanish" class="form-control" ng-model="activeSite.Sede_ES">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">Sede | Site</h5>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Inglés | English" class="form-control" ng-model="activeSite.Sede_EN">
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">Dirección | Address</h5>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Dirección | Address" class="form-control" ng-model="activeSite.Direccion">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <h5 class="col-sm-2 control-label">Url | Url</h5>
                        <div class="col-sm-10">
                            <input type="text" placeholder="Url | Url" class="form-control" ng-model="activeSite.url">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-12">
                        <button class="btn btn-sm btn-white" type="button" ng-click="removeSite(activeSite)">Delete</button>
                        <button class="btn btn-sm btn-white" type="button" ng-click="updateSite(activeSite)">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="debug">
            <h1>activeSite</h1>
            <pre>{{activeSite | json}}</pre>
        </div>
    </modal>
    <!--------------------------->
</div>

@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/plugins/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/plugins/fullcalendar/moment.min.js"></script>
    <script src="~/Scripts/plugins/fullcalendar/fullcalendar.min.js"></script>
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/App/core/angular.app.services.js"></script>
    <script src="~/Scripts/App/core/angular.app.directives.js"></script>
    <!---------------------------------------------->
    <script src="~/Scripts/App/angular.app.schedule.js"></script>
    <script src="~/Scripts/plugins/angular-dragdrop/angular-dragdrop.min.js"></script>
    <script src="~/Scripts/plugins/ui-calendar/calendar.js"></script>
    <script src="~/Scripts/plugins/angular-bootstrap-datetimepicker/datetimepicker.js"></script>
    <!---------------------------------------------->
    <script>
        angular.module('App', ['app.services', 'app.directives', 'app.schedule']);

        //$.ajax({
        //    url: "/api/Schedule/Type/",
        //    accepts: "application/json",
        //    cache: false,
        //    statusCode: {
        //        200: function (data) {
        //            alert(200);
        //        },
        //        401: function (jqXHR, textStatus, errorThrown) {
        //            alert(401)
        //        }
        //    }
        //});

    </script>

}