﻿<div class="container" style="padding:30px;">

    <div class="row">
        <div class="col-xs-12 col-md-3 col-lg-2 vcenter text-center">
            <div class="text-center" style="border:0px solid #000"><img src="@Url.Content("~/Content/Images/construccion-2.jpg")" class="img-responsive" style="display:inline-block;" /></div>
        </div>        
        <div class="col-xs-12 col-md-8 col-lg-9 vcenter">
            <div style="border:0px solid #F00" id="partialHeaderTitle"><h2>@ViewBag.Title</h2></div>
        </div>
        <div class="col-xs-12 col-md-1 col-lg-1">
        </div>
    </div>
</div><!-- /.container -->
 