﻿@model ECO._2015.Models.App.AppShortFilm
@{
    Layout = "~/Views/Shared/_LayoutTemplateIns.cshtml";
    ViewBag.Title = "RESUMEN | SUMARY";
    int i = 0;
}


@section style
{
    <link href="~/Content/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <style>
        .wizard > .content > .body {
            position: relative !important;
            width: 100% !important;
        }
    </style>
    @Styles.Render("~/css/player-video")
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "ShortFilms")">CORTOMETRAJES <span class="text-navy e15-sub-eng">SHORTFILMS</span></a>
        </li>
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                </div>
                <div class="ibox-content ibox-heading">
                    <div class="widget style1 p-lg">
                        <div class="row vertical-align">
                            <div class="col-xs-3">
                                <i class="fa fa-film fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                @Html.Partial("~/Views/ShortFilms/RegisterClose/_ShortFilmTitle.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.Partial("~/Views/ShortFilms/ShortFilm/_ShortFilm.cshtml", Model)
                            @foreach (var equipo in Model.AppEquipo)
                            {
                                switch (equipo.IdTipoEquipo)
                                {
                                    case 1: // director
                                        @Html.Partial("~/Views/ShortFilms/Equipo/_Director.cshtml", equipo)
                                        break;
                                    case 2: // productor
                                    @Html.Partial("~/Views/ShortFilms/Equipo/_Productor.cshtml", equipo)
                                        break;
                                    case 89: // contacto
                                    @Html.Partial("~/Views/ShortFilms/Equipo/_Contacto.cshtml", equipo)
                                        break;
                                    default: // equipo
                                    @Html.Partial("~/Views/ShortFilms/Equipo/_Equipo.cshtml", equipo)
                                        break;
                                }
                            }
                        </div>
                        <div class="col-lg-6">
                            <h4>CORTOMETRAJE | FILM</h4>
                            <div class="hr-line-dashed"></div>
                            @if (Model.Envio_Correo_Video)
                            {
                                @Html.Partial("~/Views/ShortFilms/ShortFilm/_Envio_Correo_Video.cshtml", Model)
                            }
                            else if (!string.IsNullOrEmpty(Model.Path))
                            {
                                @Html.Partial("~/Views/ShortFilms/ShortFilm/_ViewShortFilm.cshtml", Model)
                            }
                            <div class="hr-line-dashed"></div>
                            <h4>FOTOGRAFÍA DEL DIRECTOR | DIRECTOR'S PHOTO</h4>
                            <div class="hr-line-dashed"></div>
                            <div id="carousel-director" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    @{i = 0;}
                                    @foreach (var autor in Model.AppImagenAutor)
                                    {
                                        string _class = (i++ == 0) ? "active" : "";
                                    <div class="item @_class">
                                        <img src="@Url.Content("~" + @autor.Path+autor.File)" />
                                    </div>
                                    }
                                </div>
                                <a class="left carousel-control" href="#carousel-director" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-director" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h4>IMAGEN O CARTEL | IMAGE OR POSTER</h4>
                            <div class="hr-line-dashed"></div>
                            <div id="carousel-stills" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    @{i = 0;}
                                    @foreach (var autor in Model.AppImagenStill)
                                    {
                                        string _class = (i++ == 0) ? "active" : "";
                                    <div class="item @_class">
                                        <img src="@Url.Content("~" + @autor.Path+autor.File)" />
                                    </div>
                                    }
                                </div>
                                <a class="left carousel-control" href="#carousel-stills" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-stills" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>

                    </div>
                    @if (Model.Etapa < ViewBag.EtapaRegistroFin && ViewBag.IsCloseConvocatoria)
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hr-line-dashed"></div>

                                <div class="widget style1 navy-bg">
                                    <div class="row vertical-align">
                                        <div class="col-xs-3">
                                            <i class="fa fa-exclamation-circle fa-4x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <h1 class="font-bold">TÉRMINOS Y CONDICIONES | TERMS AND CONDITIONS</h1>
                                        </div>
                                    </div>

                                </div>
                                <div class="jumbotron">
                                    <h2>@Html.DisplayNameFor(m => m.Acepto_Terminos_Condiciones)</h2>
                                    <p class="bg-primary">
                                        He leído la Convocatoria de Eco Film Festival @ViewBag.EdicionFestival. La aplicación de esta ficha de inscripción
                                        supone la plena aceptación de las cláusulas en ella contenidas.
                                    </p>
                                    <p class="bg-primary">
                                        I have read the notice of Eco Film @ViewBag.EdicionFestival. The application of this registration form implies full
                                        acceptance of the terms contained therein.
                                    </p>
                                </div>
                                
                                
                                <div class="wizard-big wizard clearfix">
                                    <div class="actions clearfix">
                                        <ul role="menu" aria-label="Pagination">
                                            <li>
                                                @using (Html.BeginForm("CloseVideo", "ShortFilms", FormMethod.Post, new { @id = "nextForm" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.HiddenFor(model => model.Id)
                                                }
                                                <a href="javascript:document.getElementById('nextForm').submit()">Finish</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            
                                <div class="hr-line-dashed"></div>
                            </div>
                            
                        </div>
                    }
                    

                </div>
            </div>
        </div>

        <div class="col-lg-4">
            @Html.Partial("~/Views/ShortFilms/RegisterClose/_EtapasPanel.cshtml")
        </div>
    </div>

</div>
@section scripts
{
    @Scripts.Render("~/bundles/player-video")
}
