﻿@using ECO._2015.Models
@using ECO._2015.Models.ViewsModels
@model ShortFilmViewModel

@{
    Layout = "~/Views/Shared/_LayoutTemplateIns.cshtml";
    ViewBag.Title = "Nueva Inscripción | Create New";
}

@section style
{
    <link href="~/Content/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <style>
        .wizard > .content > .body {
            position: relative !important;
            width: 100% !important;
        }
    </style>
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "ShortFilms")">Cortometrajes | Shortfilms</a>
        </li>
        <li class="active">
            <strong>@ViewBag.Title</strong>
        </li>
    </ol>
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Edit", "ShortFilms", FormMethod.Post, new { @class = "wizard-big", @id = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Etapa)
                        <!-------------------------------------->
                        <h1>DATOS GENERALES <br />FILM DETAILS</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.PaisId) <span>*</span>
                                        @Html.DropDownList("PaisId", null, new { @class = "form-control required" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.EstadoId) <span>*</span>
                                        @Html.DropDownList("EstadoId", null, new { @class = "form-control required" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.MunicipioId) <span>*</span>
                                        @Html.DropDownList("MunicipioId", null, new { @class = "form-control required" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.CategoriaId) <span>*</span>
                                        @Html.DropDownList("CategoriaId", null, new { @class = "form-control required" })
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                @Html.LabelFor(m => m.AnnoId) <span>*</span>
                                                @Html.DropDownList("AnnoId", null, new { @class = "form-control required" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Duracion_Minutos) <span>*</span>
                                                @Html.EditorFor(model => model.Duracion_Minutos, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Duracion_Segundos) <span>*</span>
                                                @Html.EditorFor(model => model.Duracion_Segundos, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.SubtituloId) <span>*</span>
                                                @Html.DropDownList("SubtituloId", null, htmlAttributes: new { @class = "form-control required" })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Idioma) <span>*</span>
                                                @Html.EditorFor(model => model.Idioma, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.FormatoVideoId) <span>*</span>
                                                @Html.DropDownList("FormatoVideoId", null, htmlAttributes: new { @class = "form-control required" })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.OtroFormatoVideo) <span>*</span>
                                                @Html.EditorFor(model => model.OtroFormatoVideo, new { htmlAttributes = new { @class = "form-control required", disabled = "disabled" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.FormatoAudioId) <span>*</span>
                                                @Html.DropDownList("FormatoAudioId", null, htmlAttributes: new { @class = "form-control required" })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.OtroFormatoAudio) <span>*</span>
                                                @Html.EditorFor(model => model.OtroFormatoAudio, new { htmlAttributes = new { @class = "form-control required", disabled = "disabled" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                @Html.LabelFor(m => m.Titulo_Original) <span>*</span>
                                                @Html.EditorFor(model => model.Titulo_Original, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Titulo_Espanol) <span>*</span>
                                                @Html.EditorFor(model => model.Titulo_Espanol, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Titulo_Ingles) <span>*</span>
                                                @Html.EditorFor(model => model.Titulo_Ingles, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                @Html.LabelFor(m => m.Sinopsis_Espanol) <span>*</span>
                                                @Html.EditorFor(model => model.Sinopsis_Espanol, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                @Html.LabelFor(m => m.Sinopsis_Ingles) <span>*</span>
                                                @Html.EditorFor(model => model.Sinopsis_Ingles, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                           <!-------------------------------------->
                        <h1>EQUIPO <br />TEAM</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hr-line-dashed"></div>
                                    <h3>@Html.DisplayNameFor(m => m.Contacto.IdTipoEquipo) </h3>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Contacto.Nombre) <span>*</span>
                                        @Html.EditorFor(model => model.Contacto.Nombre, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Contacto.Direccion) <span>*</span>
                                        @Html.EditorFor(model => model.Contacto.Direccion, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Contacto.Email) <span>*</span>
                                        @Html.EditorFor(model => model.Contacto.Email, new { htmlAttributes = new { @class = "form-control required", type = "email" } })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Contacto.Sexo) <span>*</span>
                                        <br />
                                        Mascuino | Male:   @Html.RadioButtonFor(m => m.Contacto.Sexo, "Male")
                                        Femenino | Female: @Html.RadioButtonFor(m => m.Contacto.Sexo, "Female")
                                    </div>
                                    
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Contacto.Annio_Nac) <span>*</span>
                                        @Html.DropDownListFor(m => m.Contacto.Annio_Nac, Model.Contacto.List_Annio_Nac, new { @class = "form-control" })
                                    </div>

                                    @*<div class="form-group">
                                        @Html.LabelFor(m => m.Contacto.Fecha_Nac) <span>*</span>
                                        @Html.EditorFor(model => model.Contacto.Fecha_Nac, new { htmlAttributes = new { @class = "form-control required date" } })
                                    </div>*@

                                    @*<div class="form-group">
                                        @Html.LabelFor(m => m.Contacto.Residencia) <span>*</span>
                                        @Html.EditorFor(model => model.Contacto.Residencia, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>*@

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Contacto.Telefono) <span>*</span>
                                                @Html.EditorFor(model => model.Contacto.Telefono, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Contacto.Local_Cel)
                                                @Html.EditorFor(model => model.Contacto.Local_Cel, new { htmlAttributes = new { @class = "checkbox" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Contacto.Facebook) 
                                        @Html.EditorFor(model => model.Contacto.Facebook, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Contacto.Twiiter) 
                                        @Html.EditorFor(model => model.Contacto.Twiiter, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Contacto.Casa_Productora)
                                        @Html.CheckBoxFor(model => model.Contacto.Casa_Productora, new { htmlAttributes = new { @class = "checkbox" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Contacto.Web_Site_Casa_Productora) <span>*</span>
                                        @Html.EditorFor(model => model.Contacto.Web_Site_Casa_Productora, new { htmlAttributes = new { @class = "form-control required", disabled = "disabled", type = "url" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hr-line-dashed"></div>
                                    <h3>@Html.DisplayNameFor(m => m.Director.IdTipoEquipo) </h3>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Director.Nombre) <span>*</span>
                                        @Html.EditorFor(model => model.Director.Nombre, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Director.Email) <span>*</span>
                                        @Html.EditorFor(model => model.Director.Email, new { htmlAttributes = new { @class = "form-control required", type = "email" } })
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Director.Sexo) <span>*</span>
                                        <br />
                                        Mascuino | Male:   @Html.RadioButtonFor(m => m.Director.Sexo, "Male")
                                        Femenino | Female: @Html.RadioButtonFor(m => m.Director.Sexo, "Female")
                                    </div>

                                    
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Director.Annio_Nac) <span>*</span>
                                        @Html.DropDownListFor(m => m.Director.Annio_Nac, Model.Director.List_Annio_Nac, new { @class = "form-control" })
                                    </div>

                                    @*<div class="form-group">
                                        @Html.LabelFor(m => m.Director.Fecha_Nac) <span>*</span>
                                        @Html.EditorFor(model => model.Director.Fecha_Nac, new { htmlAttributes = new { @class = "form-control required date" } })
                                    </div>*@

                                    @*<div class="form-group">
                                        @Html.LabelFor(m => m.Director.Residencia) <span>*</span>
                                        @Html.EditorFor(model => model.Director.Residencia, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>*@


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Director.Telefono) <span>*</span>
                                                @Html.EditorFor(model => model.Director.Telefono, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Director.Local_Cel)
                                                @Html.EditorFor(model => model.Director.Local_Cel, new { htmlAttributes = new { @class = "checkbox" } })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Director.Ocupacion) <span>*</span>
                                        @Html.EditorFor(model => model.Director.Ocupacion, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Director.Profecional) <span>*</span>
                                                @Html.EditorFor(model => model.Director.Profecional, new { htmlAttributes = new { @class = "checkbox" } })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Director.Estudiante) <span>*</span>
                                                @Html.EditorFor(model => model.Director.Estudiante, new { htmlAttributes = new { @class = "checkbox" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Director.Ciudad_Estudio) <span>*</span>
                                        @Html.EditorFor(model => model.Director.Ciudad_Estudio, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                    @*<div class="form-group">
                                        @Html.LabelFor(m => m.Director.Nacionalidad) <span>*</span>
                                        @Html.EditorFor(model => model.Director.Nacionalidad, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>*@
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Director.Nacionalidad_Id) <span>*</span>
                                        @Html.DropDownListFor(m => m.Director.Nacionalidad_Id, (SelectList)ViewBag.PaisId, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Director.Biografia) <span>*</span>
                                        @Html.EditorFor(model => model.Director.Biografia, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hr-line-dashed"></div>
                                    <h3>@Html.DisplayNameFor(m => m.Productor.IdTipoEquipo) </h3>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Productor.Nombre) <span>*</span>
                                        @Html.EditorFor(model => model.Productor.Nombre, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Productor.Email) <span>*</span>
                                        @Html.EditorFor(model => model.Productor.Email, new { htmlAttributes = new { @class = "form-control required", type = "email" } })
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Productor.Sexo) <span>*</span>
                                        <br />
                                        Mascuino | Male:   @Html.RadioButtonFor(m => m.Productor.Sexo, "Male")
                                        Femenino | Female: @Html.RadioButtonFor(m => m.Productor.Sexo, "Female")
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Productor.Annio_Nac) <span>*</span>
                                        @Html.DropDownListFor(m => m.Productor.Annio_Nac, Model.Productor.List_Annio_Nac, new { @class = "form-control" })
                                    </div>

                                    @*<div class="form-group">
                                        @Html.LabelFor(m => m.Productor.Fecha_Nac) <span>*</span>
                                        @Html.EditorFor(model => model.Productor.Fecha_Nac, new { htmlAttributes = new { @class = "form-control required date" } })
                                    </div>*@

                                    @*<div class="form-group">
                                        @Html.LabelFor(m => m.Productor.Residencia) <span>*</span>
                                        @Html.EditorFor(model => model.Productor.Residencia, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>*@

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Productor.Telefono) <span>*</span>
                                                @Html.EditorFor(model => model.Productor.Telefono, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Productor.Local_Cel)
                                                @Html.EditorFor(model => model.Productor.Local_Cel, new { htmlAttributes = new { @class = "checkbox" } })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Productor.Ocupacion) <span>*</span>
                                        @Html.EditorFor(model => model.Productor.Ocupacion, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Productor.Profecional) <span>*</span>
                                                @Html.EditorFor(model => model.Productor.Profecional, new { htmlAttributes = new { @class = "checkbox" } })
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.Productor.Estudiante) <span>*</span>
                                                @Html.EditorFor(model => model.Productor.Estudiante, new { htmlAttributes = new { @class = "checkbox" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Productor.Ciudad_Estudio) <span>*</span>
                                        @Html.EditorFor(model => model.Productor.Ciudad_Estudio, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                    @*<div class="form-group">
                                        @Html.LabelFor(m => m.Productor.Nacionalidad) <span>*</span>
                                        @Html.EditorFor(model => model.Productor.Nacionalidad, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>*@
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Productor.Nacionalidad_Id) <span>*</span>
                                        @Html.DropDownListFor(m => m.Productor.Nacionalidad_Id, (SelectList)ViewBag.PaisId, new { @class = "form-control" })
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Productor.Biografia) <span>*</span>
                                        @Html.EditorFor(model => model.Productor.Biografia, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hr-line-dashed"></div>
                                    <h3>@Html.DisplayNameFor(m => m.Fotografia.IdTipoEquipo) </h3>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Fotografia.Nombre) <span>*</span>
                                        @Html.EditorFor(model => model.Fotografia.Nombre, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Fotografia.Email) <span>*</span>
                                        @Html.EditorFor(model => model.Fotografia.Email, new { htmlAttributes = new { @class = "form-control required", type = "email" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Fotografia.Estudios) <span>*</span>
                                        @Html.EditorFor(model => model.Fotografia.Estudios, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Fotografia.Telefono) <span>*</span>
                                                @Html.EditorFor(model => model.Fotografia.Telefono, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Fotografia.Local_Cel)
                                                @Html.EditorFor(model => model.Fotografia.Local_Cel, new { htmlAttributes = new { @class = "checkbox" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hr-line-dashed"></div>
                                    <h3>@Html.DisplayNameFor(m => m.Guion.IdTipoEquipo) </h3>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Guion.Nombre) <span>*</span>
                                        @Html.EditorFor(model => model.Guion.Nombre, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Guion.Email) <span>*</span>
                                        @Html.EditorFor(model => model.Guion.Email, new { htmlAttributes = new { @class = "form-control required", type = "email" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Guion.Estudios) <span>*</span>
                                        @Html.EditorFor(model => model.Guion.Estudios, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Guion.Telefono) <span>*</span>
                                                @Html.EditorFor(model => model.Guion.Telefono, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Guion.Local_Cel)
                                                @Html.EditorFor(model => model.Guion.Local_Cel, new { htmlAttributes = new { @class = "checkbox" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hr-line-dashed"></div>
                                    <h3>@Html.DisplayNameFor(m => m.Edicion.IdTipoEquipo) </h3>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Edicion.Nombre) <span>*</span>
                                        @Html.EditorFor(model => model.Edicion.Nombre, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Edicion.Email) <span>*</span>
                                        @Html.EditorFor(model => model.Edicion.Email, new { htmlAttributes = new { @class = "form-control required", type = "email" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Edicion.Estudios) <span>*</span>
                                        @Html.EditorFor(model => model.Edicion.Estudios, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Edicion.Telefono) <span>*</span>
                                                @Html.EditorFor(model => model.Edicion.Telefono, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Edicion.Local_Cel)
                                                @Html.EditorFor(model => model.Edicion.Local_Cel, new { htmlAttributes = new { @class = "checkbox" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hr-line-dashed"></div>
                                    <h3>@Html.DisplayNameFor(m => m.DisenoSonoro.IdTipoEquipo) </h3>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DisenoSonoro.Nombre) <span>*</span>
                                        @Html.EditorFor(model => model.DisenoSonoro.Nombre, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DisenoSonoro.Email) <span>*</span>
                                        @Html.EditorFor(model => model.DisenoSonoro.Email, new { htmlAttributes = new { @class = "form-control required", type = "email" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DisenoSonoro.Estudios) <span>*</span>
                                        @Html.EditorFor(model => model.DisenoSonoro.Estudios, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.DisenoSonoro.Telefono) <span>*</span>
                                                @Html.EditorFor(model => model.DisenoSonoro.Telefono, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.DisenoSonoro.Local_Cel)
                                                @Html.EditorFor(model => model.DisenoSonoro.Local_Cel, new { htmlAttributes = new { @class = "checkbox" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <!-------------------------------------->
                        <h1>MUSICA Y SONIDO <br />MUSIC AND SOUND</h1>
                        <fieldset>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hr-line-dashed"></div>
                                    <h3>@Html.DisplayNameFor(m => m.Sonido.IdTipoEquipo) </h3>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Sonido.Nombre) <span>*</span>
                                        @Html.EditorFor(model => model.Sonido.Nombre, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Sonido.Email) <span>*</span>
                                        @Html.EditorFor(model => model.Sonido.Email, new { htmlAttributes = new { @class = "form-control required", type = "email" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Sonido.Estudios) <span>*</span>
                                        @Html.EditorFor(model => model.Sonido.Estudios, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Sonido.Telefono) <span>*</span>
                                                @Html.EditorFor(model => model.Sonido.Telefono, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Sonido.Local_Cel)
                                                @Html.EditorFor(model => model.Sonido.Local_Cel, new { htmlAttributes = new { @class = "checkbox" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hr-line-dashed"></div>
                                    <h3>@Html.DisplayNameFor(m => m.Musica.IdTipoEquipo) </h3>
                                    <div class="hr-line-dashed"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Musica.Nombre) <span>*</span>
                                        @Html.EditorFor(model => model.Musica.Nombre, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Musica.Email) <span>*</span>
                                        @Html.EditorFor(model => model.Musica.Email, new { htmlAttributes = new { @class = "form-control required", type = "email" } })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Musica.Estudios) <span>*</span>
                                        @Html.EditorFor(model => model.Musica.Estudios, new { htmlAttributes = new { @class = "form-control required" } })
                                    </div>
                                </div>
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Musica.Telefono) <span>*</span>
                                                @Html.EditorFor(model => model.Musica.Telefono, new { htmlAttributes = new { @class = "form-control required" } })
                                            </div>
                                            <div class="col-lg-6">
                                                @Html.LabelFor(m => m.Musica.Local_Cel)
                                                @Html.EditorFor(model => model.Musica.Local_Cel, new { htmlAttributes = new { @class = "checkbox" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <!-------------------------------------->

                    }


                </div>
            </div>
        </div>
        <div class="col-lg-4">
            @Html.Partial("~/Views/ShortFilms/RegisterClose/_EtapasPanel.cshtml")
        </div>
    </div>
</div>
@section scripts
{
    <!-- Steps -->
    <script src="~/Scripts/plugins/staps/jquery.steps.min.js"></script>
    <!-- Jquery Validate -->
    <script src="~/Scripts/plugins/validate/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    @Scripts.Render("~/bundles/createShortFilm");
}
