﻿
@{
    ViewBag.Title = "Agregar otro Director | Add another Director";
}

@Html.Partial("~/Views/ShortFilms/_PartialHeader.cshtml")
<hr/>
<div class="row">
    <div class="col-sm-6">
        @Html.ActionLink("More Director | Mas Directores", "CreateTeamDirector", new { Id = (int)ViewBag.IdShortFilm }, new { @class = "btn btn-success btn-lg" })
    </div>
    <div class="col-sm-6">
        @Html.ActionLink("Next | Siguiente", "CreateTeamProductor", new { Id = (int)ViewBag.IdShortFilm }, new { @class = "btn btn-info btn-lg" })
    </div>
</div>



