﻿
@{
    ViewBag.Title = "Agregar Otro Productor | Add Other Producer";
}

@Html.Partial("~/Views/ShortFilms/_PartialHeader.cshtml")
<hr/>
<div class="row">
    <div class="col-sm-6">
        @Html.ActionLink("Agregar Otro Productor | Add Other Producer", "CreateTeamProductor", new { Id = (int)ViewBag.IdShortFilm }, new { @class = "btn btn-success btn-lg" })
    </div>
    <div class="col-sm-6">
        @Html.ActionLink("Next | Siguiente", "CreateTeamGuion", new { Id = (int)ViewBag.IdShortFilm }, new { @class = "btn btn-info btn-lg" })
    </div>
</div>

