﻿
@{
    Layout = "~/Views/Shared/_LayoutTemplateIns.cshtml";
    ViewBag.Title = "Cierre Convocatoria | Call - Closed";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "ShortFilms")">Cortometrajes | Shortfilms</a>
        </li>
        <li class="active">
            <strong>@ViewBag.Title</strong>
        </li>
    </ol>
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-title">
            <h5>@ViewBag.Title</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-2"><img alt="image" class="" src="http://ecofilmfestival.org/wp-content/uploads/2017/03/logo-ecoff7-837x402.png" width="285" /></div>
                <div class="col-lg-5">
                    @Html.Partial("~/Views/ShortFilms/RegisterClose/_CierreMsg.cshtml")
                </div>
            </div>
           
        </div>
    </div>

</div>