﻿@{
    ViewBag.Title = "Nuevo EventoFestival | New Newsletter";
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

<div class="wrapper wrapper-content" ng-controller="EventoFestivalCrtl">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form role="form" name="EventoFestivalForm" class="form-horizontal">

                    <div class="form-group">
                        <label for="FK_IdEdicion__SCH" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
                        <div class="col-md-10">
                            <select class="form-control" ng-model="FK_IdEdicion__SCH" required ng-options="item as item.Descripcion for item in edicionList">
                                <option value="">Seleccione ... </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Nombre_ES" class="col-md-2 control-label">Nombre en Español | Name in Spanish</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Nombre_ES" placeholder="Nombre en Español | Name in Spanish" ng-model="eventoFestival.Nombre_ES" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Nombre_EN" class="col-md-2 control-label">Nombre en Inglés | Name in english</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Nombre_EN" placeholder="Nombre en Inglés | Name in english" ng-model="eventoFestival.Nombre_EN" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Fecha" class="col-md-2 control-label">Fecha Publicacion | Publish Date</label>
                        <div class="col-md-10">
                            <input type="date" id="Fecha" placeholder="Fecha Publicacion | Publish Date" ng-model="eventoFestival.FechaString" required>
                        </div>
                    </div>

                    <hr />
                    <div class="alert alert-danger" role="alert" ng-show="errorList.length > 0">
                        <strong>Oh snap!</strong>
                        <p ng-repeat="item in errorList">{{item}}</p>
                    </div>
                    <button type="button" class="btn btn-default" ng-click="crearEventoFestival()">Registro | Register</button>
                    <hr />
                </form>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <!---------------------------------------------->
    <script>
        angular.module('App', [])
            .controller('EventoFestivalCrtl', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                //---------------------------
                var ctrl = this;
                ctrl.Service = '/api/ConfigService/';
                ctrl.ServiceOp = '/EventoFestival/';
                //---------------------------
                ctrl.init = function () {
                    $http.get(ctrl.Service + 'SelectEdicion').then(function (response) { $scope.edicionList = response.data; });
                };
                //---------------------------
                $scope.errorList = [];
                $scope.eventoFestival = {
                };
                //----------------------------------------
                $scope.$watch('FK_IdEdicion__SCH', function (v) {
                    if (v === undefined) return;
                    //----------------------------
                    $scope.eventoFestival.FK_IdEdicion__SCH = v.Id;
                });
                //----------------------------------------
                ctrl.init();
                $scope.crearEventoFestival = function () {
                    $scope.errorList = [];
                    $http.post(ctrl.ServiceOp + 'Create', $scope.eventoFestival).then(
                        function (response) {
                            $window.location.href = response.data.Url;
                        }
                        , function (response) {
                            if (response.status == 400)
                            {
                                $scope.errorList = response.data;
                            }
                        }
                    );
                };
            }]);
    </script>
}