﻿@using ECO._2015.Controllers.Services
@model DisplayEventoFestivalViewModel

@{
    Layout = "~/Views/Shared/_LayoutTemplateAng.cshtml";
    ViewBag.Title = "Patrocinador | Patrocinador";
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <form name="edicionFestivalForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="Edicion" class="col-md-2 control-label">Edicion del Festival | Festival Edition</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.FK_IdEdicion__SCH) - @Html.DisplayFor(model => model.descripcionEdicion) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Nombre_ES" class="col-md-2 control-label">Nombre en Español | Name in Spanish</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Nombre_ES) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Nombre_EN" class="col-md-2 control-label">Nombre en Español | Name in Spanish</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Nombre_EN) </p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Fecha" class="col-md-2 control-label">Fecha Publicacion | Publish Date</label>
                        <div class="col-md-10">
                            <p class="form-control-static">@Html.DisplayFor(model => model.Fecha) </p>
                        </div>
                    </div>

                    <hr />
                    <a href="@Url.Action("Edit", "EventoFestival")/@Html.DisplayFor(model => model.Id)" class="btn btn-success">
                        Editar
                    </a>
                    <a href="@Url.Action("Index", "EventoFestival")" class="btn btn-success">
                        Volver a la Lista
                    </a>
                    <hr />
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1>Notas</h1>
        </div>
        <div class="col-sm-6" ng-controller="EventoFestivalNotaCtrl">
            <div class="col-sm-6">
                <form role="form" name="EventoFestivalForm" class="form-horizontal">
                    <div class="form-group">
                        <label for="Nota" class="col-md-2 control-label">Nota | Note</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="Nota" placeholder="Nota | Note" ng-model="eventoFestivalNota.Nota" required>
                        </div>
                    </div>
                </form>
                <hr />
                    <button type="button" class="btn btn-info" ng-click="crearEventoFestivalNota()">Agregar Nota | Add Note</button>
                <hr />
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nota</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="eventoFestival in eventoFestivalList">
                        <td>{{ eventoFestival.Nota }}</td>
                        <td>
                            <button type="button" class="btn btn-success" ng-click="editarEventoFestivalNota()">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <!---------------------------------------------->
    <script src="~/Scripts/angular.min.js"></script>
    <!---------------------------------------------->
    <script>
        angular.module('App', [])
            .controller('EventoFestivalNotaCtrl', ['$scope', '$http', '$window', function ($scope, $http, $window) {
                //---------------------------
                var ctrl = this;
                ctrl.Service = '/api/ConfigService/';
                ctrl.ServiceOp = '/EventoFestival/';
                var idEventoFestivalNota = "@Model.Id";
                console.log(idEventoFestivalNota);
                $scope.eventoFestivalList = [];
                $scope.eventoFestivalNota = {};
                //---------------------------
                ctrl.init = function () {
                    $scope.eventoFestivalNota.FK_IdEventoFestival__SCH = idEventoFestivalNota;
                    $http.get(ctrl.Service + 'EventoNotas/'+ idEventoFestivalNota).then(function (response) {
                        $scope.eventoFestivalList = response.data;
                        console.log($scope.eventoFestivalList);
                    });
                };
                //---------------------------
                ctrl.init();
                //---------------------------
                $scope.crearEventoFestivalNota = function () {
                    $scope.errorList = [];
                    $http.post(ctrl.ServiceOp + 'Note', $scope.eventoFestivalNota).then(
                        function (response) {
                            $scope.eventoFestivalList.push({ 'Nota': response.data.Nota })
                        }
                        , function (response) {
                            if (response.status == 400) {
                                $scope.errorList = response.data;
                            }
                        }
                    );
                }
            }])
            
        ;
    </script>
}
