﻿@{
    Layout = "~/Views/Shared/_LayoutTemplateIns.cshtml";
    
}


<div ng-app="App">
    <div ng-controller="appController" ng-init="service='@ViewBag.Service'">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">

                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><strong>Estadísticas </strong>  <span class="text-navy"> Statistics</span></h5>
                        </div>
                        <div class="ibox-content">
                            <!----------------------------->
                            <div class="row" ng-if="loading">
                                <div class="col-lg-12">
                                    <div class=" well-sm">
                                        <h2>Espere por Favor ... </h2>
                                    </div>
                                </div>
                            </div>
                            <!----------------------------->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel-group" id="accordionEstadistica" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default" ng-repeat="l in list_report">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordionEstadistica" href="#collapse_{{$index}}" aria-expanded="true" aria-controls="collapseOne">
                                                        {{l.Titulo}}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapse_{{$index}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-6" ng-repeat="r in l.ListReport" style="margin-bottom:20px;" ng-init="id = $parent.$index+'_'+$index">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading"> {{r.title}} </div>
                                                                <div class="panel-body">
                                                                    <div class="row">
                                                                        <div class="col-xs-12">
                                                                            <div class="btn-group">
                                                                                <button ng-repeat="b in r.display" class="btn btn-info" ng-click="r.type = b[0]">{{b[1]}}</button>
                                                                                <button class="btn btn-info" ng-click="toggleModal(r)" ng-init="r.Id = id"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
                                                                            </div>
                                                                            <hr />
                                                                        </div>
                                                                        <div class="col-xs-12" ng-switch on="r.type">
                                                                            <canvas id="report_{{id}}" class="chart chart-line" data="r.dataSeries" labels="r.labels" legend="true" series="r.series" ng-switch-when="line"></canvas>
                                                                            <canvas id="report_{{id}}" class="chart chart-bar" data="r.dataSeries" labels="r.labels" legend="true" series="r.series" ng-switch-when="bar"></canvas>
                                                                            <canvas id="report_{{id}}" class="chart chart-radar" data="r.dataSeries" labels="r.labels" legend="true" ng-switch-when="radar"></canvas>
                                                                            <canvas id="report_{{id}}" class="chart chart-doughnut" data="r.data" labels="r.labels" legend="true" ng-switch-when="doughnut"></canvas>
                                                                            <canvas id="report_{{id}}" class="chart chart-pie" data="r.data" labels="r.labels" legend="true" ng-switch-when="pie"></canvas>
                                                                            <canvas id="report_{{id}}" class="chart chart-polar-area" data="r.data" labels="r.labels" legend="true" ng-switch-when="polar-area"></canvas>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
            <modal title="Detalle" visible="showModal">
                <h4>{{active.title}}</h4>
                <table class="table table-bordered table-hover table-striped" ng-if="active.isSimple" id="table_report_{{active.Id}}">
                    <tbody>
                        <tr ng-repeat="l in active.labels">
                            <td>{{l}}</td>
                            <td>{{active.data[$index]}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover table-striped" ng-if="!active.isSimple" id="table_report_{{active.Id}}">
                    <tr>
                        <td></td>
                        <td ng-repeat="l in active.labels">{{l}}</td>
                    </tr>
                    <tr ng-repeat="s in active.series " ng-init="id_serie = $index">
                        <td>{{s}}</td>
                        <td ng-repeat="v in active.dataSeries[id_serie] track by $index">{{v}}</td>
                    </tr>
                </table>
                <a class="btn btn-info" ng-click="download($event , active.Id , 'table_report_')">
                    <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Descargar
                </a>
            </modal>
        </div>


    </div>
</div>




@section style {
    @Styles.Render("~/bundles/angular-chart.css")
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}
@section scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-chart.js")
    @Scripts.Render("~/bundles/angular/report")
}
