﻿@model ECO._2015.Models.App.AppShortFilm
@{
    Layout = "~/Views/Shared/_LayoutTemplateIns.cshtml";
    ViewBag.Title = "RESUMEN | SUMARY";
    int i = 0;

    string _class_activo = (Model.Activo) ? "lazur-bg" : "navy-bg";
    string _icon_activo = (Model.Activo) ? "fa-check-circle" : "fa-question-circle";

}


@section style
{
    <link href="~/Content/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <style>
        .wizard > .content > .body {
            position: relative !important;
            width: 100% !important;
        }
    </style>
    @Styles.Render("~/css/player-video")
}

@section breadcrumb
{
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "AdminFilms")">CORTOMETRAJES <span class="text-navy e15-sub-eng">SHORTFILMS</span></a>
        </li>
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-lg-4">

            <div class="ibox">

                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="widget style1 @_class_activo">
                                <div class="row vertical-align">
                                    <div class="col-xs-3">
                                        <i class="fa @_icon_activo fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h2 class="font-bold">ACTIVO</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Model.Preseleccion)
                        {
                        <div class="col-lg-12">
                            <div class="widget style1 lazur-bg">
                                <div class="row vertical-align">
                                    <div class="col-xs-3">
                                        <i class="fa fa-check-circle fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h2 class="font-bold">PRE SELECCIÓN</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }

                        @if (Model.Sel_Oficial)
                        {
                        <div class="col-lg-12">
                            <div class="widget style1 lazur-bg">
                                <div class="row vertical-align">
                                    <div class="col-xs-3">
                                        <i class="fa fa-check-circle fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h2 class="font-bold">SELECCIÓN OFICIAL</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }

                        @if (Model.Ganador)
                        {
                        <div class="col-lg-12">
                            <div class="widget style1 lazur-bg">
                                <div class="row vertical-align">
                                    <div class="col-xs-3">
                                        <i class="fa fa-check-circle fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h2 class="font-bold">GANADOR</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <a href="#" data-toggle="modal" data-target="#myModalEstatus">
                                <div class="widget style1 navy-bg">
                                    <div class="row vertical-align">
                                        <div class="col-xs-3">
                                            <i class="fa fa-pencil-square-o  fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <h2 class="font-bold"> Estatus | Status </h2>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <a href="@Url.Action("CreateVideo", "AdminFilms", new { id = Model.Id })">
                                <div class="widget style1 navy-bg">
                                    <div class="row vertical-align">
                                        <div class="col-xs-3">
                                            <i class="fa fa-cloud-upload  fa-3x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <h2 class="font-bold"> Subir en línea | Upload Online </h2>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            @Html.Partial("~/Views/ShortFilms/RegisterClose/_EtapasPanel.cshtml")
        </div>

        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                </div>
                <div class="ibox-content ibox-heading">
                    <div class="widget style1 p-lg">
                        <div class="row vertical-align">
                            <div class="col-xs-3">
                                <i class="fa fa-film fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                @Html.Partial("~/Views/ShortFilms/RegisterClose/_ShortFilmTitle.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-6">
                            @Html.Partial("~/Views/ShortFilms/ShortFilm/_ShortFilm.cshtml", Model)
                            @foreach (var equipo in Model.AppEquipo)
                            {
                                switch (equipo.IdTipoEquipo)
                                {
                                    case 1: // director
                            @Html.Partial("~/Views/ShortFilms/Equipo/_Director.cshtml", equipo)
                                        break;
                                    case 2: // productor
                            @Html.Partial("~/Views/ShortFilms/Equipo/_Productor.cshtml", equipo)
                                        break;
                                    case 89: // contacto
                            @Html.Partial("~/Views/ShortFilms/Equipo/_Contacto.cshtml", equipo)
                                        break;
                                    default: // equipo
                            @Html.Partial("~/Views/ShortFilms/Equipo/_Equipo.cshtml", equipo)
                                        break;
                                }
                            }
                        </div>
                        <div class="col-lg-6">
                            <h4>CORTOMETRAJE | FILM</h4>
                            <div class="hr-line-dashed"></div>
                            @if (Model.Envio_Correo_Video)
                            {
                            @Html.Partial("~/Views/ShortFilms/ShortFilm/_Envio_Correo_Video.cshtml", Model)
                            }
                            else if (!string.IsNullOrEmpty(Model.Path))
                            {
                            @Html.Partial("~/Views/ShortFilms/ShortFilm/_ViewShortFilm.cshtml", Model)
                            }
                            <div class="hr-line-dashed"></div>
                            <h4>FOTOGRAFÍA DEL DIRECTOR | DIRECTOR'S PHOTO</h4>
                            <div class="hr-line-dashed"></div>
                            <div id="carousel-director" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    @{i = 0;}
                                    @foreach (var autor in Model.AppImagenAutor)
                                    {
                                        string _class = (i++ == 0) ? "active" : "";
                                    <div class="item @_class">
                                        <img src="@Url.Content("~" + @autor.Path + autor.File)" />
                                    </div>
                                    }
                                </div>
                                <a class="left carousel-control" href="#carousel-director" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-director" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <h4>IMAGEN O CARTEL | IMAGE OR POSTER</h4>
                            <div class="hr-line-dashed"></div>
                            <div id="carousel-stills" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    @{i = 0;}
                                    @foreach (var autor in Model.AppImagenStill)
                                    {
                                        string _class = (i++ == 0) ? "active" : "";
                                    <div class="item @_class">
                                        <img src="@Url.Content("~" + @autor.Path + autor.File)" />
                                    </div>
                                    }
                                </div>
                                <a class="left carousel-control" href="#carousel-stills" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-stills" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>

                    </div>
                    @if (Model.Etapa < ViewBag.EtapaRegistroFin && ViewBag.IsCloseConvocatoria)
                    {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hr-line-dashed"></div>

                            <div class="widget style1 navy-bg">
                                <div class="row vertical-align">
                                    <div class="col-xs-3">
                                        <i class="fa fa-exclamation-circle fa-4x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h1 class="font-bold">TÉRMINOS Y CONDICIONES | TERMS AND CONDITIONS</h1>
                                    </div>
                                </div>

                            </div>
                            <div class="jumbotron">
                                <h2>@Html.DisplayNameFor(m => m.Acepto_Terminos_Condiciones)</h2>
                                <p class="bg-primary">
                                    He leído la Convocatoria de Eco Film Festival @ViewBag.EdicionFestival. La aplicación de esta ficha de inscripción
                                    supone la plena aceptación de las cláusulas en ella contenidas.
                                </p>
                                <p class="bg-primary">
                                    I have read the notice of Eco Film @ViewBag.EdicionFestival. The application of this registration form implies full
                                    acceptance of the terms contained therein.
                                </p>
                            </div>


                            <div class="wizard-big wizard clearfix">
                                <div class="actions clearfix">
                                    <ul role="menu" aria-label="Pagination">
                                        <li>
                                            @using (Html.BeginForm("CloseVideo", "ShortFilms", FormMethod.Post, new { @id = "nextForm" }))
                                                {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(model => model.Id)
                                                }
                                            <a href="javascript:document.getElementById('nextForm').submit()">Finish</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                        </div>

                    </div>
                    }


                </div>
            </div>
        </div>


    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModalEstatus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            @using (Html.BeginForm("Detail", "AdminFilms", FormMethod.Post, new { @class = "", @id = "form" }))
            {
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Estatus | Status</h4>
                    </div>
                    <div class="modal-body">
                        @Html.AntiForgeryToken()
                        @Html.Hidden("Id", Model.Id)

                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Estatus</label>
                                <div class="col-sm-9">
                                    @Html.DropDownList("Operations", null, new { @class = "form-control required" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Etapa</label>
                                <div class="col-sm-9">
                                    @Html.DropDownList("EtapaEdit", null, new { @class = "form-control required" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Activar Email Notificación
                                </label>

                                <div class="col-sm-9">
                                    <div class="checkbox" for="ActiveNotification">
                                        @Html.CheckBox("ActiveNotification", false, new { @class = "input-mini" })
                                    </div>
                                </div>
                            </div>

                        </div>

                        
                        @*<div class="hr-line-dashed"></div>
                        <div class="checkbox">
                            <label class="checkbox" for="ActiveNotification">
                                @Html.CheckBox("ActiveNotification", false, new { @class = "input-mini" }) Activar Email Notificación
                            </label>
                        </div>*@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times-circle-o"></i> Cancelar</button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Guardar</button>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/player-video")
}
