﻿@using ECO._2015.Models.ViewsModels
@model AdminFilmsResultJuradoViewModel
    @{
        Layout = "~/Views/Shared/_LayoutTemplateIns.cshtml";
        ViewBag.Title = "CORTOMETRAJES | SHORTFILMS";
        int i = 0;
    }

    @section style
{
        <link href="~/Content/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
        @*<link href="~/Content/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet" />*@
        <link href="~/Content/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet" />
        <style>
            body.DTTT_Print {
                background: #fff;
            }

            .DTTT_Print #page-wrapper {
                margin: 0;
                background: #fff;
            }

            button.DTTT_button, div.DTTT_button, a.DTTT_button {
                border: 1px solid #e7eaec;
                background: #fff;
                color: #676a6c;
                box-shadow: none;
                padding: 6px 8px;
            }

                button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
                    border: 1px solid #d2d2d2;
                    background: #fff;
                    color: #676a6c;
                    box-shadow: none;
                    padding: 6px 8px;
                }

            .dataTables_filter label {
                margin-right: 5px;
            }

            .dataTables_shortFimls, .dataTables_wrapper {
                font-size: x-small;
            }
        </style>
    }

    @section breadcrumb
{
        <ol class="breadcrumb">
            <li class="active">
                @ViewBag.Title
            </li>
        </ol>
    }

    <div class="row  border-bottom white-bg dashboard-header">

        <div class="col-lg-10">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover dataTables_shortFimls">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Calificación</th>
                            <th>Jurados por Calificar</th>
                            <th>Categoría</th>
                            <th>Titulo</th>
                            <th>País</th>
                            <th>Nacionalidad</th>
                            <th>Usuario</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListShortFilmsResutl)
                        {
                            <tr>
                                <td>
                                    <a class="btn btn-xs btn-circle btn-info" target="_blank" href="@Url.Action("DeailtResult", "AdminFilms", new { id = item.AppShortFilm.Id })">
                                        <i class="fa fa-external-link"></i>
                                    </a>
                                </td>
                                <td>@item.AppShortFilm.Id</td>
                                <td>@String.Format("{0:0.###}", item.ResultCalificar.Total)</td>
                                <td>@item.ResultCalificar.NoJuradoFaltanCalificar | @item.ResultCalificar.NoJurado </td>
                                <td>@item.AppShortFilm.AppCategoria.Categoria_ES</td>
                                <td>@item.AppShortFilm.Titulo_Original</td>
                                <td>@item.AppShortFilm.AppEstado.AppPais.Pais_ES</td>
                                <td>@item.AppShortFilm.AppEstado.AppPais.AppNacionalidad.Nacionalidad_ES</td>
                                <td>@item.AppShortFilm.AspNetUsers.UserName</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Calificación</th>
                            <th>Jurados por Calificar</th>
                            <th>Categoría</th>
                            <th>Titulo</th>
                            <th>País</th>
                            <th>Nacionalidad</th>
                            <th>Usuario</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="col-lg-2">
            @using (Html.BeginForm("Result", "AdminFilms", FormMethod.Post, new { @class = "", @id = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Filter.CategoriaId)
                                    @Html.DropDownList("CategoriaId", null, new { @class = "form-control required" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Filter.NacionalidadId)
                                    @Html.DropDownList("NacionalidadId", null, new { @class = "form-control required" })
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <label>
                                        @Html.EditorFor(model => model.Filter.Sel_Oficial) @Html.DisplayNameFor(model => model.Filter.Sel_Oficial)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        @Html.EditorFor(model => model.Filter.Ganador) @Html.DisplayNameFor(model => model.Filter.Ganador)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <button type="submit" class="btn btn-block btn-outline btn-primary"><i class="fa fa-search"></i> Filtar</button>
                        <div class="hr-line-dashed"></div>
                    </div>
                </div>
            }
        </div>
    </div>
    @section scripts
{
        <script src="~/Scripts/plugins/dataTables/jquery.dataTables.js"></script>
        <script src="~/Scripts/plugins/dataTables/dataTables.bootstrap.js"></script>
        @*<script src="~/Scripts/plugins/dataTables/dataTables.responsive.js"></script>*@
        <script src="~/Scripts/plugins/dataTables/dataTables.tableTools.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.dataTables_shortFimls').dataTable({
                    responsive: true,
                    "dom": 'T<"clear">lfrtip',
                    "tableTools": {
                        "sSwfPath": '@Url.Content("~/Scripts/plugins/dataTables/swf/copy_csv_xls_pdf.swf")'
                    }
                });
            });
        </script>
    }